{% extends '../page.html' %}
{%
set page = {
  title: pUser.name+' no QI Labs',
  tag: 'profile',
  root: '',
}
%}

{% import '../lib/metaSnippet.html' as metaSnippet %}

{% block meta %}
{{ metaSnippet.makeMetas(pUser.toMetaObject()) }}
{% endblock %}

{% block head %}
{% parent %}
<script>
conf.pageRoot = '{{ pageUrl }}';
user_profile={id:'{{pUser.id}}', name:'{{pUser.name}}', path:'{{pUser.path}}', avatarUrl: '{{pUser.avatarUrl}}',username:'{{pUser.username}}'};
</script>
{% endblock %}

{% block container %}

<header id="ProfileHeader" class="{% if pUser.profile.background %}backgrounded{% endif %}">
	<div class="background">
		<canvas class="blur" src="{{ pUser.profile.background }}" data-blur="3"></canvas>
		<div class="blackout"></div>
	</div>

	<div class="user-avatar">
		<div class="avatar" style="background: url({{ pUser.avatarUrl }})"></div>
	</div>

	<div class="userPrimaryBox">

		{% if user %}
			{% if pUser.id != user.id %}
				{% if follows %}
					<button class="btn-follow" data-action="unfollow" data-user="{{ pUser.id }}"></button>
				{% else %}
					<button class="btn-follow" data-action="follow" data-user="{{ pUser.id }}"></button>
				{% endif %}
			{% else %}
				<a class="button edit-profile" href="/settings">Editar</a>
			{% endif %}
		{% endif %}

		<div class="name">
			<a href="{{ pUser.path }}">
			<span>{{ pUser.name }}</span>
			<span class="username">@{{ pUser.username }}</span>
			</a>
		</div>

		<div class="userDetails">
			<div class="home">{{ pUser.profile.home }}</div>
			<div class="location">{{ pUser.profile.location }}</div>
			<div class="bio">
				{{ pUser.profile.bio }}
			</div>
		</div>

		<div class="userStats">
			<li role="tab" data-tab-type="posts">
				<a href="{{ pUser.path }}">
					<div class="value">{{ pUser.redis.nposts || 0 }}</div>
					<div class="label">posts</div>
				</a>
			</li>
			<li role="tab" data-tab-type="followers">
				<a href="{{ pUser.path }}/seguidores">
					<div class="value">{{ pUser.redis.nfollowers || 0 }}</div>
					<div class="label">seguidores</div>
				</a>
			</li>
			<li role="tab" data-tab-type="following">
				<a href="{{ pUser.path }}/seguindo">
					<div class="value">{{ pUser.redis.nfollowing || 0 }}</div>
					<div class="label">seguindo</div>
				</a>
			</li>
		</div>
	</div>
</header>

<aside id="ProfileSb">

	<section class="userInterests">
		<div class="label">
			Interesses
		</div>
		<ul>
		{% for tag in pUser.preferences.labs %}
			{% set trans = pageMap[tag] %}
			<li>
				{{ trans.name }}
			</li>
		{% endfor %}
		</ul>
	</section>
</aside>

<main id="qi-results" class="qi-stream"></main>
{% endblock %}