
@import "../font-awesome/font-awesome.less";

i[class*=icon] {
	.fa-mixin;
	&.icon-large {
		.fa-mixin-lg;
	}
	vertical-align: middle;
}

i.icon-sum {
	&::before {
		content: "Σ";
		font-weight: bold;
		font-family: serif;
	}
}

.icon-gold { color: #FDE910; }
.icon-silver { color: #E3E4E5; }
.icon-copper { color: #CB6D51; }
.icon-red { color: @COLOR4; }

i.icon-caret-up { .fa-mixin-icon(caret-up); }
i.icon-caret-down { .fa-mixin-icon(caret-down); }
i.icon-quote { .fa-mixin-icon(quote-left); }
i.icon-list { .fa-mixin-icon(list); }
i.icon-folder { .fa-mixin-icon(folder); }
i.icon-cap { .fa-mixin-icon(graduation-cap); }
i.icon-university { .fa-mixin-icon(university); }
i.icon-save { .fa-mixin-icon(floppy-o); }
i.icon-caret-right { .fa-mixin-icon(caret-right); }
i.icon-caret-down { .fa-mixin-icon(caret-down); }

i.icon-bars { .fa-mixin-icon(bars); }
i.icon-lock { .fa-mixin-icon(lock); }
i.icon-unlock { .fa-mixin-icon(unlock); }
i.icon-smile { .fa-mixin-icon(smile-o); }
i.icon-picture { .fa-mixin-icon(picture-o); }
i.icon-cog { .fa-mixin-icon(cog); }
i.icon-edit { .fa-mixin-icon(pencil); }
i.icon-bell { .fa-mixin-icon(bell); }
i.icon-bell-o { .fa-mixin-icon(bell-o); }
i.icon-search { .fa-mixin-icon(search); }
i.icon-lupa { .fa-mixin-icon(search); }
i.icon-question { .fa-mixin-icon(question); }
i.icon-heart { .fa-mixin-icon(heart); }
i.icon-reply { .fa-mixin-icon(reply); }
i.icon-refresh { .fa-mixin-icon(refresh); }
i.icon-heart-o { .fa-mixin-icon(heart-o); }
i.icon-bullhorn { .fa-mixin-icon(bullhorn); }
i.icon-angle-down { .fa-mixin-icon(angle-down); }
i.icon-check { .fa-mixin-icon(check); }
i.icon-globe { .fa-mixin-icon(globe); }
i.icon-link { .fa-mixin-icon(link); }
i.icon-ellipsis { .fa-mixin-icon(ellipsis-h); }

i.icon-check-square { .fa-mixin-icon(check-square); }
i.icon-minus-square { .fa-mixin-icon(minus-square); }
i.icon-map-marker { .fa-mixin-icon(map-marker); }

i.icon-magnet { .fa-mixin-icon(magnet); }
i.icon-square-o { .fa-mixin-icon(square-o); }
i.icon-info { .fa-mixin-icon(info); }
i.icon-share { .fa-mixin-icon(share); }

i.icon-plus { .fa-mixin-icon(plus); }
i.icon-minus { .fa-mixin-icon(minus); }
i.icon-plus-circle { .fa-mixin-icon(plus-circle); }
i.icon-circle { .fa-mixin-icon(circle); }
i.icon-circle-o { .fa-mixin-icon(circle-o); }

i.icon-aup { .fa-mixin-icon(chevron-up); }
i.icon-adown { .fa-mixin-icon(chevron-down); }

i.icon-layout-cards { .fa-mixin-icon(th); }
i.icon-layout-blocks { .fa-mixin-icon(bars); }
i.icon-tup { .fa-mixin-icon(thumbs-o-up); }
i.icon-tdown { .fa-mixin-icon(thumbs-o-down); }

i.icon-twitter { .fa-mixin-icon(twitter); }
i.icon-facebook { .fa-mixin-icon(facebook); }
i.icon-github { .fa-mixin-icon(github-alt); }
i.icon-google-plus { .fa-mixin-icon(google-plus); }
i.icon-skype { .fa-mixin-icon(skype); }
i.icon-linkedin { .fa-mixin-icon(linkedin); }
i.icon-archive { .fa-mixin-icon(archive); }
i.icon-home { .fa-mixin-icon(home); }
i.icon-flag { .fa-mixin-icon(flag); }
i.icon-fire { .fa-mixin-icon(fire); }

i.icon-tag { .fa-mixin-icon(tag); }
i.icon-times { .fa-mixin-icon(times); }
i.icon-times-circle { .fa-mixin-icon(times-circle); }
i.icon-tags { .fa-mixin-icon(tags); }
i.icon-eye { .fa-mixin-icon(eye); }
i.icon-comments-o { .fa-mixin-icon(comments-o); }
i.icon-comments { .fa-mixin-icon(comments); }
i.icon-comment-o { .fa-mixin-icon(comment-o); }
i.icon-comment { .fa-mixin-icon(comment); }
i.icon-certificate { .fa-mixin-icon(certificate); }
i.icon-trophy { .fa-mixin-icon(trophy); }
i.icon-user { .fa-mixin-icon(user); }
i.icon-group { .fa-mixin-icon(users); }
i.icon-sign-out { .fa-mixin-icon(sign-out); }
i.icon-board { .fa-mixin-icon(thumb-tack); }
i.icon-power-off { .fa-mixin-icon(power-off); }
i.icon-print { .fa-mixin-icon(print); }
i.icon-agenda { .fa-mixin-icon(calendar); }
i.icon-guia { .fa-mixin-icon(compass); }
i.icon-guide { .fa-mixin-icon(compass); }
i.icon-trash { .fa-mixin-icon(trash-o); }
i.icon-pencil { .fa-mixin-icon(pencil); }
i.icon-bulb { .fa-mixin-icon(lightbulb-o); }
i.icon-rocket { .fa-mixin-icon(rocket); }
i.icon-flask { .fa-mixin-icon(flask); }
i.icon-bolt { .fa-mixin-icon(bolt); }
i.icon-square { .fa-mixin-icon(square); }
i.icon-puzzle { .fa-mixin-icon(puzzle-piece); }
i.icon-cog { .fa-mixin-icon(cog); }
i.icon-exclamation { .fa-mixin-icon(exclamation); }
i.icon-question { .fa-mixin-icon(question); }

// i.icon-spin { .fa-spin(); }