
@widthSidebar: 250px;
@bgSidebar: #20201F;
@widthOpenSidebar: 40px;

@import (reference) "../../plugins/animate.less";

#sidebarPanel {
	.translate(-@widthSidebar);
}

.sd-blackout {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 29;
	background: fadeout(black, 50%);
	.transition();
	display: none;

	.animated;
	-webkit-animation-duration: .1s;
	   -moz-animation-duration: .1s;
	     -o-animation-duration: .1s;
	        animation-duration: .1s;
	.fadeIn;
}

body.sidebarOpen {
	#openSidebar {
		i {
			display: inline-block;
			.rotate(180deg);
		}
		border: none;
	}
	.sd-blackout {
		display: block;
	}

}
body.loggedIn nav.bar {
	padding-left: @widthOpenSidebar;
}

#openSidebar {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;

	z-index: 50;
	height: @navbar-height;
	width: @widthOpenSidebar;
	line-height: 1;
	text-align: center;
	vertical-align: top;
	
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: #20201F;
	color: white;
	font-weight: 700;

	.transition(all, .4s, linear);

	i {
		.transition-transform(.2s);
		font-size: 20px !important;
		vertical-align: middle;
	}

	&:hover, &:focus, &:active {
		outline: none;
		.no-box-shadow;
	}
}

#sidebarPanel {
	position: fixed;
	left: 0;
	top: 0; bottom: 0;
	width: @widthSidebar;
	background: @bgSidebar;
	padding-top: @navbar-height;
	color: white;
	z-index: 30;

	hr {
		margin: 5px 0;
		border-color: darken(@bgSidebar, 4%);
	}

	& > section {
		padding: 20px 20px 10px 20px;
		font-family: museo-sans;
		font-size: 13px;

		li {
			list-style: none;
			margin: 0 0 15px;
			font-size: 14px;
			
			opacity: .9;
			&:hover {
				opacity: 1;
			}

			&.active {
				padding: 0 20px;
				margin: 0 -20px;
				border-left: 2px solid saturate(#08C, 10%);
			}

			& > a {
				display: block;
				padding: 5px 0;
				text-decoration: none;
				color: #EEE;
				i {
					width: 27px;
					font-size: 17px;
					&.icon-home {
						font-size: 20px;
					}
					&.icon-tags {
						font-size: 16px;
					}
				}
				span {
					vertical-align: middle;
				}
				em {
					display: inline-block;
					width: 19px;
					padding: 0px 3px;
					margin-right: 9px;
					font-size: 15px;

					font-weight: bold;
					text-align: center;
					font-style: normal;
					color: #AAA;
					&.nonzero {
						color: #2ebc71;
					}
				}
			}

			.right {
				float: right;
			}

			&.me {
				position: relative;
				
				opacity: 1;
				span { opacity: .9; }
				&:hover span { opacity: 1; }

				a {
					display: inline-block;
				}

				.avatarWrapper {
					height: 26px;
					width: 26px;
					border-radius: 40px;
					margin-left: -2px;
					margin-right: 4px;
				}

				.cog {
					position: absolute;
					right: 0;
					top: 0;
					line-height: 23px;
					text-align: right;
					opacity: 0.6;
					i {
						font-size: 15px;
					}
					&:hover {
						opacity: 1;
					}
				}
			}

			[data-action=explore] {
				.high-xbtn(white, mix(@COLOR3, @COLOR4));
				width: 100%;
				font-size: 15px;
				i {
					font-size: 17px;
					margin-right: 3px;
				}
				span {
					vertical-align: middle;
				}
			}
			[data-action=show-uv] {
				.high-xbtn(white, mix(@COLOR1, @COLOR2));
				width: 100%;
				font-size: 15px;
				i {
					font-size: 17px;
					margin-right: 3px;
				}
				span {
					vertical-align: middle;
				}
			}
		}

	}

	.sidebarBottom {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;

		color: #888;
		text-shadow: none;
		font-size: 12px;
		text-transform: uppercase;

		li {
			display: inline-block;
		}

		a {
			color: #AAA;
			&:hover {
				color: #EEE;
			}
		}
		
		[data-action=logout] {
			&:hover {
				color: @COLOR4;
			}
		}
	}

}
