
@block-card-width: 750px;
@block-card-height: 145px;
@block-card-margin: 250px;
@block-card-margin-bottom: 23px;
@block-card-body-fontsize: 20px;

@block-header-height: 30px;
@block-footer-height: 36px;

@square-card-width: 234px;
@square-card-height: 230px;
@square-card-margin: 27px;
@square-card-margin-bottom: 27px;
@square-card-body-fontsize: 17px;

// @square-card-width: 270px;
// @square-card-height: 250px;
// @square-card-margin: 40px;
// @square-card-margin-bottom: 40px;
// @square-card-body-fontsize: 22px;

@square-header-height: 35px;
@square-footer-height: 36px;

.wall
{
	text-align: center;

	& > nav {
		display: none;
	}
	
	&.grid {
		padding-top: 20px;
		padding-left: @square-card-margin;
		
		.cardView {
			display: inline-block;
			width: @square-card-width; margin-right: @square-card-margin;
			height: @square-card-height; margin-bottom: @square-card-margin-bottom;
			border: 0;
			.box-shadow(3px, .1);
			border-bottom: 1px solid #D0d0d0;

			.veil {
				bottom: @square-footer-height;
				time {
					display: block;
					margin-top: 100px;
					text-transform: uppercase;
					font: 15px museo-sans;
				}
				text-align: center;
				.transition();
				display: none;

				.animated;
				-webkit-animation-duration: .3s;
				   -moz-animation-duration: .3s;
				     -o-animation-duration: .3s;
				        animation-duration: .3s;
				.fadeIn;
			}

			&:hover .veil {
				// display: block;
				// .fadeIn;
			}

			.cardHeader {
				height: @square-header-height;

				.cardType {
					// display: none;
				}
				.iconStats {
					display: none;
				}
			}

			.cardBody {
				border: 1px solid white;
				border-width: 12px 17px 20px;
				font-size: @square-card-body-fontsize;
				height: @square-card-height - @square-header-height - @square-footer-height - 2;
			}
			
			&:hover {
				.cardFoot .iconStats {
					& > div {
						.transition;

						// background: fadeout(#222,10%);
						&:hover {
						}
						opacity: 1;
						.count {
							opacity: 0;
						}
						i {
							opacity: 1;
						}
					}
				}
			}

			.cardFoot {
				background: #F8F8F6;
				line-height: (@square-footer-height - 1);
				.tags-inline { display: none; }
				font-size: 12px;
				padding: 0;

				time {
					float: left;
					display: none;
				}

				.iconStats {
					height: @square-footer-height;
					& > div {
						height: @square-footer-height;
						// padding: 0 6px;
						margin: 0;
						min-width: 33px;
						text-align: center;
						position: relative;
						opacity: .9;
						.transition;
						color: white;
						font-size: 15px;
						// &.active {
						// 	background: @COLOR4;
						// }
						font-size: 13px;
						color: #f44;
						font-weight: bold;
						.count {
							// color: #777;
						}
					}
					.stats-likes {
						// background: desaturate(lighten(@COLOR4, 5%), 5%);
						// background: #f44;
						margin-right: 5px;
						.icon-red {
							// color: white !important;
						}
						i {
							margin-left: 5px;
						}
					}
					.stats-comments {
						color: #666;
						i {
							margin-left: 5px;
						}
					}
					i {
						position: absolute;
						left: 0;
						top: 0;
						margin: 0 !important;
						line-height: @square-footer-height;
						min-width: 33px;
						opacity: 0;
						.transition;
						font-size: 16px;
					}
				}

				.authorship {
					display: table;
					font-size: 13px;
					display: inline-block;
					vertical-align: top;
					float: left;
					width: 163px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					// float: right;
					// margin-right: -5px;

					.username {
						text-decoration: none;
						color: #444;
					}

					.avatarWrapper {
						margin: 0 6px 0 0;
						vertical-align: top;
						border: 0; // 1px solid #EFEFEF;
						border-radius: 0;
						width: @square-footer-height;
						height: @square-footer-height;
					}				
				}

				i.icon-circle, .tags {
					display: none;
				}

			}
		}

		.cardView.cardIcon {
			font-size: 90px;
			line-height: @square-card-height;
			text-align: center;
			// i { font-size: 50px; }
			background: none;
			border: none;
			i { color: #888; .transition(); }
			i:hover { color: #666; }
		}
	}

	.cardView {
		position: relative;
		text-align: left;
		cursor: pointer;
		vertical-align: top;
		background: white;
		font-family: museo-sans;
		border: 1px solid #DDD;
		border-bottom: 1px solid #CCC;

		// &:hover {
		// 	border-bottom-color: #AAA;
		// }

		.veil {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			display: none;
			background: fadeout(#222,10%);
			color: white;
		}

		.cardHeader {
			padding: 10px;
			font-size: 12px;

			.cardType {
				text-transform: uppercase;
				color: #888;
				&:hover { color: #666 };
			}

			.icon-comment-o { margin-top: -3px; }
		}

		.iconStats {
			float: right;

			& > div {
				display: inline-block;
				cursor: pointer;
				vertical-align: middle;
				color: #888;
				font-size: 1.1em;
				margin-right: 7px;
				list-style: none;

				.tooltip {
					font-size: .9em;
					.tooltip-inner {
						border-radius: 2px;
						padding-top: 1px;
					}
				}
			}

			i { font-size: 1.0em; vertical-align: middle; }

			.icon-red {
				color: red;
			}
		}

		.cardBody {
			width: 100%;
			word-wrap: break-word;
			overflow: hidden;
			font-weight: 500;

			span {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			a {
				text-decoration: none;
			}
		}

		.cardFoot {
			border-top: 1px solid #EEE;
			padding: 0 10px;
			display: table;
			width: 100%;

			time {
				color: #AAA;
				font-size: 12px;
				margin-right: 10px;
				float: right;
			}


			.authorship {
				// float: right;
				display: table;
				// margin-right: -5px;
				font-size: 12px;

				.username {
					text-decoration: none;
					color: #444;
				}

				.avatarWrapper {
					margin: 0 3px 0 5px;
					border: 1px solid #EFEFEF;
					border-radius: 15px;
					width: 25px;
					height: 25px;
				}
				display: inline-block;
				vertical-align: top;
			}

			.tags {
				display: inline-block;
				vertical-align: top;
				margin-left: 5px;

				.tag {
					display: inline;
					font-size: 11px;
					padding: 5px 4px;
					border-bottom: 0;
				}
			}
		}

		&:not(:hover) .cardFoot .tags-inline {
			.tag {
				font-weight: normal;
				color: #666;
				margin-right: 0;
				background: transparent;
				&::after {
					content: ",";
				}
			}
			.tag:last-child::after {
				content: "";
			}
		}

		&:hover .cardFoot .tags-inline {
		}

		&:hover {
			.username { color: #444; }
		}

		.cardCover {
			display: none;
		}
	}

	.listItem {
		@item-height: 100px;

		width: 100%;
		padding: 0 20px;
		background: #fbfbf8;
		max-width: 1150px;
		margin: auto;
		height: @item-height;

		position: relative;
		text-align: left;
		cursor: pointer;
		vertical-align: top;
		font-family: museo-sans;
		border-bottom: 1px solid #CCC;

		display: table;

		.tags {
			.tag {
				background: #AAA;
				border-radius: 10px;
			}
		}
		
		.cell {
			display: table-cell;
			vertical-align: middle;
			height: @item-height;
	
			.item-col {
				max-height: @item-height;
				height: @item-height;
				line-height: @item-height;
				display: inline-block;
				padding: 0 10px;
				text-align: center;
				vertical-align: middle;
			}
			.user-avatar {
				width: 55px;
				height: 55px;
				border-radius: 55px;
			}
			.stats-col {
				color: #444;

				& > div {
					vertical-align: middle;
					display: inline-block;
				}

				i {
					font-size: 19px;
					display: block;
				}
				i.icon-red {
					color: mix(red, @COLOR4);
				}
				.count {
					line-height: 1;
					display: block;
					font-size: 16px;
				}
			}
		}

		.lefty {
			width: 90px;
		}
		.righty {
			width: 60px;
		}
		.center {
			.title {
				font: 20px museo-sans;
				margin: 5px 0;
			}
			.info-bar {
				font-size: 14px;
				time {
					color: #666;
				}				
				.username {
					text-decoration: none;
					color: #444;
					// text-transform: uppercase;
					.pre {
						text-transform: none;
					}
				}
				.icon-circle {
					color: #444;
					margin: 0 9px;
					font-size: 5px;
				}
			}
			.tags {
				display: inline-block;
				vertical-align: top;
				margin-left: 5px;

				.tag {
					display: inline;
					font-size: 11px;
					padding: 5px 4px;
					border-bottom: 0;
				}
			}
		}
	}


	.cardView > .cardFoot {
		// border-top: 2px solid #EEE;
		.transition;
		// .cardView:hover .cardFoot {
		// 	border-top-width: 3px;
		// }
	}
}

.cardView[data-tag=olimpiadas] .cardFoot { border-top-color: @COLOR_OLIMPIADAS; }
.cardView[data-tag=application] .cardFoot { border-top-color: @COLOR_APPLICATION; }
.cardView[data-tag=olimpiadas-matematica] .cardFoot { border-top-color: @COLOR_OLIMPIADAS_MATEMATICA; }
.cardView[data-tag=olimpiadas-informatica] .cardFoot { border-top-color: @COLOR_OLIMPIADAS_INFORMATICA; }
.cardView[data-tag=olimpiadas-fisica] .cardFoot { border-top-color: @COLOR_OLIMPIADAS_FISICA; }
.cardView[data-tag=vestibular] .cardFoot { border-top-color: @COLOR_VESTIBULAR; }
.cardView[data-tag=voluntariado] .cardFoot { border-top-color: @COLOR_VOLUNTARIADO; }
.cardView[data-tag=vestibular-militar] .cardFoot { border-top-color: @COLOR_VESTIBULAR_MILITAR; }
.cardView[data-tag=olimpiadas-quimica] .cardFoot { border-top-color: @COLOR_OLIMPIADAS_QUIMICA; }
.cardView[data-tag=aprendendo-linguas] .cardFoot { border-top-color: lighten(@COLOR2, 10%); }


// 

.cascade {
	0% { .translate(0, -(5*(@square-card-height+@square-card-margin-bottom))); }
	100% { .translate(0, 0); }
}

@-webkit-keyframes wallterfall { .cascade; }
@-moz-keyframes wallterfall { .cascade; }
@-o-keyframes wallterfall { .cascade; }
@keyframes wallterfall { .cascade; }

.wallterfall-screen {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;

	.blackout {
		.blackout(.1);
	}

	.icon-bold {
		font-weight: bold;
	}	

	.wallterfall {
		z-index: -1;
		position: absolute;
		bottom: 0;
		top: 0;
		left: -150px;
		right: -150px;
		.wall {
			-webkit-animation: wallterfall linear 200s infinite;
			-moz-animation: wallterfall linear 200s infinite;
			-o-animation: wallterfall linear 200s infinite;
			animation: wallterfall linear 200s infinite;
			
			.cardView {
				text-align: center;
				i {
					font-size: 100px;
					line-height: @square-card-height;
					color: #CCC;
				}
			}
		}
	}
}
