
@import "../components/formatting.less";
@import "../components/icons.less";

@WidthSidebar: 280px;
@WidthContent: 1020px;

[data-page=guide]:not(.loggedIn),
[data-page=guide_contribute]:not(.loggedIn),
[data-page=guide_home]:not(.loggedIn) {
	nav.bar .navcontent {
		max-width: @WidthContent;
		ul:not(.right) > &:last-child {
			margin-left: 0;
		}
		ul.right > &:last-child {
			margin-right: 0;
		}
	}
	.container {
		max-width: (@WidthContent+20px);
	}
}

.contribute-btn {
	.xbtn(white, darken(mix(@COLOR2, yellow, 50%), 5%));
	border-radius: 25px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 12px;
}

[data-page=guide] {

	@contentPadding: 30px;

	.cContainer {
	}

	.guide {
		width: @WidthContent;
		margin: 0 auto;
		padding: 20px 0;
		display: table;

		font-family: museo-sans;

		.feedback-btn {
			.high-xbtn(white, mix(@COLOR3, yellow, 75%));
			border-radius: 12px;
			font-size: 13px;
			padding: 8px 10px;
		}

		header {
			position: relative;

			.cover { .cover(); background: #888; }
			.blackout { .blackout(); }

			margin-bottom: 10px;
			color: white;

			.thumbnail {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 130px;
				padding-left: 40px;

				i {
					font-size: 140px;
					margin-top: -10px;
				}

				i.icon-circle-compass {
					font-weight: bold;
				}
			}

			.info {
				padding: 40px;
				width: 100%;
				display: table-cell;
				h1 {
					a {
						color: white;
					}
					span {
						font: 20px Lora;
						margin-bottom: 0;
						text-transform: uppercase;
					}
					font: bold 50px Lora;
				}
				p {
					font-size: 17px;
				}
				.contribute-btn {
					float: right;
				}
				.info-authors {
					float: right;
					label {
						display: inline-block;
						font: normal 13px museo-sans;
					}
					.user-avatar {
						margin-left: 5px;
						width: 35px;
						height: 35px;
						border-radius: 35px;
					}
				}
			}
		}

		.sidebar {
			float: left;
			width: @WidthSidebar;

			.sb-input-wrapper {
				position: relative;
				border: 1px solid #DDD;
				border-width: 1px 0 1px 0;
				i {
					position: absolute;
					left: 9px;
					top: 12px;
					color: #888;
				}
				input {
					width: 100%;
					padding: 10px;
					padding-left: 30px;
					border: 1px solid transparent;
					font-size: 14px;
					outline: 0;
					.transition;
				}
				input:focus {
				}
			}

			.subtopicsList > div {
			}

			.topicsList {
				@borderColor: #CCC;

				& > li {
					background: #F8F8F8;
					color: #888;
					border-bottom: 1px solid @borderColor;
					border-width: 0 0 1px 1px;
					a {
						color: #777;
					}

					&.active,
					&.parent {
						a {
							color: white;
							background: @COLOR1;
						}
						i { color: white !important; }
						margin-right: -1px;
						margin-top: -1px;
						border: @COLOR1;
					}
				}
				
				& > li:last-child {
					.border-radius(0, 0, 4px, 0);
					border-bottom-width: 1px;
				}
				
				li {
					position: relative;
					list-style: none;
					color: #666;
					font-weight: bold;
					overflow: hidden;
					
					a {
						display: block;
						padding: 10px 15px;
						font-size: 14px;
						cursor: pointer;
					}

					i {
						position: absolute;
						width: 35px;
						color: #777;
						font-size: 11px;
						text-align: center;
						.icon();
						line-height: 42px;
						height: 42px;
						right: 0px;
						top: 0;
						bottom: 0;
						.transition-transform(.2s);
					}

					&.hasChildren {
						i {
							&:before {
								content: "\f054";
							}
						}
						&.open i {
							-webkit-transform: rotate(90deg) translate(0, 1px);
							-ms-transform: rotate(90deg) translate(0, 1px); // IE9 only
							transform: rotate(90deg) translate(0, 1px);
						}
					}
				}

				li.open + ul {
					display: inherit;
				}

				& > ul {
					display: none;
					background: #FFF;
					border-bottom: 1px solid @borderColor;

					li {
						border-bottom: 1px solid lighten(@borderColor, 10%);
						border-left: 1px solid lighten(@borderColor, 10%);

						a {	
							.transition;
							color: #444;
						}

						&:hover {
							border-left: 0;
							a {
								border-left: 5px solid mix(@COLOR2, @COLOR1);
								color: mix(@COLOR2, @COLOR1);
							}
						}
						&:not(.active):hover {
							// background: #FAFAFA;
						}

						&.active {
							border-left: 0;
							a {
								border-left: 5px solid @COLOR1;
								color: @COLOR1;
							}
						}
					}
					li:last-child {
						border-bottom: 0;
					}
				}
			}

			footer {
				text-align: center;
			}
		}

		.contentCol {
			float: left;
			width: (@WidthContent - @WidthSidebar);
			border: 1px solid #DDD;
			background: white;
			font-size: 15px;

			section > section {
				margin: @contentPadding -@contentPadding -@contentPadding;
			}

			section.content {
				padding: @contentPadding;
				.guideFormatting;
			}

			section.notes {
				.guideFormatting;
				padding: 20px 40px 30px;
				background: #F8F8F6;
				font-family: museo-sans, "Open Sans", sans-serif;
				border-top: 1px solid #CCC;
				ul {
					margin-left: 30px;
				}
			}

			section.wow {
				background: @COLOR3;
				margin: 0 -@contentPadding;
				padding: (@contentPadding - 10) @contentPadding;
				color: white;
				a {
					color: white;		
				}
				&.red {
					background: @COLOR4;
				}
			}

			& > img {
				width: 100%;
				max-height: 300px;
				.background-size(cover);
			}
		}
	}
}

[data-page=guide_contribute] {

	.paper {
		width: 100%;
		max-width: 960px;
		background: white;
		padding: 50px;
		margin: 20px auto;
		border: 1px solid #D0D0D0;

		.guideFormatting;
		font-family: "Open Sans";
		ul {
			margin-left: 30px;
		}

		p {
			margin-bottom: 15px;
		}

		img {
			margin: 15px auto;
			border-radius: 2px;
			width: 80%;
			display: list-item;
			position: relative;
			box-shadow: 0 0 5px rgba(0,0,0,.4);
		}
	}
}

[data-page=guide_home] {
	background: #EEE;

	.contribute-btn {
		float: right;
	}

	.container {
		color: #444;

		.header {
			margin: 40px auto 30px;
			width: @WidthContent;
			// text-align: center;
			.title {
				font: bold 100px museo-sans;
				display: inline-blcok;
				text-transform: uppercase;
				margin-bottom: 10px;
				& > i { margin-top: -20px; }
			}
			.sub {
				font: 17px museo-sans;
				margin-left: 5px;
			}
			input { display: none ;}
		}
		
		.display {
			width: 1050px;
			margin: auto;

			.item {
				position: relative;
				display: inline-block;
				width: 500px;
				background: #FFF;
				margin-bottom: 40px;
				overflow: hidden;
				color: white;
				text-align: center;
				z-index: 1;
				cursor: pointer;
				&:nth-child(2n) {
					margin-left: 44px;
				}
				* {
					cursor: pointer;
				}
				.background {
					.cover();
					background-position: center;
				}

				.ready {
				}

				&[data-tag=application] i {
					background: mix(@COLOR2, #2ECC40);
					padding: 0 0 0 3px;
				}
				&[data-tag=matematica] i {
					background: mix(@COLOR3, mix(#FFDC00, yellow));
					font-weight: bold;
					padding: 0 3px 0 0;
				}
				&[data-tag=vestibular] i {
					background: @COLOR3;
					padding: 3px 2px 0 0;
				}
				&[data-tag=quimica] i {
					padding: 5px 3px 0 0;
				}
				&[data-tag=fisica] i {
					padding: 2px 0 0 0;
				}
				label {
					font-size: 23px;
				}

				i {
					width: 70px;
					height: 70px;
					line-height: 67px;
					border-radius: 70px;
					padding: 0 3px 0 0;
					// border: 3px solid white;
					font-size: 50px;
					display: block;
					background: #333;
					color: white;
					margin: 0 auto 15px;
				}
				.blackout {
					.blackout;
					z-index: 0;
				}
				.item-cover {
					position: relative;
					padding: 30px;

					label {
						display: block;
						text-align: center;
					}
				}

				&:not(.ready)::after {
					position: absolute;
					.rotate(45deg);
					background: @COLOR4;
					box-shadow: 0 0 3px rgba(0,0,0,.2);
					font-weight: bold;
					color: white;
					padding: 5px 33px;
					right: -41px;
					top: 40px;
					text-transform: uppercase;
					content: "Em construção";
				}

				summary {
					display: none;
				}
			}
		}

		table {
			td {
				width: 50%;
				vertical-align: top;
			}

			.guideBox {
				.tagBg;

				padding: 30px;
				display: block;
				color: white;
				// .box-shadow(0,0,5px,.3);

				label {
					color: white;
					font: 18px museo-sans;
				}

				.childBox {
					margin: 5px;
					padding: 5px;
					border: 1px solid white;
				}

				.guideIcon {
					// display: ;
					float: left;
					font-size: 60px;
					margin: -5px 20px 0 0;
					i {
						color: white;
					}
				}
			}
		}
	}

	footer {
		margin: 10px 0 30px;
		text-align: center;

		font-size: 13px;
		color: #555;
		line-height: 18px;
		font-family: museo-sans;
		
		& > div {
			margin-bottom: 20px;
		}

		span, a{
			vertical-align: middle;
		}

		.red {
			color: mix(@COLOR4, red);
			margin-bottom: -3px;
			display: inline-block;
		}

		.icon-circle {
			font-size: 4px;
			margin: 0 0 0 2px;
		}
	}
}