
@import "../components/formatting.less";
@import "../components/icons.less";

@WidthSidebar: 280px;
@WidthContent: 1100px;
@ColorLink: @COLOR1;

@BgSidebarLabel: darken(desaturate(@ColorLink, 15%), 5%);

[data-page=guide]:not(.loggedIn),
[data-page=guide_home]:not(.loggedIn) {
	nav.bar .navcontent {
		max-width: @WidthContent;
	}
	.container {
		max-width: (@WidthContent+20px);
	}
}

[data-page=guide] {

	@contentPadding: 20px;

	.cContainer {
	}

	.wow {
		background: @COLOR3;
		margin: 0 -@contentPadding;
		padding: @contentPadding;
		color: white;
		a {
			color: white;		
		}
	}
	.wow.red {
		background: @COLOR4;
	}
	
	.guide {
		width: @WidthContent;
		margin: 0 auto;
		padding: @contentPadding 0;
		display: table;

		font-family: museo-sans;

		.feedback-btn {
			.high-xbtn(white, mix(@COLOR3, yellow));
			border-radius: 12px;
			font-size: 13px;
			padding: 8px 10px;
		}
		.contribute-btn {
			.high-xbtn(white, darken(mix(@COLOR2, yellow, 50%), 5%));
			border-radius: 15px;
			font-size: 14px;
			// .text-shadow(3px, .2);
			padding: 8px 12px;
		}

		header {
			position: relative;

			.cover { .cover(); background: #888; }
			.blackout { .blackout(); }

			margin-bottom: 10px;
			color: white;

			.thumbnail {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 130px;
				padding-left: 40px;

				i {
					font-size: 140px;
				}

				i.icon-circle-compass {
					font-weight: bold;
				}


			}

			.info {
				padding: 40px;
				display: table-cell;
				h1 {
					a {
						color: white;
					}
					span {
						font: 20px Lora;
						margin-bottom: 0;
						text-transform: uppercase;
					}
					font: bold 50px Lora;
				}
				p {
					font-size: 17px;
				}
				.contribute-btn {
					float: right;
				}
				.info-authors {
					float: right;
					label {
						display: inline-block;
						font: normal 13px museo-sans;
					}
					.user-avatar {
						margin-left: 5px;
						width: 35px;
						height: 35px;
						border-radius: 35px;
					}
				}
			}

		}

		.sidebar {
			float: left;
			width: @WidthSidebar;

			.sb-input-wrapper {
				position: relative;
				border: 1px solid #DDD;
				border-width: 1px 0 1px 1px;
				i {
					position: absolute;
					left: 9px;
					top: 12px;
					color: #888;
				}
				input {
					width: 100%;
					padding: 10px;
					padding-left: 30px;
					border: 0;
					font-size: 14px;
				}
			}

			.subtopicsList > div {
			}

			.topicsList {
				@borderColor: #CCC;

				& > li {
					background: #F8F8F8;
					color: #888;
					border: 1px solid @borderColor;
					border-width: 0 0 1px 1px;
					a {
						color: #777;
					}

					&.active,
					&.parent {
						a {
							color: white;
							background: @ColorLink;
						}
						i { color: white !important; }
						margin-right: -1px;
						margin-top: -1px;
						border: @COLOR1;
					}
				}
				
				& > li:last-child {
					.border-radius(0, 0, 4px, 0);
					border-bottom-width: 1px;
				}
				
				li {
					position: relative;
					list-style: none;
					color: #666;
					font-weight: bold;
					overflow: hidden;
					
					a {
						display: block;
						padding: 10px 15px;
						font-size: 14px;
						cursor: pointer;
					}

					i {
						position: absolute;
						width: 35px;
						color: #777;
						font-size: 11px;
						text-align: center;
						.icon();
						line-height: 42px;
						height: 42px;
						right: 0px;
						top: 0;
						bottom: 0;
						.transition-transform(.2s);
					}

					&.hasChildren {
						i {
							&:before {
								content: "\f054";
							}
						}
						&.open i {
							-webkit-transform: rotate(90deg) translate(1px, 0);
							-ms-transform: rotate(90deg) translate(1px, 0); // IE9 only
							transform: rotate(90deg) translate(1px, 0);
						}
					}
				}

				li.open + ul {
					display: inherit;
				}

				& > ul {
					display: none;
					background: #FFF;
					border-bottom: 1px solid @borderColor;

					li {
						border-bottom: 1px solid lighten(@borderColor, 10%);
						border-left: 1px solid lighten(@borderColor, 10%);

						a {	
							.transition;
							color: #444;
						}

						&:hover {
							border-left: 0;
							a {
								border-left: 5px solid mix(@COLOR2, @COLOR1);
								color: mix(@COLOR2, @COLOR1);
							}
						}
						&:not(.active):hover {
							// background: #FAFAFA;
						}

						&.active {
							border-left: 0;
							a {
								border-left: 5px solid @COLOR1;
								color: @COLOR1;
							}
						}
					}
					li:last-child {
						border-bottom: 0;
					}
				}
			}

			footer {
				text-align: center;
			}
		}

		.contentCol {
			float: left;
			width: (@WidthContent - @WidthSidebar);
			border: 1px solid #DDD;
			background: white;
			font-size: 15px;
			padding: 30px;

			& > .header, .backgrounded {
				color: white;
				a { 
					color: lighten(@COLOR1, 50%);
				}
			}

			.bbText {
				font-size: 15px;
			}

			.backgrounded {
				background: @COLOR1;
				color: white;
			}

			section.content {
				.guideFormatting;
			}

			& > .header {
				padding: 35px;
				margin: -1px;
				background: @COLOR1;
				border: none;

				h1 { font-size: 54px; }
				p { font-size: 19px; }
			}
			& > img {
				width: 100%;
				max-height: 300px;
				.background-size(cover);
			}
		}
	}
}


[data-page=guide_home] {

	background: #F8F8F5;

	#global-container {
		border-top: 1px solid #EEE;
	}

	.container {
		color: #444;

		.header {
			margin: 40px 0 30px;
			// text-align: center;
			.title {
				font: bold 100px museo-sans;
				text-transform: uppercase;
				margin-bottom: 10px;
				i { margin-top: -20px; }
			}
			.sub {
				font: 17px museo-sans;
				margin-left: 5px;
			}
			input { display: none ;}
		}

		table {
			td { width: 50%; vertical-align: top; }

			.guideBox {
				.tagBg;

				padding: 30px;
				display: block;
				color: white;
				// .box-shadow(0,0,5px,.3);

				label {
					color: white;
					font: 18px museo-sans;
				}

				.childBox {
					margin: 5px;
					padding: 5px;
					border: 1px solid white;
				}

				.guideIcon {
					// display: ;
					float: left;
					font-size: 60px;
					margin: -5px 20px 0 0;
					i {
						color: white;
					}
				}
			}
		}
	}

	footer {
		margin: 30px 0 30px;
		text-align: center;

		font-size: 16px;
		color: #555;
		font-family: museo-sans;
		.red {
			color: mix(@COLOR4, red);
			margin-bottom: -3px;
			display: inline-block;
		}

		.brand {
			color: inherit;
		}
	}
}