
@import "../components/formatting.less";
@import "../common.less";

@postColWidth: 740px;
@postColPadding: 30px;

[data-page=post] {
	background: fadeout(black, 30%);
	z-index: 60 !important;

	.postBox {
		min-width: @postColWidth;
		z-index: 1000;
		display: table;
		margin: 40px auto;
		.transition-transform(.4s, linear);

		& > .close-btn {
			position: absolute;
			top: 10px;
			right: 20px;
			font-weight: bold;
		}

		.postCol {
			width: @postColWidth;
			position: relative;
			z-index: 1002;
			background: white;
			font-family: museo-sans;
			margin: auto;

			width: (@postColWidth+50);
			.box-shadow(0,0,10px,.5);

			.postHeader {
				padding: @postColPadding @postColPadding (@postColPadding+10);
				border-bottom: 1px solid #EAEAEA;
				word-wrap: break-word;

				.type, time {
					color: #888;
					font-size: 13px;
					display: inline-block;
				}
				.type {
					text-transform: uppercase;
					padding: 5px;
				}
				time {
					cursor: default;
					float: right;
				}

				.postTitle {
					color: #555;
					font-weight: 800;
					font-size: 40px;
					line-height: 1.1;
					margin: 20px 0 20px;
				}
				
				.tags {
					float: right;
					.tag {
						background: #BBB;
						color: white !important;
						.transition(all, .2s, linear);
						&:not(:hover) {
							border-color: transparent;
						}
					}
				}

				.authorInfo {
					float: left;
					// margin-left: -10px;
					& > .avatarWrapper {
						height: 25px;
						width: 25px;
						border-radius: 40px;
						margin: 0 6px 0 0;
						.box-shadow(1px, .4);
					}
					& > .username {
						font: 13px museo-sans;
						color: #444;
					}
				}
			}

			.postBody {
				clear: both;
				overflow: hidden;
				color: #333;
				padding: @postColPadding;

				word-wrap: break-word;
				font-size: 16px;
				.postBodyFormatting;

				& > img, & > iframe {
					margin: 30px 0;
					max-width: 100%;
				}
				p:first-child img:first-child {
					max-width: 820px;
					margin-left: -40px;
					margin-right: -40px;
					margin-top: -30px;
				}
				& > *:last-child {
					margin-bottom: 0;
				}

				p:empty { display: none; }
			}

			.postFooter {
				padding: .1px;

				.discussionSection {
					font-size: 13px;
					background: #EEE;
					overflow: hidden;

					.exchange-input {
						padding: 15px 20px;
						border-bottom: 1px solid #DDD;
						width: 100%;
						display: table;
						
						& > .left {
							display: table-cell;
							vertical-align: top;
							width: 50px;
							.user-avatar {
								border-radius: 40px;
								width: 40px;
								height: 40px;
								.box-shadow(0 0 0 1px rgba(0,0,0,.4));
							}
						}

						& > .right {
							display: table-cell;
							vertical-align: top;
							padding-left: 15px;
							width: 100%;
							
							.toolbar {
								width: 100%;
								display: table;

								.toolbar-left,
								.toolbar-right {
									display: table-cell;
								}
								.toolbar-right { text-align: right; }
								.toolbar-left { text-align: left; }

								button {
									margin-left: 10px; 
								}

								[data-action=send-comment] {
									.high-xbtn(white, @COLOR2, 2px);
									padding: 8px 15px;
								}
								[data-action=preview-comment] {
									.xbtn(#333, #EEE);
									.transition;
									&:hover {
										background: #DDD;
										color: #222;
										border-color: #BBB; 
									}
									padding: 8px 10px;
									border: 1px solid #CCC;
								}
							}

							textarea {
								padding: 11px;
								border-radius: 3px;
								width: 100%;
								border: 1px solid #BBB;
								max-width: 100%;
								height: 42px;
								resize: vertical;
								.transition;
								&:focus {
									outline: 0;
									.inner-shadow(2px,.2);
									border-color: #AAA;
								}
							}
						}
					}

					.exchanges {
						list-style: none;

						.exchanges-info {
							padding: 20px;
							label {
							}
						}

						.exchange {
							overflow-wrap: break-word;
							padding: 15px 20px;
							border-top: 1px solid #DDD;
							background: #F6F6F3;

							.line {
								display: table;
								width: 100%;

								.line-user {
									display: table-cell;
									width: 50px;
									vertical-align: top;
									padding-right: 15px;

									.user-avatar {
										width: 35px;
										height: 35px;
										border-radius: 35px;
									}
								}

								.name {
									font: bold 13px museo-sans;
									color: #333;
								}

								time {
									float: right;
									font-size: 11px;
								}

								.line-msg {
									display: table-cell;
									vertical-align: top;
									min-height: 40px;

									.line-msg-body {
										vertical-align: middle;
										display: inline-block;
										.no-box-shadow;
										outline: none;
										font-size: 13px;
										width: 100%;
										position: relative;
										padding: 5px 0;

										.arrow {
											content: '';
											border: 5px solid transparent;
											border-top-color: #DDD;
											bottom: -10px;
											position: absolute;
											left: 20px;
										}
									}
								}
							}

							.toolbar {
								position: relative;
								margin-left: 55px;

								& > button {
									background: none;
									border: none;
									outline: none;
									.no-box-shadow;
									padding: 0;
								}

								& > .control {
									display: inline-block;
									font-size: 13px;
									margin-right: 5px;
									color: #666;
									i {
										color: #666;
									}
								}

								[data-voted=true] {
									color: @COLOR2;
								}

								ul.right {
									float: right;
								}

								.optionBtns {
									display: inline-block;

									[data-action=remove-post],
									[data-action=edit-post] {
										.reset-button;
										.user-select(none);
										font-size: 15px;
										color: #888;
										padding: 0;
										vertical-align: middle;
										margin: -2px 0 0 8px;
										.no-box-shadow;
										&:hover {
											color: #444;
										}
									}
								}
							}
							
						}
						.commentWrapper:target {
							background: yellow;
						}
					}
				}

				.commentSection {
					font-size: 13px;
					background: #EEE;
					overflow: hidden;

					.commentList {
						list-style: none;
						padding: 0 5px;

						.commentWrapper:last-child {
							padding-bottom: 5px;
						}

						.commentWrapper {
							overflow-wrap: break-word;

							.msgBody {
								vertical-align: middle;
								display: inline-block;
								.no-box-shadow;
								background: white;
								outline: none;
								font-size: 13px;
								width: 100%;
								position: relative;

								border: 1px solid #DDD;

								.arrow {
									content: '';
									border: 5px solid transparent;
									border-top-color: #DDD;
									bottom: -10px;
									position: absolute;
									left: 20px;
								}
							}

							.infoBar {
								position: relative;
								padding: 5px;
								font-size: 14px;

								.author {
									color: #333;
									text-decoration: none;

									&:hover {
										color: #333;
									}

									& > .avatarWrapper {
										height: 20px;
										width: 20px;
										vertical-align: middle;
										margin-right: 5px;
										border-radius: 15px;
									}

									& > .name {
										vertical-align: middle;
									}
								}

								.voteOptions {
									display: inline-block;
									vertical-align: middle;
									margin: 0 10px;
									cursor: pointer;
									i { font-size: 14px; }
									&:hover {
										color: #222;
									}
								}

								.time {
									font-size: 11px;
								}

								.optionBtns {
									display: inline-block;

									[data-action=remove-post],
									[data-action=edit-post] {
										.reset-button;
										.user-select(none);
										font-size: 15px;
										color: #888;
										padding: 0;
										vertical-align: middle;
										margin: -2px 0 0 8px;
										.no-box-shadow;
										&:hover {
											color: #444;
										}
									}
								}
							}
						}
						.commentWrapper:target {
							background: yellow;
						}
					}

					.commentInputSection {
						position: relative;
						padding: 10px;
						display: table;
						width: 100%;
						
						.avatarWrapper {
							border: 1px solid #DDD;
						}

						textarea {
							.transition(border-color, .2s, linear);
							vertical-align: middle;
							display: inline-block;
							border: 1px solid #DDD;
							.no-box-shadow;
							outline: none;
							font-size: 13px;
							padding: 10px;
							text-align: left;

							width: 100%;
							height: 50px;
							&:focus {
								border-color: #666;
								height: 35px;
							}
							resize: vertical;
						}

						.count {
							padding: 10px;
							font-size: 18px;
							line-height: 50px;

							&.empty {
								color: #AAA;
							}
							&.ilegal {
								color: red;
							}
						}

						[data-action=send-comment] {
							.high-xbtn(white, @COLOR2, 2px, 8px, 11px);
							display: inline-block;
							margin-top: 9px;
							float: right;
							font-size: 13px;
						}
					}

					.showInput {
						padding: 8px 10px;
						font-size: 13px;
						color: #888;
						background: white;

						border: 1px solid #DDD;
						cursor: pointer;
						.transition(all, .2s, linear);
						&:hover {
							color: #666;
						}
					}

					// &:not(.small) {
					// 	border-top: 1px solid #DDD;

					// 	.commentList {
					// 		padding: 20px 0 0;

					// 		label {
					// 			font-size: 17px;
					// 			text-transform: uppercase;
					// 			padding: 0 15px;
					// 			font-weight: normal;
					// 		}

					// 		.commentWrapper {
					// 			padding: 10px 10px 0;
					// 			.msgBody {
					// 				padding: 9px;
					// 				font-size: 14px;
					// 			}

					// 			.infoBar {
					// 				padding: 5px;
					// 				font-size: 14px;

					// 				.avatarWrapper {
					// 					width: 40px;
					// 					height: 40px;
					// 					vertical-align: middle;
					// 					border-radius: 40px;
					// 				}
					// 			}
					// 		}
					// 	}

					// 	.showInput {
					// 		margin: 10px 10px 10px;
					// 	}
					// }

					// &.small {
					// 	border-top: 1px solid #DDD;
					// 	padding: 10px 20px 10px 20px;
					// 	background: #F8F8F8;

					// 	label {
					// 		font: 18px museo-sans;
					// 		margin: 8px 0;
					// 	}

					// 	.commentList .commentWrapper {
					// 		padding: 5px 0;
					// 		border-bottom: 1px solid #EEE;

					// 		.msgBody {
					// 			width: auto;
					// 			border: none;
					// 			display: inline;
					// 			background: none;
					// 			.arrow {
					// 				display: none;
					// 			}
					// 		}
					// 		.infoBar {
					// 			font-size: 12px;
					// 			padding: 5px;
					// 			.author {
					// 				font-weight: bold;
					// 				color: #58A;
					// 			}
					// 			display: inline-block;
					// 		}

					// 		&:last-child {
					// 			border-bottom: none;
					// 		}
					// 	}
		
					// 	.commentInputSection {
					// 		width: 100%;
					// 		padding: 0;
					// 		// padding-right: 70px;
					// 		border: none;
							
					// 		.avatarWrapper {
					// 			border: 1px solid #DDD;
					// 		}

					// 		textarea {
					// 			width: 100%;
					// 			border: 1px solid #CCC;
					// 			height: 36px;
					// 			padding: 7px 10px;
					// 			font-size: 14px;
					// 		}

					// 		.count {
					// 			font-size: 15px;
					// 			line-height: 44px;
					// 		}

					// 		// [data-action=send-comment] {
					// 		// 	padding: 6px 6px;
					// 		// 	display: inline-block;
					// 		// 	margin: 0;
					// 		// 	height: 36px;
					// 		// 	position: absolute;
					// 		// 	border-radius: 0;
					// 		// 	width: 64px;
					// 		// 	right: 0;
					// 		// 	float: right;
					// 		// 	font-size: 13px;
					// 		// }
					// 	}
					// }
				}

				// .answerSection {
				// 	.sectionHeader {
				// 		background: #F8F8F8;
				// 		position: relative;
				// 		border-bottom: 1px solid #EEE;
				// 		line-height: 50px;

				// 		& > label {
				// 			padding: 0 20px;
				// 			font-weight: bold;
				// 			font-size: 17px;
				// 			margin: 0;
				// 			text-transform: uppercase;
				// 		}

				// 		.sortingMenu {
				// 			float: right;
				// 			list-style: none;
				// 			display: inline-block;
				// 			position: relative;
				// 			right: 15px;

				// 			& > label {
				// 				display: inline;
				// 				color: #888;
				// 				font-weight: normal;
				// 				margin: 0;
				// 				margin-right: 12px;
				// 				font-size: 12px;
				// 				text-transform: uppercase;
				// 			}

				// 			.menu {
				// 				display: inline-block;

				// 				.selected {
				// 					background: white;
				// 					font-size: 12px;
				// 					border-radius: 2px;
				// 					width: 95px;
				// 					text-align: center;
				// 					line-height: 33px;
				// 					text-transform: uppercase;
				// 					display: inline-block;
				// 					font-weight: bold;
				// 					cursor: pointer;
				// 					border: 1px solid #EFEFEF;
				// 					border-bottom-color: #CCC;
				// 					color: #444;

				// 					i {
				// 						font-size: 11px;
				// 						float: right;
				// 						line-height: 33px;
				// 						margin-right: 7px;
				// 					}
				// 				}

				// 				&:hover .selected {
				// 					background: #FCFCFC;
				// 					color: #222;
				// 				}

				// 				.dropdown {
				// 					display: none;
				// 					position: absolute;
				// 					top: 100%;
				// 					right: 0;
				// 					z-index: 20;
				// 					margin-top: -8px;
				// 					border-top: 1px solid #DDD;

				// 					li {
				// 						list-style: none;
				// 						background: white;
				// 						text-transform: uppercase;
				// 						padding: 7px 10px;
				// 						width: 95px;
				// 						font: bold 12px museo-sans;
				// 						cursor: pointer;
				// 						border: 1px solid #EEE;
				// 						border-top: 0;
				// 						color: #555;

				// 						&:hover {
				// 							background: #F8F8F8;
				// 						}
				// 					}
				// 				}

				// 				&:hover {
				// 					.dropdown {
				// 						display: block;
				// 					}
				// 				}
				// 			}
				// 		}

				// 		ul {

				// 			li {
				// 				display: inline-block;
				// 				padding: 0 11px;
				// 				height: 40px;
				// 				line-height: 40px;
				// 				vertical-align: bottom;

				// 				&.label {
				// 					// font-weight: bold;
				// 					text-transform: uppercase;
				// 					font-size: 12px;
				// 					display: none;
				// 				}

				// 				&:not(.label) {
				// 					display: none;
				// 				}

				// 				&.active {
				// 					background: white;
				// 					border: 1px solid #EEE;
				// 					border-bottom: none;
				// 					margin-bottom: -1px;
				// 				}

				// 				.dropdown {
				// 				}
				// 			}
				// 		}
				// 	}

				// 	.answerList {
				// 		.answerViewWrapper {
				// 			position: relative;
				// 			border-bottom: 1px solid #DDD;

				// 			.answerView {
				// 				padding: 20px 20px 20px 10px;
				// 				background: white;

				// 				.left {
				// 					min-width: 60px;
				// 					font-size: 12px;
				// 					display: table-cell;
				// 					vertical-align: top;
									
				// 					.voteControl {
				// 						text-align: center;
				// 						margin-top: 20px;
				// 						color: #666;

				// 						.thumbs {
				// 							.btn0;
				// 							.reset-button;
				// 							color: inherit;
				// 							font-weight: normal;
				// 							font-size: 30px;
				// 							.transition(color, .2s, linear);
				// 							&:hover {
				// 								color: darken(@COLOR1, 10%);
				// 							}
				// 						}

				// 						.count {
				// 							padding: 10px 0 0;
				// 							font-size: 24px;
				// 						}

				// 						&.voted {
				// 							.thumbs, .count {
				// 								color: @COLOR3;
				// 							}
				// 						}
				// 					}
				// 				}

				// 				.right {
				// 					width: 100%;
				// 					display: table-cell;
				// 					vertical-align: top;
				// 					// border-bottom: 1px solid #EEE;

				// 					.answerBody {
				// 						font-size: 15px;
				// 						min-height: 60px;
				// 						background: white;
				// 						padding: 0 0 10px;
				// 					}
				// 				}

				// 				.answerBodyWrapper {
				// 					font-size: 15px;
				// 					resize: vertical;

				// 					.answerBody {
				// 						.transition(border, .2s, ease);
				// 						border: 1px solid transparent;
				// 						min-height: 100px;
				// 						padding: 10px;
				// 						color: #444;
				// 						.answerFormatting;
				// 						.transition;
				// 					}
				// 				}
								
				// 				&.editing {
				// 					.answerBodyWrapper {
				// 						.answerBody {
				// 							border: 1px solid #AAA;
				// 							&:focus {
				// 								border: 1px solid;
				// 								border-color: #08C;
				// 								border-width: 1px 1px 1px 1px;
				// 							}
				// 							color: #111;
				// 						}
				// 					}

				// 					.infobar .toolbar {
				// 						.edit, .remove {
				// 							display: none;
				// 						}
				// 						.save, .cancel {
				// 							display: inline-block;
				// 						}
				// 					}
				// 				}

				// 				.infobar {
				// 					border-top: 1px solid #EEE;

				// 					.toolbar {
				// 						display: inline-block;
				// 						margin: 12px 0;

				// 						& > .item {
				// 							display: inline-block;
				// 							text-align: center;
				// 							height: 30px;
				// 							margin-right: 7px;
				// 							width: 30px;
				// 							color: #555;
				// 							line-height: 30px;
				// 							cursor: pointer;
				// 							&:active {
				// 								.inner-shadow(0, 2px, 4px, .3);
				// 							}

				// 							i {
				// 								font-size: 17px;
				// 								vertical-align: middle;
				// 							}
				// 						}
								
				// 						.btn (@color) {
				// 							color: #CCC;
				// 							.transition(all, .2s, linear);
				// 							&:hover {
				// 								color: @color;
				// 							}
				// 						}

				// 						.link 	{ .btn(#555); }
				// 						.share 	{ .btn(#555); }
				// 						.flag 	{ .btn(#777); }
				// 						.edit 	{ .btn(@COLOR1); }
				// 						.remove { .btn(mix(red, @COLOR4)); }
				// 						.tweet 	{ .btn(@COLOR-twitter); }

				// 						.cancel {
				// 							display: none;
				// 							.btn(@COLOR4);
				// 							color: @COLOR4;
				// 							padding-right: 1px;
				// 						}

				// 						.save {
				// 							display: none;
				// 							.btn(@COLOR1);
				// 							color: #08C;
				// 						}
				// 					}

				// 					.answerAuthor {
				// 						float: right;
				// 						margin-right: -20px;
				// 						font-size: 13px;
				// 						position: relative;
				// 						color: #444;
				// 						// padding-bottom: 10px;
				// 						padding: 10px;
				// 						padding-right: 40px;
				// 						pointer: default;

				// 						.transition(all, .2s, ease-out);

				// 						& > .avatarWrapper {
				// 							height: 35px; width: 35px;
				// 							border-radius: 2px;
				// 							margin-right: 10px;
				// 							margin-top: -2px;
				// 							cursor: pointer;
				// 						}

				// 						& > .info {
				// 							cursor: default;
				// 							display: inline-block;
				// 							vertical-align: middle;
				// 							.username {
				// 								font-weight: bold;
				// 							}

				// 							time {
				// 								display: block;
				// 							}
				// 						}

				// 						.answerSidebar {
				// 							.transition-transform(.2s, ease-out);
				// 							position: absolute;
				// 							right: 0;
				// 							bottom: 0;
				// 							z-index: -1;
				// 							.authorInfo {
				// 								padding: 20px;
				// 							}
				// 							.translate(0);

				// 							.authorInfo, .editedByBox {
				// 								label {
				// 									margin-bottom: 10px;
				// 									font: normal 12px museo-sans;
				// 								}
				// 								.bio {
				// 									margin-top: 10px;
				// 									font-size: 12px;
				// 									color: #EEE;
				// 								}
				// 							}
				// 						}

				// 						&:hover .answerSidebar {
				// 							.translate(240px);
				// 						}

				// 						&:hover {
				// 							background: lighten(#DDD, 10%);
				// 						}
				// 					}
				// 				}

				// 				.commentSection {
				// 					background: white;
				// 					margin: 0 0 0 54px;
				// 					padding: 0;
				// 					border: none;

				// 					.showInput {
				// 						display: inline-block;
				// 						padding: 5px;
				// 						margin-top: 5px;
				// 					}

				// 					.commentInputSection {
				// 						margin-top: 5px;
				// 					}
				// 				}
				// 			}
				// 		}

				// 		.optionBtns {
				// 			.transition(all, .2s, linear);

				// 			[data-action=remove-post],
				// 			[data-action=edit-post] {
				// 				background: none;
				// 				display: inline-block;
				// 				font-weight: 700;
				// 				line-height: 1.428571429;
				// 				white-space: nowrap;
				// 				cursor: pointer;
				// 				border-radius: 0;
				// 				border: none;
				// 				outline: none;
				// 				padding: 0;
				// 				margin: 0 0 0 5px;
				// 				.user-select(none);
				// 				vertical-align: middle;
				// 				font-size: 18px;
				// 				font-weight: bolder;
				// 				color: #888;
				// 				&:hover {
				// 					color: #444;
				// 				}
				// 			}
				// 		}
				// 	}

				// 	.showInput {
				// 		padding: 15px;
				// 		font-size: 13px;
				// 		color: #AAA;
				// 		background: white;
				// 		margin: 5px;
				// 		border: 1px solid #DDD;
				// 		cursor: pointer;
				// 	}

				// 	.answerInputSection {
				// 		padding: 10px;
				// 		position: relative;
				// 		display: table;
				// 		width: 100%;
				// 		background: #EEE;

				// 		label {
				// 			font: normal 17px museo-sans;
				// 			margin: 10px 5px;
				// 			color: #666;
				// 		}
						
				// 		.avatarWrapper {
				// 			border: 1px solid #DDD;
				// 		}

				// 		.editorWrapper {
				// 			vertical-align: middle;
				// 			display: inline-block;
				// 			border: 1px solid #DDD;
				// 			.no-box-shadow;
				// 			outline: none;
				// 			font-size: 15px;
				// 			text-align: left;
				// 			background: white;
				// 			width: 100%;

				// 			.editor {
				// 				padding: 20px;
				// 				min-height: 80px;
				// 				&:after {
				// 					padding: 20px;
				// 				}

				// 				p {
				// 					margin: 0;
				// 				}
				// 			}
				// 		}

				// 		[data-action=send-answer] {
				// 			.high-xbtn(white, @COLOR2, 2px, 8px, 11px);
				// 			display: inline-block;
				// 			float: right;
				// 			font-size: 13px;
				// 		}

				// 		.showAnswerInput {
				// 			padding: 8px 10px;
				// 			font-size: 13px;
				// 			color: #888;
				// 			background: white;

				// 			border: 1px solid #DDD;
				// 			cursor: pointer;
				// 			.transition(all, .2s, linear);
				// 			&:hover {
				// 				color: #444;
				// 			}
				// 		}
				// 	}
				// }
			}
		}

		.question {
			display: table;
			width: 950px;

			.contentCol {
				width: 650px;
				display: table-cell;
				vertical-align: top;

				.header {
					height: 50px;

					& > .user-avatar {
						width: 50px;
					}

					.title {
						display: inline-block;
						height: 50px;
						line-height: 50px;
						padding: 0 5px;
						font: bold 23px museo-sans;
					}
				}

				.body-window {
					height: 350px;
					overflow-y: auto;

					.title {
						font: 23px museo-sans; 
					}

					.body-window-content {
						padding: 30px;

						.postBody {
							padding: 0;
						}
					}
				}

				.fixed-footer {
					height: 60px;
					line-height: 60px;
					padding: 0 20px;
					border-top: 1px solid #DDD;
					-webkit-box-shadow: 0 -33px 20px -35px rgba(0,0,0,.5); 
					-moz-box-shadow: 0 -33px 20px -35px rgba(0,0,0,.5);
					box-shadow: 0 -33px 20px -35px rgba(0,0,0,.5); 

					.user-avatar {
						width: 30px;
						height: 30px;
						border-radius: 30px;
						margin-right: 10px;
					}
					.info {
						display: inline-block;
						color: #777;
						font-size: 15px;
						a {
							color: mix(#444, blue, 95%);
							text-decoration: underline;
						}
					}
					.actions {
						display: inline-block;
						float: right;
					}
				}
			}

			.rightCol {
				width: 300px;
				display: table-cell;
				padding: 30px;
				border-left: 1px solid #DDD;
				color: white;
				background: #EEE;
				&.alternative {
					background: mix(@COLOR1, @COLOR2);
				}

				.answer-col-mc {
					width: 300px;
					display: table-cell;

					li {
						display: block;
						margin: 0 0 6px;
						list-style: none;

						button {
							.high-xbtn(white, mix(@COLOR1, @COLOR2));
							margin: 0;
							text-align: left;
							width: 100%;
							font: 17px museo-sans;
						}
					}
				}
			}
		}

		.answer-col {
			// width: 200px;
			background: #333;
			display: table;
			width: 100%;
			color: white;
			
			.left {
				display: table-cell;
				padding: @postColPadding;

				.postBody {
					color: white;
					padding: 0;
				}
				.sauce {
					font-size: 12px;
					color: #DDD;
					margin-top: 10px;
					.detail {
						font-size: 10px;
						text-transform: uppercase;
						background: #EEE;
						display: inline-block;
						padding: 3px 5px;
						color: #222;
						border-radius: 4px;
					}
				}
			}
			.answer-col-mc {
				width: 300px;
				display: table-cell;
				padding: 30px;

				li {
					display: block;
					margin: 0 0 6px;
					list-style: none;

					button {
						.high-xbtn(white, mix(@COLOR1,@COLOR2));
						margin: 0;
						text-align: left;
						width: 100%;
						font: 17px museo-sans;
					}
				}
			}
		}
	}
}
