

@import "../plugins/medium-editor-insert-plugin.less";
@import "../plugins/medium-editor.less";
@import "../components/formatting.less";

[data-page=createPost] {
	width: 100%;
	
	nav.bar {
		[data-action=send-post] {
			.high-xbtn(white, @COLOR1, 4px, 10px, 18px, 4px);
			text-transform: uppercase;
			font-weight: 800;
		}
		[data-action=discart-post] {
			background: none;
			color: #AAA !important;
			font-weight: bold;
			margin-right: 20px !important;
			font-size: 13px;
			text-transform: uppercase;
		}
	}

	#globalContainer {
		padding: 0px 50px;
	}

	.formWrapper {
		padding: 50px;
		width: 900px;
		margin: 0 auto;
	}

	.cardDemo {
		position: absolute;
		left: 100%;
		top: 0px;

		.cardView { margin: 0; cursor: default; }
	}

	#formCreatePost {
		position: relative;
		width: 600px;

		.title {
			font: 800 45px "Open Sans";
			margin-left: -4px;
			letter-spacing: -3px;
			height: 66px;
			resize: none !important;
			overflow: hidden;

			display: block;
			outline: none;
			border: none;
			width: 100%;
			background: transparent;

			border-bottom: 1px solid #CCC;

			::-webkit-input-placeholder,
			:-moz-placeholder,
			::-moz-placeholder,
			:-ms-input-placeholder {
				color: #444;
			}
		}

		#tagSelectionBox {
			position: relative;
			padding-bottom: 5px;
			margin: 15px 0;
			font-family: museo-sans;
			border-bottom: 1px solid #CCC;
			cursor: text;
			
			&.empty {
				padding-bottom: 15px;
			}
			&.focused {
				.iconThumbnail {
					background: @COLOR4;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
				}
				ul .tag {
					background: @COLOR2;
					border-color: rgba(0,0,0,.2);
				}
			}

			.iconThumbnail {
				position: absolute;
				left: -40px;
				// top: -5px;
				line-height: 30px;
				background: #BBB;
				-webkit-transition: -webkit-transform 200ms ease-in,color 100ms ease-in;
				-moz-transition: -moz-transform 200ms ease-in,color 100ms ease-in;
				-o-transition: -o-transform 200ms ease-in,color 100ms ease-in;
				transition: transform 200ms ease-in,color 100ms ease-in;
				-webkit-transform-origin: center;
				-moz-transform-origin: center;
				-ms-transform-origin: center;
				-o-transform-origin: center;
				transform-origin: center;
				.transition(all, .2s, linear);

				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.placeholder {
				position: absolute;
				border: none;
				color: #AAA;
				outline: none;
				background: none;
				font-size: 19px;
			}
			&.focused .placeholder {
				display: none;
			}
			
			ul {
				display: inline;
				.tag {
					list-style: none;
					padding: 7px 10px;
					display: inline-block;
					font-size: 13px;
					background: #666;
					border-color: transparent;
					.transition(all, .2s, linear);
					i {
						margin-left: 5px;
						font-size: 15px;
						font-weight: normal;
					}
				}
			}

			#tagInput {
				border: none;
				outline: none;
				background: none;
				font-size: 19px;
			}

			.twitter-typeahead {
				.typeahead,
				.tt-query,
				.tt-hint {
					width: 396px;
					height: 30px;
					padding: 4px 8px;
					font-size: 18px;
					line-height: 30px;
					border: 2px solid #ccc;
					.rounded(0);
					outline: none;
				}
				vertical-align: middle;

				.typeahead {
					background: white;
					&:focus {
						border: 2px solid #0097cf;
					}
				}

				.tt-query {
					.inner-shadow(0, 1px, 1px rgba(0,0,0,.075));
				}

				.tt-hint {
					color: #999;
				}

				.tt-dropdown-menu {
					cursor: pointer;
					width: 422px;
					margin-top: 12px;
					padding: 8px 0;
					background-color: #fff;
					border: 1px solid #ccc;
					border: 1px solid rgba(0, 0, 0, 0.2);
					.box-shadow(0, 5px, 10px, rgba(0,0,0,.2));
					position: absolute;
					top: 100%;
					left: 0px;
					z-index: 100;	

					// background-color: white;
					// display: none;
					right: auto;
					width: 300px;
					// // margin-top: -10px;
					// border-bottom-left-radius: 5px;
					// border-bottom-right-radius: 5px;
					// border: 1px solid rgb(221, 221, 221);
					// border-top: none;
					// font-size: 16px;
					// font-weight: normal;

					.tt-suggestion {
						padding: 3px 20px;
						font-size: 15px;
						line-height: 24px;

						cursor: pointer;
						padding: 8px;
						margin: 0;
						&:hover {
							background: @COLOR3;
							color: white;
						}
						&:not(:last-child) {
							border-bottom: 1px solid #DDD;
							
						}
						
						label {
							margin: 0 0 6px;
							font: normal 17px museo-sans;
						}

						.detail {
							font: normal 13px museo-sans;
							font-weight: normal !important;
							strong { font-weight: normal; }
						}
						
						&.tt-cursor {
							color: white;
							background-color: @COLOR1;
						}
					}

					.empty-message {
						padding: 10px;
					}

				}
			}

			.tt-hint {
				background: transparent;
			}

			// .twitter-typeahead,
			// .twitter-typeahead input {
			// 	width: 100%; 
			// }
		}

		.bodyWrapper {
			color: black;
			font-size: 16px;
			color: #333;
			min-height: 300px;
			resize: vertical;

			.editable {
				font-family: museo-sans;
				font-size: 17px;
			}

			.postBodyFormatting;

			h1 {
				margin-bottom: 40px;
			}
		}
	}

	.wordCounter {
		position: fixed;
		right: 40px;
		bottom: 20px;
		font-weight: 800;
		text-transform: uppercase;
		color: #BBB;
		&:hover {
			color: #888;
		}
		.transition(all,.2s,linear);
		cursor: default;
	}

	#postTypeSelection {
		width: 1000px;
		margin: 70px auto;
		text-align: center;

		& > label {
			font: normal 22px museo-sans;
		}

		.optionsWrapper {
			margin: 30px 0 0;

			.postOption {
				display: inline-block;
				opacity: .8;	
				.transition;
				&:not(:last-child) {
					margin-right: @square-card-margin;
				}

				.card {
					cursor: pointer;
					background: white;
					width: @square-card-width;
					height: @square-card-height;
					outline: 1px solid #DDD;

					[class*=icon-] {
						font-size: 150px;
						line-height: @square-card-height;
					}

				}
				&:hover {
					opacity: 1;
				}

				&:nth-child(1) .card { border-bottom: 8px solid @COLOR1; }
				&:nth-child(2) .card { border-bottom: 8px solid @COLOR2; }
				&:nth-child(3) .card { border-bottom: 8px solid @COLOR3; }

				.info {
					& > label {
						font: normal 18px museo-sans;
						margin: 10px 0;
						text-transform: uppercase;
					}
					
				}

			}
			
		}
	}

}