
[data-page=tag] {
	#globalHead {
		background: #444;
		// background: desaturate(darken(#fe3f44,0%),25%);
		position: relative;
		overflow: hidden;
		color: white;

		.profileWrapper, nav { position: relative; z-index: 10; }

		& > .tagProfile {
			text-align: center;
			max-width: 800px;
			// padding: 50px;
		}

		.tagProfile {
			padding: 50px;
			text-align: left;
			margin: auto;
			padding-right: 20px;

			.tagLabel {
				.name { font-size: 40px; font-weight: bold; }
				.iconThumbnail {
					margin-right: 10px;

					text-shadow: 2px 2px 0 rgba(0, 0, 0, .2),
						3px 3px 0 rgba(0, 0, 0, .2),
						5px 5px 0 rgba(0, 0, 0, .2)
					;
				}
				margin-bottom: 10px;
			}

			.bio {
				padding: 20px 0;
				font-family: museo-sans;
				font-size: 17px;
			}
		}

		.acessarGuia {
			font-size: 20px;
			// text-transform: upeprcase;
			font-weight: bold;
			background: white;
			.high-xbtn(white, @COLOR3);
		}

		.tagList {
			font-family: museo-sans;
			label {	
				font-weight: normal;
				display: block;
			}
			button, li {
				i { margin-right: 3px; display: none; }
				display: inline-block;
				// background: @COLOR2;
				padding: 8px 12px;
				background: #AAA;
				border-radius: 1px;
				color: white;
				padding: 7px 11px;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 2px solid rgba(0,0,0,.3);
				&:hover {
					background: #888;
				}
			}
		}

		.tagMenu {
			display: none;
			// width: 300px;
			padding-left: 50px;

			button {
				width: 100%;
				line-height: 40px;
				font-size: 25px;
				color: white;
				border-radius: 0;
			}

			button:nth-child(1) { background: @COLOR1; }
			button:nth-child(2) { background: @COLOR2; }
			button:nth-child(3) { background: @COLOR3; }
		}
	}

	.gcontainer {
		& > header {
			background: #444441;
			padding: 40px;
			color: white;

			.tag-thumbnail {
				width: 80px;
				height: 80px;
				border-radius: 80px;
				background: @COLOR2;

				i {
					font-size: 70px;
					.text-shadow(3px, .3);
				}
			}
		}

		& > nav {
			background: #EEE;
			@nav-height: 45px;
			border-bottom: 1px solid #CCC;

			& > ul,
			.container > ul {
				display: inline-block;
				&.right {
					float: right;
					li {
						margin-right: 0;
					}
				}

				li {
					list-style: none;
					display: inline-block;
					position: relative;
					line-height: @nav-height;
					vertical-align: middle;
					button {
						.xbtn(#222, #EEE);
						line-height: 32px;
						padding: 0 8px;
						vertical-align: middle;
						border-radius: 4px;
					}
					button.active {
						.inner-shadow(3px, .4);
						background: #E4E4E4;
					}

					&.check-btns {
						margin-left: 15px;

						& > i {
							margin: 0 4px;
						}
					}
				}

				.btn-group {
					line-height: 30px;
					.btn {
						.xbtn(#222, #EEE);
						border: 1px solid #CCC;
						padding: 0 10px;
						&.active {
							.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
						}
						i {
							font-size: 15px;
						}
						&:hover {
							background: #f2f2f2;
						}
					}
					.colored (@color) {
						&:not(.active):hover {
							border-color: #CCC;
							color: @color;
						}
						&.active {
							color: white;
							border-color: darken(@color, 10%);
							.box-shadow(inset 0 2px 5px darken(fadeout(@color,80%),70%));
							background: @color; 
						}
					}
					.fire-btn { .colored(mix(yellow,@COLOR3,20%)); }
					.user-btn { .colored(@COLOR2); }
					.clock-btn { .colored(mix(#AAA, @COLOR1)); }
					.globe-btn { .colored(mix(#08C,@COLOR1)); }
				}
			}
		}
	}
}