{% if nconf.get("GLOBAL_MESSAGE") %}
<div class="global-strip">
	<span>{{ nconf.get("GLOBAL_MESSAGE") }}</span>
	<i onClick="$(this.parentElement).slideUp()" class="close-btn"></i>
</div>
{% endif %}
<nav class="bar{{ ' '+navbarClass }}" role="navigation" id="navbar">
<div class="navbar-content">
	<div class="navbar-qi-brand">
		<a class="brand-icon" href="/">
			<i class="icon-lightbulb"></i>
			<span>QI LABS</span>
		</a>
	</div>

	<ul class="navbar-navigation">
		{% switch pageRoot %}
			{#
				<li id="ttip-labs"
					data-toggle="tooltip" data-container="#navbar" data-placement="bottom" title="Laboratórios">
					<a class="nav-btn labs {% if pageRoot === 'labs' %}active{% endif %}" href="/">
						<!-- <i class="icon-lab"></i> -->
						<i class="icon-group-work"></i>
					</a>
				</li>
				<li id="ttip-problems"
					data-toggle="tooltip" data-container="#navbar" data-placement="bottom" title="Problemas">
					<a class="nav-btn problems {% if pageRoot === 'problems' %}active{% endif %}" href="/problemas">
						<!-- <i class="icon-pencil" style="font-size: .90em"></i> -->
						<i class="icon-extension"></i>
						<!-- <i class="icon-school"></i> -->
						<!-- <i class="icon-question-answer"></i> -->
						{% if pageRoot === 'problems' %}<span>PROBLEMAS</span>{% endif %}
					</a>
				</li>
				<li id="ttip-guides"
					data-toggle="tooltip" data-container="#navbar" data-placement="bottom" title="Guias">
					<a class="nav-btn guides {% if pageRoot === 'guides' %}active{% endif %}" href="/guias">
						<!-- <i class="icon-compass" style="font-size: 1.12em"></i> -->
						<i class="icon-local-library"></i>
						<!-- <i class="icon-explore"></i> -->
						{% if pageRoot === 'guides' %}<span>GUIAS</span>{% endif %}
					</a>
				</li>
			#}
			{% case "AAAguides" %}
				<li id="ttip-guides"
					{# data-toggle="tooltip" data-container="#navbar" data-placement="bottom" title="Guias" #}>
					<a class="nav-btn guides {% if pageRoot === 'guides' %}active{% endif %}" href="/guias">
						<!-- <i class="icon-compass" style="font-size: 1.12em"></i> -->
						<i class="icon-local-library"></i>
						<!-- <i class="icon-explore"></i> -->
						{% if pageRoot === 'guides' %}<span>GUIAS</span>{% endif %}
					</a>
				</li>{% if pageId == "guide-page" %}{% for item in navbarOpts.navMenu %}{% if loop.first %}<li class="nav-menu-label standout">{% else %}{% if loop.last %}<li class="nav-menu-label active">{% else %}<li class="nav-menu-label">{% endif %}{% endif %}
						<a href="{{ item.url }}">
							<i class="icon-uniE65D"></i>
							{% if item.icon %}
							<strong><i class="icon-thumbnail {{ item.icon }}"></i></strong>
							{% endif %}
							<span>
								{{ item.name }}
							</span>
						</a>
					</li>{% endfor %}
				{% endif %}
			{% case 'AAAproblems' %}
				<li data-toggle="tooltip" id="ttip">
					<a class="nav-btn problems {% if pageRoot === 'problems' %}active{% endif %}" href="/problemas">
						<i class="icon-extension"></i>
						<!-- <i class="icon-pencil" style="font-size: .90em"></i> -->
						<!-- <i class="icon-school"></i> -->
						<!-- <i class="icon-question-answer"></i> -->
						{% if pageRoot === 'problems' %}<span>PROBLEMAS</span>{% endif %}
					</a>
				</li>
			{% case "AAAlabs" %}
				<li data-toggle="tooltip" id="ttip-labs">
					<a class="nav-btn labs {% if pageRoot === 'labs' %}active{% endif %}" href="/problemas">
						<!-- <i class="icon-pencil" style="font-size: .90em"></i> -->
						<!-- <i class="icon-school"></i> -->
						<!-- <i class="icon-question-answer"></i> -->
						{% if pageRoot === 'labs' %}<i class="icon-question-answer"></i> <span>LABORATÓRIOS</span>{% endif %}
					</a>
				</li>
			{% case 'profile' %}
				{% set firstName = pUser.name|split(' ')|first %}
				<li class="nav-menu-label standout">
					<i class="icon-thumbnail icon-user2"></i>
					<span class="pageLabel">
						{{ pageDetailLabel }}
					</span>
				</li>
			{% case 'AAAranking' %}
				<li class="nav-menu-label standout">
					<i class="icon-thumbnail icon-trophy"></i>
					<span class="pageLabel">
						Ranking
					</span>
				</li>
		{% endswitch %}

			<li data-toggle="tooltip" id="ttip-labs">
				<a class="nav-btn labs {% if pageRoot === 'labs' %}active{% endif %}" href="/">
					<span>Laboratórios</span>
				</a>
			</li>
			<li data-toggle="tooltip" id="ttip-problems">
				<a class="nav-btn problems {% if pageRoot === 'problems' %}active{% endif %}" href="/problemas" {% if !user %}onClick="app.flash.info('<strong>Crie uma conta no QI Labs</strong> para poder resolver problemas de Olimpíadas.'); return false"{% endif %}>
					<span>Problemas Olímpicos</span>
				</a>
			</li>
			<li data-toggle="tooltip" id="ttip-guides">
				<a class="nav-btn guides {% if pageRoot === 'guides' %}active{% endif %}" href="/guias">
					<span>Enciclopédia</span>
				</a>
			</li>
			<li data-toggle="tooltip" id="ttip-ranking">
				<a class="nav-btn ranking {% if pageRoot === 'ranking' %}active{% endif %}" href="/ranking">
					<span>Ranking</span>
				</a>
			</li>
	</ul>
	{% if user %}
	<ul class="right">
		<li id="ttip-karma" title="Sua Pontuação">
			<button class="karma icon-btn" id="nav-karma" data-action="show-karma">
				<span ref="nCount" class="count" data-info="user-karma">{{ user.stats.karma }}</span> <i class="icon-atom"></i>
			</button>
		</li><li id="ttip-bell" title="Notificações">
			<button id="nav-bell" class="icon-btn bell" data-action="show-notifications">
				<i class="icon-notifications"></i><sup class="count" data-info="unseen-notifs">0</sup>
			</button>
		</li>{#<li id="ttip-new-post" title="Escrever post">
			<button class="icon-btn pencil" data-trigger="component" data-component="createPost" data-href="/novo">
				<i class="icon-edit"></i>
			</button>
		</li>#}<li class="nav-dropdown" id="ttip-dd-menu">
		 	<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle">
				<div class="avatarDd" style="background-image: url('{{ user.avatarUrl }}')">
				</div>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="{{ user.path }}">
						<i class="icon-user2"></i> Meu Perfil
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem"  tabindex="-1" href="{{ urls.settings }}">
						<i class="icon-settings"></i> Configurações
					</a>
				</li>
				{% if user.flags.editor %}
				<li role="presentation">
					<a role="menuitem"  tabindex="-1" href="/admin">
						<i class="icon-apps"></i> Administração
					</a>
				</li>
				{% endif %}
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.feedbackForm }}">
						<i class="icon-report-problem"></i> Relatar Problema
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.about }}">
						<i class="icon-info"></i> Sobre o Site
					</a>
				</li>
				{#<li role="presentation" class="divider"></li>#}
				<li role="presentation">
					<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ urls.logout }}" data-redirect-href="/">
						<i class="icon-exit-to-app"></i> Sair
					</a>
				</li>
			</ul>
		</li>
	</ul>
	{% else %}
	<ul class="right">
		{% switch pageId %}
			<li>
				<a href="/sobre" class="button text-button">
					Sobre o QI Labs
				</a>
			</li>
			<li>
				<a href="/entrar" class="button login">
					Entrar
				</a>
			</li>
		{% endswitch %}
	</ul>
	{% endif %}
</div>
</nav>