{% if nconf.get("GLOBAL_MESSAGE") %}
<div class="global-strip">
	<span>{{ nconf.get("GLOBAL_MESSAGE") }}</span>
	<button onClick="$(this.parentElement).slideUp()" class="icon-close"></button>
</div>
{% endif %}

<nav class="bar{{ ' '+navbarClass }}" role="navigation" id="navbar">
<div class="navbar-content">
	<div class="navbar-qi-brand">
		{% switch root %}
			<a class="brand-icon" href="/">
				<i class="icon-lightbulb"></i>
				<span>QI LABS</span>
			</a>
			{% case 'olympiads' %}
			<a class="brand-icon" href="/olimpiadas">
				<i class="icon-lightbulb"></i>
				<span>QI LABS</span> <span class="extra">Olimpíadas</span>
			</a>
			{% case 'labs' %}
			<a class="brand-icon" href="/">
				<i class="icon-lightbulb"></i>
				<span>QI LABS</span> <span class="extra">Fórum</span>
			</a>
			{% case 'guides' %}
			<a class="brand-icon" href="/guias">
				<i class="icon-lightbulb"></i>
				<span>QI LABS</span> <span class="extra">Enciclopédia</span>
			</a>
		{% endswitch %}
	</div>

	<ul class="navbar-navigation">
		{% if root !== 'labs' %}
		<li data-toggle="tooltip" id="ttip-olympiads">
			<a class="button nav-btn" href="/">
				<span>Fórum</span>
			</a>
		</li>
		{% endif %}
		{% if root !== 'olympiads' %}
		<li data-toggle="tooltip" id="ttip-olympiads">
			<a class="button nav-btn olympiads" data-activate-root="olympiads" href="/olimpiadas">
				<span>Olimpíadas</span>
			</a>
		</li>
		{% endif %}
		{% if root !== 'guides' %}
		<li data-toggle="tooltip" id="ttip-guides">
			<a class="button nav-btn guides" data-activate-root="guides" href="/guias">
				<span>Enciclopédia</span>
			</a>
		</li>
		{% endif %}
		{#
		<li data-toggle="tooltip" id="ttip-ranking">
			<a class="button nav-btn ranking" data-activate-root="ranking" href="/ranking">
				<span>Ranking</span>
			</a>
		</li>
		#}
	</ul>
	{% if user %}
	<ul class="right">
		<li id="ttip-karma" title="Sua Pontuação">
			<button class="karma nav-icon-btn" id="nav-karma" data-action="show-karma">
				<span ref="nCount" class="count" data-info="user-karma">{{ user.stats.karma }}</span> <i class="icon-lightbulb"></i>
			</button>
		</li><li id="ttip-bell" title="Notificações">
			<button id="nav-bell" class="nav-icon-btn bell" data-action="show-notifications">
				<i class="icon-notifications"></i><sup class="count" data-info="unseen-notifs">0</sup>
			</button>
		</li><li class="navbar-dropdown" id="ttip-dd-menu">
		 	<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle">
				<div class="avatar" style="background-image: url('{{ user.avatarUrl }}')">
				</div>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="{{ user.path }}">
						<i class="icon-person"></i> <span>Meu Perfil</span>
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem"  tabindex="-1" href="{{ urls.settings }}">
						<i class="icon-settings"></i> <span>Configurações</span>
					</a>
				</li>
				{% if user.flags.editor %}
				<li role="presentation">
					<a role="menuitem"  tabindex="-1" href="/admin">
						<i class="icon-apps"></i> <span>Administração</span>
					</a>
				</li>
				{% endif %}
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.feedbackForm }}">
						<i class="icon-flag"></i> <span>Relatar Problema</span>
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.about }}">
						<i class="icon-info"></i> <span>Sobre o Site</span>
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ urls.logout }}" data-redirect-href="/">
						<i class="icon-exit_to_app"></i> <span>Sair</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	{% else %}
	<ul class="right">
		<li>
			<a href="/sobre" class="button about">
				SOBRE O QI LABS
			</a>
		</li>
		<li>
			<a href="/entrar" class="button login">
				<i class="icon-facebook"></i> <span>Entrar</span>
			</a>
		</li>
	</ul>
	{% endif %}
</div>
</nav>
<script>
if (document.body.dataset.root) {
	var root = document.body.dataset.root;
	var l = document.querySelectorAll('[data-activate-root="'+root+'"]');
	for (var i=0; i<l.length; ++i) {
		l[i].className += " active";
	}
}
</script>