<div id="sidebar-backdrop" class="qi-sb-backdrop"></div>

<div id="sidebar" class="qi-sb">

	<div class="qi-sb-section {% if !pageRoot || pageRoot === 'home' %}active{% endif %}" onClick="location.href='/'"
	>
		<div class="contract home">
			<button class="icon-btn"
			data-toggle="Atooltip" data-placement="right"
			data-container="#sidebar" title="Início">
				<i class="icon-lightbulb"></i>
			</button>
		</div>
		<div class="expand">
		</div>
	</div>

	<div class="qi-sb-section {% if pageRoot === 'labs' %}active{% endif %} labs">
		<div class="contract">
			<button class="icon-btn"
			data-component="openSidebarPlane"
			data-trigger="component"
			data-plane="interests-plane"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Laboratórios">
				<!-- <i class="icon-lab"></i> -->
				<i class="icon-group-work"></i>
			</button>
			<button class="label-btn expand">
				Laboratórios
			</button>
		</div>
	</div>

	<div class="qi-sb-section {% if pageRoot === 'problems' %}active{% endif %}">
		<div class="contract problems" onClick="location.href='/problemas'">
			<button class="icon-btn"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Problemas">
				<!-- <i class="icon-pencil" style="font-size: .90em"></i> -->
				<!-- <i class="icon-extension"></i> -->
				<i class="icon-school"></i>
				<!-- <i class="icon-question-answer"></i> -->
			</button>
			<button class="label-btn expand">
				Problemas
			</button>
		</div>
		<div class="expand">
		</div>
	</div>

	<div class="qi-sb-section {% if pageRoot === 'guides' %}active{% endif %}">
		<div class="contract guides" onClick="location.href='/guias'">
			<button class="icon-btn"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Guias">
				<!-- <i class="icon-compass" style="font-size: 1.12em"></i> -->
				<!-- <i class="icon-local-library"></i> -->
				<i class="icon-explore"></i>
			</button>
			<button class="label-btn expand">
				Guias
			</button>
		</div>
		<div class="expand">
		</div>
	</div>

	<footer>
		<div class="qi-sb-section notifications">
			<div class="contract">
				<button class="icon-btn">
					<i class="icon-notifications-none"></i>
				</button>
				<button class="label-btn expand">
					<span class="count">4</span> Notificações
				</button>
			</div>
			<div class="expand">
			</div>
		</div>
		<div class="qi-sb-section user">
			<div class="contract">
				<button class="icon-btn avatar-btn">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('{{ user.avatarUrl }}')"></div>
					</div>
				</button>
			</div>
			<div class="expand">
			</div>
		</div>
	</footer>
</div>

<div class="qi-sb-plane" id="interests-plane">
	<div class="title">Laboratórios <button class="edit">editar</button></div>
	<ul>
	{% for lab in pageMap %}
		<li data-lab="{{ loop.key }}">
			<i class="dot icon-circle tag-color" data-tag="{{ loop.key }}"></i> <span class="name">{{ lab.name }}</span>
			{% if user.preferences.labs.indexOf(loop.key) != -1 %}
				<button data-toggle="tooltip" data-placement="right" title="Você segue esse laboratório." class="pin active"><i class="icon-pin"></i></button>
			{% else %}
				<button class="pin"><i class="icon-pin"></i></button>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
