{% extends '../page.html' %}
{%
set page = {
	title: guidePage.name,
	tag: 'guide',
	root: 'guides',
}
%}

{% import '../lib/metaSnippet.html' as metaSnippet %}

{% block meta %}
	{% set smallHtml = guidePage.html.slice(0,500) %}
	{{ metaSnippet.makeMetas({
		title: "Guia "+guide.name+" · QI Labs",
		path: 'http://qilabs.org'+guide.path,
		description: smallHtml.replace(RegExp('(<([^>]+)>)','ig'),""),
		image: "http://qilabs.org/static/images/bb-square-lb-1024.png",
	}) }}
{% endblock %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i'>
	<script>document.documentElement.className += " unfixed"</script>
{% endblock %}

{% block container %}

<div class="guide-wrapper">

	<header class="guideHeader">
		<canvas class="blur" data-blur="4" src="{{ guideRoot.background }}"></canvas>
		<div class="blackout"></div>
		<div class="info">
			<h1>
				<a href="/guias{{ guideRoot.absolutePath }}">
				<small>Guia</small><br />
				{{ guideRoot.name }}</a>
			</h1>
			<p>
				{{ guideRoot.bio }}
			</p>
			<div class="info-authors">
				{% if guideRoot.contributors.length %}
				<label>Últimas Edições</label>
				{% for person in guideRoot.contributors|slice(5) %}
					<a href="{{ person.path }}">
						<div class="user-avatar">
							<div class="avatar" style="background-image: url('{{ person.avatar_url }}')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{ person.name }}"></div>
						</div>
					</a>
				{% endfor %}
				{% endif %}
			</div>
			<div class="authorship">
				{{ guideRoot.authorHTML|safe }}
			</div>
		</div>
	</header>

	<div class="sidebar">
		<div class="topicsList" id="guide-nav">
			{% for g in guideRoot.children %}
			<li
				{% if g.children.length %}class="has-children"{% endif %}
				data-nchildren="{{ g.children.length }}"
				data-path="{{ g.absolutePath }}"
				>
				{% if g.file %}
					<a class="link" href="{{ '/guias'+g.absolutePath|default('#') }}">{{ g.name }}</a>
				{% else %}
					<div class="link">{{ g.name }}</div>
				{% endif %}
			</li>
			<ul>
				{% for g2 in g.children %}
				<li data-path="{{ g2.absolutePath }}">
					<a class="link" href="{{ '/guias'+g2.absolutePath }}">{{ g2.name }}</a>
				</li>
				{% endfor %}
			</ul>
			{% endfor %}
		</div>

		<div class="buttons">
			<button onClick="window.open('https://docs.google.com/forms/d/1muCz4nyeGmoMeH1IqG22av_MjyClzHvv3OiqmnxVAFI/viewform')" class="feedback-btn" id="guide-feedback-btn">
				Sabe como melhorar esse texto?
			</button>
			<!--
			{% if guidePage.linkSource %}
			<a href="{{ guidePage.linkSource }}" class="button goto-github">
				Ver no <i class="icon-github"></i> Github
			</a>
			{% endif %}
			-->
		</div>
	</div>

	<div class="contentCol">
		<div class="section content">
			{{ guidePage.html|safe }}
		</div>
		{% if guidePage.notes %}
		<div class="section notes">
			{{ guidePage.notes|safe }}
		</div>
		{% endif %}
		{% if guideRoot.author %}
		<div class="section author">
			<a href="{{ guideRoot.author.path }}">
				<div class="user-avatar">
					<div class="avatar" style="background-image: url('{{ guideRoot.author.avatar_url }}')" alt="{{ guideRoot.author.name }}"></div>
				</div>
				<div class="right">
					<div class="name">
						{{ guideRoot.author.name }}
					</div>
					<div class="location">
						{{ guideRoot.author.profile.location }}
					</div>
				</div>
			</a>
		</div>
		{% endif %}
	</div>
</div>

<footer>
	<i class="icon-lightbulb xbulb inverse"></i>
</footer>

<script>
var gpath = {{ (gpath+'/')|json|safe }};

function toggleChildrenExpansion(node) {
	if ($(node).hasClass('open')) {
		$('.topicsList').find('li.isOpen, li.hasChildren').removeClass('open');
		$(node).removeClass('open');
	} else {
		$('.topicsList').find('li.isOpen, li.hasChildren').removeClass('open');
		$(node).addClass('open');
	}
}

function arrowifySidebar(el) {
	if (!el) {
		throw new Error("Dude, we need a guide-nav to work with.");
	}


	var sections = el.children;
	for (var i=0; i<sections.length; ++i) {
		var section = sections[i];
		if (section.tagName !== 'LI') {
			continue;
		}

		var hasChildren = section.dataset.nchildren !== '0';
		var isActive = gpath.indexOf(section.dataset.path+'/') !== -1;

		if (isActive) {
			section.className += ' active open';
		}

		function createToggler(section) {
			return function(e) {
				e.stopPropagation();
				toggleChildrenExpansion(section);
				return false;
			};
		}

		// It's not a link if the file doesn't exist.
		// In that case, expand the children.
		if (section.querySelector('.link').tagName !== 'A') {
			section.onclick = createToggler(section);
		}

		if (hasChildren) {
			// Add arrow!
			var arrow = document.createElement('i');
			arrow.className = 'arrow';
			arrow.onclick = createToggler(section);
			section.querySelector('.link').appendChild(arrow);

			if (!sections[i+1] || sections[i+1].tagName !== 'UL') {
				console.warn("UH-OH!");
				continue;
			}
		}

		if (isActive && hasChildren) {
			// check if a child is active.
			var schildren = sections[i+1].children;
			for (var i2=0; i2<schildren.length; ++i2) {
				var child = schildren[i2];
				if (gpath.indexOf(child.dataset.path+'/') !== -1) {
					// Yes, it is.
					child.className += ' active';
				}
			}
		}
	}
}

arrowifySidebar(document.querySelector("#guide-nav"));

</script>

{% endblock %}