{% extends '../../stdbody.html' %}
{% set dataPage="about" %}

{% block pageTitle %}
Sobre · QI Labs.org
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ getMediaUrl('css','snpages.min.css') }}" />
{% endblock %}

{% block body %}
<body data-page="about">

	<div class="jumbo">
		<div class="top">
			<span class="brand">QI <i class="icon-bulb"></i> LABS</span> · Sobre
		</div>

		<div class="board">
			<button class="mailme">Esse botão não faz nada...</button>
		</div>

		<div class="footer">
			QI Labs.org, 2014
		</div>
 	</section>
{% endblock %}