{% extends '../stdbody.html' %}
{% set dataPage="front" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	{% block meta %}
	{{ metaTagMacros.og({
		title: "QiLabs · 2014",
		description: 'Comunidades para extra-curriculares.'
	}) }}
	{{ metaTagMacros.meta({
		title: "QiLabs · Inscreva-se para o Beta",
		description: 'Junte-se à lista de espera!'
	}) }}
	{% endblock %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
	<script>docs={{ docs|json|safe }}</script>
{% endblock %}

{% set navbarOpts = {
	navbarClass: 'public',
	loginUrl: '/entrar'
}
%}

{% block body %}

<div class="up-message">
	Estamos procurando moderadores para os laboratórios! <a href="https://docs.google.com/forms/d/179O2BGo6SrPa-2Lo1uLJX9Cruhttt4ga9aP0ALE5W2c/viewform">Inscreva-se por aqui! :)</a>
</div>
<div id="particles"></div>

<div class="master">
	<nav class="bar public" role="navigation" id="navbar">
		<div class="navbar-content">
			<div class="navbar-qi-brand">
				<div class="brand">
					QI<i class="icon-bulb"></i>Labs<sup class="alpha">α</sup>
				</div>
			</div>
			<ul class="right">
				<li>
					<a href="/sobre" class="button text-button">
						Saiba Mais
					</a>
				</li>
				<li>
					<a href="/guias" class="button text-button">
						Acesse as Guias
					</a>
				</li>
				{#
				<li>
					<a href="/entrar" class="button text-button">
						Entrar
					</a>
				</li>
				#}
			</ul>
		</div>
	</nav>

	<div class="jumbo">
		<div class="left">
			{% for doc in docs %}
				<div onClick="location.href='{{ doc.path }}'" class="card" data-lab="{{ doc.subject }}" style="display: none">
					<div class="card-icons">
					{% if doc.content.link %}
						<i class="icon-link"></i>
					{% else %}
						<i class="icon-file"></i>
					{% endif %}
					</div>
					<div class="card-stats">
						<span class="count">
							{{ doc.counts.votes }}
						</span>
						<i class="icon-heart liked "></i>
					</div>
					<div class="card-body cover">
						<div class="card-body-cover">
							{% if doc.content.image %}
								{% set thumbnail = doc.content.image %}
							{% else %}
								{% set thumbnail = doc.content.link_image %}
							{% endif %}
							<div class="bg" style="background-image:url({{ thumbnail }});">
							</div>
							<div class="username">
								<span>por</span> <span>{{ doc.author.name }}</span>
							</div>
						</div>
						<div class="card-body-span">
							{{ doc.content.title }}
						</div>
						<div class="card-body-tags">
							{% if pageMap[doc.subject] %}
								<div class="tag"><a href="{{ pageMap[doc.subject].path }}">#{{ pageMap[doc.subject].name }}</a></div>
								{% set children = pageMap[doc.subject].children %}
								{% for tag in doc.tags %}
									{% if tag in children %}
										<div class="tag"><a href="{{ pageMap[doc.subject].path }}/tags/{{ tag }}">#{{ children[tag].name }}</a></div>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	<div class="right">
			<h4 class="subtitle">
				<strong>Comunidades para extra-curriculares</strong>
			</h4>
			<a class="button login" href="/entrar">
				Entre usando o Facebook
			</a>
			<a class="button guides" href="/guias">
				Leia nossas Guias
			</a>
		</div>
	</div>

</div>

<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<i class="icon-pen2"></i>
				</div>
				<div class="name">
					Problemas
				</div>
				<p class="summary">
					Treine seu conhecimento com problemas de olimpíadas passadas
				</p>
				<p>
					A pratica leva à perfeição! Divirta-se ao mesmo tempo que treina seus conhecimentos resolvendo questões de olimpíadas. Você também pode sugerir questões para outros usuários resolverem.
				</p>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<i class="icon-lab"></i>
				</div>
				<div class="name">
					Laboratórios
				</div>
				<p class="summary">
					Participe de discussões e aprenda com experiências de outros usuários
				</p>
				<p>
					Laboratórios no QI Labs são comunidades que giram em torno de uma extracurricular. É o lugar certo para compartilhar suas experiências, tirar dúvidas ou debater sobre algum assunto de interesse.
				</p>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<i class="icon-book"></i>
				</div>
				<div class="name">
					Guias
				</div>
				<p class="summary">
					Acesse conteúdos e dicas sobre atividades extracurriculares
				</p>
				<p>
					As guias são enciclopédias colaborativas voltadas para o aprendizado. São ideais para introduzir e aprofundar um determinado assunto, além de permitir que pessoas com experiências participem de sua construção.
				</p>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="qi-copy">
				&reg; <span class="brand">QI Labs</span> 2014
		</div>
		<div class="qi-sn">
			<a href="{{ urls.github }}"><i class="icon-github2"></i></a>
			<a href="{{ urls.facebook }}"><i class="icon-facebook32"></i></a>
		</div>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/vendor/jquery.particleground.min.js"></script>
{#
<script src="/static/js/front.js"></script>
<script src="/static/js/cellula.js"></script>
#}

<script>
$(document).ready(function () {
	var a = $(".card");
	var i = 0;
	$(a[0]).fadeIn();
	setInterval(function () {
		$(a[i%a.length]).fadeOut('slow', function () {
			i += 1;
			$(a[i%a.length]).fadeIn('slow');
		});
	}, 15000);
})
</script>
<script>
$(document).ready(function() {
  $('#particles').particleground({
    density: '20000',
	particleRadius: '10',
	dotColor: '#BBB', // '#26C281',
	parallaxMultiplier: '3',
    lineColor: '#BBB', // '#5cbdaa'
  });
});
</script>
{% endblock %}