{% extends '../stdbody.html' %}
{% set dataPage="front" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	{% block meta %}
	{{ metaTagMacros.og({
		title: "QiLabs · 2014",
		description: 'Um abrigo de produtividade na internet. Peça um convite para participar do nosso beta.'
	}) }}
	{{ metaTagMacros.meta({
		title: "QiLabs · Inscreva-se para o Beta",
		description: 'Junte-se à lista de espera!'
	}) }}
	{% endblock %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
	<script>window.pageMap = {{ pageMap|json|safe }};</script>
{% endblock %}

{% set navbarOpts = {
	navbarClass: 'public',
	loginUrl: '/entrar'
}
%}

{% block body %}

	{% include '../components/navbar.html' with navbarOpts %}

	{% include '../components/wallterfall.html' %}

<section class="jumbo">
	<div class="top">
		<a href="/" class="us">
			<i class="icon-bulb2"></i>
		</a>
		<div class="message">
			{# Uma incubadora de pessoas #}
		</div>
	</div>
	<div class="board">
		<!-- MailChimp -->
		<form action="//qilabs.us8.list-manage.com/subscribe/post-json?u=b604ea3253042ed09f625ee93&id=eda821923d&c=?" method="post" method="get">
			<div id="bubbleMaster"></div>
			<label>Seu nome</label>
			<input type="text" value="" name="FNAME">
			<div class="bubble" id="nameBubble"></div>
			<label>Seu email</label>
			<input type="email" value="" name="EMAIL">
			<div class="bubble" id="emailBubble"></div>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;"><input type="text" name="filldonot" tabindex="-1" value=""></div>
			<input type="submit" value="Quero um convite" name="subscribe" data-action='send-form' class="button" disabled>
		</form>
		<!-- End MailChimp -->
		{#
		<div class="alt">
			<a href="/login">(já tenho uma conta)</a>
		</div>
		#}
		<div id="abientot">
		</div>
	</div>
	<div class="footer">
		Qi Labs.org, 2014 · <a href="{{ urls.about }}">SAIBA MAIS</a> · <a href="{{ urls.facebook }}">FACEBOOK</a>
	</div>
</section>

	{#
<footer>
	<div class="container">
		<div class="qi-copy">
			&reg; <span class="brand">QI Labs</span> 2014
		</div>
		<div class="qi-sn">
			<a href="{{ urls.twitter }}">Twitter</a>
			<a href="{{ urls.facebook }}">Facebook</a>
		</div>
	</div>
</footer>
	#}

<script src="/static/js/front.js"></script>
<script>
if (window.location.hash) {
	switch (window.location.hash) {
		case '#yey':
			$("#bubbleMaster").html('<h2>Seu pedido foi confirmado!</h2> Até breve.<br/> – Equipe QI Labs.').fadeIn();
			break;
		case '#auth':
			$("#bubbleMaster").html('<h3>OPS! <i class="icon-wondering2"></i></h3><p>Por enquanto essa ação só está disponível para usuários cadastrados.</p> <small>(clique para esconder)</small>').fadeIn();
			break;
		case '#auth-page':
			$("#bubbleMaster").html('<h3>OPS! <i class="icon-wondering2"></i></h3> <p>Essa página está aberta apenas para usuários cadastrados.</p> <small>(clique para esconder)</small>').fadeIn();
			break;
		default:
	}
	window.location.hash = '';
}

$('form').on('submit', function (e) {
	e.preventDefault();
	var email = document.querySelector('form input[name=EMAIL]').value.replace(/^\s+|\s+$/g, ''),
		name = document.querySelector('form input[name=FNAME]').value.replace(/^\s+|\s+$/g, '');
	$.ajax({
		type: $(this).attr('method'),
		url: $(this).attr('action'),
		dataType: 'json',
		cache: false,
		dataType: 'json',
		contentType: "application/json; charset=utf-8",
		data: $(this).serialize(),
	}).done(function (response, result, xhr) {
		console.log(arguments)
		if (response.result == 'success') {
			$('form').slideUp(function () {
				$("#abientot").html('<h1>Quase pronto...</h1> Só precisamos confirmar o seu endereço de email. Para garantir o seu convite, clique no link do email que acabamos de enviar para <strong>'+email+'</strong>').slideDown();
			});
		} else if (response.result == 'error') {
			// A hack? Worse.
			$("#bubbleMaster").html('<h2>Ops!</h2>"'+response.msg.replace(/\s?<a.*<\/a>/g,'')+"").fadeIn();
		} else {
			$("#bubbleMaster").html('<h2>Ops!</h2>Algum erro ocorreu.').fadeIn();
		}
	}).fail(function () {
		$("#bubbleMaster").html("Ops! Erro no servidor.").fadeIn();
	});
});

function isValid(name, email) {
	if (/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
		return !!(/\w{3,}/.test(name));
	} else
		return false;
}

$("[name=EMAIL], [name=FNAME]").on('keypress keyup focusout change', function () {
	var email = document.querySelector('form [name=EMAIL]').value.replace(/^\s+|\s+$/g, ''),
		name = document.querySelector('form [name=FNAME]').value.replace(/^\s+|\s+$/g, '');
	if ($('[name=filldonot]').val()) return;
	document.querySelector("[data-action=send-form]").disabled = !isValid(name, email);
});
$(".bubble, #bubbleMaster").click(function () {
	$(this).fadeOut();
});
</script>

{% endblock %}