{% extends '../snpage.html' %}
{% set dataPage="labs" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% if resource.type %}
{% block meta %}
{% if resource %}
{{ metaTagMacros.meta({
	author: resource.data.author.name,
}) }}
{% endif %}
{{ metaTagMacros.og({
	title: resource.data.content.title+" | QI Labs",
	image: resource.data.author.avatarUrl,
	url: resource.data.path,
	description: resource.data.content.body|planify|slice(0,400)+'...'
}) }}
{% parent %}
{% endblock %}
{% endif %}
{%
set navbarOpts = {
	pageRoot: 'labs',
}
%}

{% block head %}
	<script>conf={pageRoot:'{{ pageUrl }}',postsRoot:'/api/labs/all', isListView:true };</script>
	{% parent %}
{% endblock %}

{% block global-container %}
<div class="thin-stream">
	<nav class="stream-nav-list">
		<ul>
			<li>
				<button class="active">Global</button>
			</li>
			<li>
				<button>Seguindo</button>
			</li>
			<li>
				<button>Quentes</button>
			</li>
		</ul>
	</nav>

	<div id="qi-stream-wrap" class="qi-stream"></div>
</div>

<div class="qi-labs-sidebar">

	<ul class="labs-list">
		<li class="head">
			Laboratórios
		</li>
	{% for lab in pageMap %}
		<li data-lab="{{ loop.key }}">
		<a href="{{ lab.path }}">
			<i class="dot icon-circle tag-color" data-tag="{{ loop.key }}"></i> <span class="name">{{ lab.name }}</span>
			{% if user.preferences.interests.indexOf(loop.key) != -1 %}
				<button data-toggle="tooltip" data-placement="right" title="Você segue esse laboratório." class="pin active"><i class="icon-pin"></i></button>
			{% else %}
				<button class="pin"><i class="icon-pin"></i></button>
			{% endif %}
		</a>
		</li>
	{% endfor %}
	</ul>
</div>

<footer>
	<i class="icon-lightbulb xbulb inverse"></i>
</footer>

{% endblock %}
