{% extends '../stdbody.html' %}
{% set dataPage="complete-singup" %}
{% set requirejsView=false %}

{% block pageTitle %}
Quem é você?
{% endblock %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	{% block meta %}
	{{ metaTagMacros.facebook({
		title: "QI Labs.org · 2014",
		description: 'Um abrigo de produtividade na internet. Peça um convite para participar do nosso beta.'
	}) }}
	{{ metaTagMacros.meta({
		title: "QI Labs.org · Inscreva-se para o Beta",
		description: 'Junte-se à lista de espera!'
	}) }}
	{{ metaTagMacros.twitter({
		title: "QI Labs.org",
		description: "Junte-se à lista de espera!",
	}) }}
	{% endblock %}
	<link rel="stylesheet" href="{{ getMediaUrl('css/snpages.min.css') }}" />
{% endblock %}

{% block body %}
<section class="jumbo">
	<i class="icon-bulb2"></i>
	<form>
		<div class="info">
			<h2>Estamos quase lá...</h2>
			Complete as informações abaixo para começar a usar o qilabs.
		</div>
		<div class="line valid">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="text" name="nome" placeholder="Nome" value="{{ user.name|split(' ')|index(0) }}" />
			</div>
			<div class="form-item">
				<input type="text" name="sobrenome" placeholder="Sobrenome" value="{{ user.name|split(' ')|index(-1) }}"/>
			</div>
		</div>
		<div class="line valid">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="email" name="email" placeholder="Seu email" value="{{ user.email }}" />
			</div>
		</div>
		<div class="line">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="text" name="" placeholder="De onde você é (ex: Rio de Janeiro, Brasil)" />
			</div>
		</div>
		<div class="line">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="text" name="" placeholder="O que você faz da vida (ex: Estudante do CEFET)" />
			</div>
		</div>
		<div class="line">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<textarea name="bio" placeholder="Quem é você? Faça um pequeno texto de até 300 caracteres."></textarea>
			</div>
		</div>
		<input type="submit" value="Continuar"/ >
	</form>
</section>

<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
<script>

$('input[type=text]').on('keyup', function (e) {
	var name = $(this).attr('name');
	var value = this.value;
	function trim (s) {
		return s.replace(/^\s+|\s+$/g, '');
	}
	switch (name) {
		case 'nome':
			this.value = this.value.split(' ')[0];
			break;
		case 'sobrenome':
			this.value = this.value.split(' ')[0];
			break;
		case 'email':
			// "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
			break;
	}
});

$('form').on('submit', function (e) {
	e.preventDefault();
	$("[data-action=save-profile]").click(function () {
		var profile = {
			bio: $("[name=bio]").val(),
			nome: $("[name=name]").val(),
			home: $("[name=home]").val(),
			location: $("[name=location]").val(),
		};

		$.ajax({
			type: 'PUT',
			dataType: 'JSON',
			url: '/api/me/profile',
			data: {
				profile: profile
			}
		}).done(function (response) {
			if (response.error) {
				if (response.message)
					app.flash.warn(response.message);
				else
					console.warn('????',response);
			} else {
				$(".profileWrapper").removeClass('editing');
				$(".profileOutput.bio").html(profile.bio);
				$(".profileOutput.name").html(profile.name);
				$(".profileOutput.home").html(profile.home);
				$(".profileOutput.location").html(profile.location);
			}
		}).fail(function () {
		});
	})
});


$(".bubble, #bubbleMaster").click(function () {
	$(this).fadeOut();
});
</script>

{% endblock %}