{% extends '../snpage.html' %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% if resource.type %}
{% block meta %}
{% if resource %}
{{ metaTagMacros.meta({
	author: resource.data.author.name,
}) }}
{% endif %}
{{ metaTagMacros.og({
	title: resource.data.content.title+" | QI Labs",
	image: resource.data.author.avatarUrl,
	url: resource.data.path,
	description: resource.data.content.body|planify|slice(0,400)+'...'
}) }}
{% parent %}
{% endblock %}
{% endif %}

{% block head %}
	<script>conf={pageRoot:'{{ pageUrl }}',postsRoot:'/api/labs/all',resource:{{ resource|json|safe }},showInterestsBox:{{ showInterestsBox|default('false') }}, showTour:{{ showTour|default('false') }}, lastAccess: '{{ lastAccess|default('false') }}' };</script>
	{% parent %}
{% endblock %}

{% block global-container %}
	<div class="qi-header main">
		<nav class="stream-nav">
			<label>Mostrando publicações de:</label>
			<li>
				<button class='active' data-src="/api/labs/all">Global</button>
			</li>
			<li>
				<button data-src="/api/me/inbox">Seguindo</button>
			</li>
			<li>
				<button data-src="/api/labs/hot">Quentes</button>
			</li>
		</nav>
	</div>

	<input type="file" id="files" />
<p id="status">Please select a file</p>
<div style="border:1px solid gray;width:300px;"  id="preview"><img src="/images/default.png" style="width:300px;" /></div>


	<div id="qi-stream-wrap" class="qi-stream wall"></div>
{% endblock %}
