{% extends '../wall.html' %}
{% set dataPage="timeline" %}
{% set requirejsView="wall" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% if resource.type %}
{% block meta %}
	{{ metaTagMacros.meta({
		author: resource.data.author.name,
	}) }}
	{{ metaTagMacros.facebook({
		title: resource.data.content.title+" · QI Labs",
		image: resource.data.author.avatarUrl,
		url: resource.data.path,
		description: resource.data.content.body|planify|slice(0,400)+'...'
	}) }}
	{{ metaTagMacros.twitter({
		title: resource.data.content.title+" · QI Labs",
		image: resource.data.author.avatarUrl,
		description: resource.data.content.body|planify|slice(0,400)+'...'
	}) }}
{% parent %}
{% endblock %}
{% endif %}

{% block body %}
	<script>conf={postsRoot:undefined,resource:{{ resource|json|safe }} };</script>
	{% parent %}
{% endblock %}
