{% extends '../stdbody.html' %}
{% set dataPage="open_post" %}

{% import '../macros/tags.html' as tagMacros %}
{% import '../macros/metaTags.html' as metaTagMacros %}

{% block title %}
	{{ post.content.title }} · QI Labs
{% endblock %}

{% block head %}
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|Lora:400,400italic,700|PT+Serif:400,400i,700,700i' rel='stylesheet' type='text/css'>
	{{ tagMacros.stylesheet(getMediaUrl('css/snpages.min.css')) }}

	{% block meta %}
	{{ metaTagMacros.meta({
		author: post.author.name,
	}) }}	
	{{ metaTagMacros.facebook({
		title: post.content.title+" · QI Labs",
		image: post.author.avatarUrl,
		url: post.path,
		description: post.content.body|planify|slice(0,400)+'...'
	}) }}
	{{ metaTagMacros.twitter({
		title: post.content.title+" · QI Labs",
		image: post.author.avatarUrl,
		description: post.content.body|planify|slice(0,400)+'...'
	}) }}
	{% endblock %}
{% endblock %}

{% block body %}

	<div class="cContainer" id="global-container">

		<header>
			<a href="{{ post.author.path }}">
			<div class="avatarWrapper">
				<div class="avatar" style="background-image: url({{ post.author.avatarUrl }})"></div>
			</div>
			</a>
		</header>

		<article>
			<div class="postHeader">
				<div class="info">
				{#
					<span class="postType">{{ postTypes[post.type.toLowerCase()].translated }}</span>
					#}
					<span class="author">
					 por <span class="name">{{ post.author.name }}</span>
					</span>
				</div>
				<div class="postTitle">
					{{ post.content.title }}
				</div>
			</div>
			<div class="postBody">
				{{ post.content.body|safe }}
			</div>
			<div class="postFooter">
				<div class="tagList">
					{% for tag in post.tags %}
						<span class="itag"><a href="{{ tagMap[tag].path }}">#{{ tagMap[tag].label }}</a></span>
					{% endfor %}</div>
				<div class="authorBox">
					<div class="left">
						<div class="avatarWrapper">
							<div class="avatar" style="background-image: url({{ post.author.avatarUrl }})"></div>
						</div>
					</div>
					<div class="userBio">
						<a href="{{post.author.path}}"><span class="name">{{ post.author.name }}</span></a>
						<p>{{ post.author.profile.bio }}</p>
					</div>
				</div>
			</div>
		</article>

		<footer>
			<div class="commentSection">
				<div class="showCommentInput" onClick="location.href='/'">
					Logue-se para comentar essa publicação.
				</div>
			</div>
			<a href="/" class="brand">
				QI <i class="icon-bulb"></i> Labs · 2014
			</a>
		</footer>

	</div>

{% endblock %}
