{% extends '../stdbody.html' %}
{% set dataPage="open_post" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block title %}
	{{ post.content.title }} · QI Labs
{% endblock %}

{% block head %}
	{# <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,500,700/Bitter:400,700/Merriweather:400,400i,700"> #}
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|Lora:400,400italic,700|PT+Serif:400,400i,700,700i|PT+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}">

	{% block meta %}
	{{ metaTagMacros.meta({
		author: author.name,
	}) }}
	{{ metaTagMacros.og({
		title: post.content.title+" · QI Labs",
		image: author.avatarUrl,
		url: 'http://www.qilabs.org'+post.path,
		description: post.content.body|planify|slice(0,400)+'...'
	}) }}
	{% endblock %}
{% endblock %}

{% block body %}
	<div class="gcontainer">
		<header>
			<a href="{{ author.path }}">
			<div class="user-avatar">
				<div class="avatar" style="background-image: url({{ author.avatarUrl }})"></div>
			</div>
			</a>
		</header>

		<article>
			<div class="postHeader">
				<div class="info">
					<span class="author">
					 por <span class="name">{{ author.name }}</span>
					</span>
				</div>
				<div class="postTitle">
					{{ post.content.title }}
				</div>
				<time>{{ post.created_at|date('d F y')|trnsltDate }}</time>
			</div>
			<div class="postBody">
				{{ post.content.body|safe }}
			</div>
			<div class="postFooter">
				<div class="tagList">
					{% if pageMap[post.subject] %}
						<span class="itag"><a href="{{ pageMap[post.subject].path }}">#{{ pageMap[post.subject].name }}</a></span>
						{% set children = pageMap[post.subject].children %}
						{% for tag in post.tags %}
							{% if tag in children %}
								<span class="itag"><a href="{{ pageMap[post.subject].path }}/tags/{{ tag }}">#{{ children[tag].label }}</a></span>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<div class="authorBox">
					<div class="left">
						<div class="user-avatar">
						<a href="{{ author.path }}">
							<div class="avatar" style="background-image: url({{ author.avatarUrl }})"></div>
						</a>
						</div>
					</div>
					<div class="userBio">
						<a href="{{author.path}}"><span class="name">{{ author.name }}</span></a>
						<p>{{ author.profile.bio }}</p>
					</div>
				</div>
			</div>
		</article>

		<footer>
			<div class="commentSection">
				<div class="showCommentInput" onClick="location.href='/'">
					Logue-se para comentar essa publicação.
				</div>
			</div>
			<i class="icon-bulb2 xbulb"><a href="/"></a></i>
		</footer>
	</div>

{% endblock %}
