{% extends '../snpage.html' %}
{% set dataPage="open_profile" %}

{% block title %}
	{{ pUser.name.split(' ')[0] }} · QiLabs
{% endblock %}

{% block body %}
	{% block preBody %}{% endblock %}
	<div class="gcontainer">
		{% include '../components/wallterfall.html' %}
		<div id="globalHeader" class="row-fluid">
			<div class="col-md-5 col-md-offset-1 vcenter">
				<div class="profileWrapper">
					<div class="label">Perfil de Usuário</div>
					<div class="user-avatar">
						<div class="avatar" style="background: url({{ pUser.avatarUrl }})"></div>
					</div>

					<section class="usernameWrapper">
						<div class="name profileOutput">{{ pUser.name }}</div>
					</section>

					<section class="bio">
						{{ pUser.profile.bio }}
					</section>

					<section class="whereabout">
						<div>
							{% if pUser.profile.isStaff %}
								<i class="icon-check staffCheck" data-toggle="tooltip" title="Staff QI Labs"></i>
							{% else %}
								<i class="icon-map-marker"></i>
							{% endif %}
							<span class="location profileOutput">{{ pUser.profile.location }}</span>
						</div>
						<div>
							<i class="icon-home2"></i>
							<span class="home profileOutput">{{ pUser.profile.home }}</span>
						</div>
					</section>
				</div>
			</div>
			<div class="col-md-5 vcenter">
				<div class="right">
					<div class="brand">QI <i class="icon-lightbulb2"></i> Labs</div>
					<h1>Entre para ver todas as publicações de <strong>{{ pUser.name|split(" ")|first }}</strong> </h1>
					<a href="/" class="button login">
						Entrar
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}