{% extends '../snpage.html' %}
{% set dataPage = 'problems' %}

{%
set navbarOpts = {
	pageId: 'guide-page',
	navMenu: [
		{name:'Problemas',url:'/problemas',icon:'icon-measure'},
	]
} %}
{%
set sbOpts = {
	pageRoot: 'problems',
}
%}

{% if resource.type %}
{% import '../macros/metaTags.html' as metaTagMacros %}
{% block meta %}
	{{ metaTagMacros.meta({
		author: resource.data.author.name,
	}) }}
	{{ metaTagMacros.og({
		title: resource.data.content.title+" · QI Labs",
		image: resource.data.author.avatarUrl,
		url: resource.data.path,
		description: resource.data.content.body|planify|slice(0,400)+'...'
	}) }}
{% parent %}
{% endblock %}
{% endif %}

{% block head %}
	{% parent %}
	<script>conf={pageRoot:'{{ pageUrl }}',postsRoot:'/api/me/inbox/problems',resource:{{ resource|json|safe }} };</script>
{% endblock %}

{% block global-container %}

	<div id="qi-stream-wrap" class="wall"></div>

{% endblock %}