{% extends '../wall.html' %}
{% set requirejsView="profile" %}
{% set dataPage="profile" %}

{%
set navbarOpts = {
	pageDetailLabel: pUser.name,
	pageDetailIcon: 'icon-user',
	detailOnScroll: true,
	pageId: 'user-profile',
	navMenu: [{ name: pUser.name, url: pUser.path, icon: 'icon-child' }],
}
%}

{% block title %}
	{{ pUser.name.split(' ')[0] }} · QI Labs.org
{% endblock %}

{% block head %}
	{% parent %}
	<script>conf={postsRoot:'/api/users/{{ pUser.id }}/posts'};
	user_profile={id:'{{pUser.id}}', name:'{{pUser.name}}', path:'{{pUser.path}}', avatarUrl: '{{pUser.avatarUrl}}'}; posts='';</script>
{% endblock %}

{% block globalHeader %}
	<div id="globalHead">
		<div class="elBackground" style="background-image: url({{ pUser.profile.bgUrl }}); background-position: top"></div>
		<div class="elBlackout"></div>

		<div class="profileWrapper">
			{% if pUser.id == user.id %}
				<button data-action="edit-profile" data-toggle="tooltip" data-placement="left" title="Editar perfil">
					<i class="icon-lock"></i>
				</button>
				<button data-action="save-profile" data-toggle="tooltip" data-placement="left" title="Salvar mudanças">
					<i class="icon-unlock"></i>
				</button>
			{% endif %}
			
			<div class="avatarWrapper">
				<div class="avatar" style="background: url({{ pUser.avatarUrl }})"></div>
			</div>

			<section class="usernameWrapper">
				<div class="name profileOutput">{{ pUser.name }}</div>
				{% if pUser.id == user.id %}
					<input class="profileInput" type="text" name="name" value="{{ pUser.name }}" /> 
				{% endif %}
				{% if pUser.id != user.id %}
					<div style="display: inline-block; width: 0">
						{% if follows %}
							<button class="btn-follow" data-action="unfollow" data-user="{{ pUser.id }}"></button>
						{% else %}
							<button class="btn-follow" data-action="follow" data-user="{{ pUser.id }}"></button>
						{% endif %}
					</div>
				{% endif %}
			</section>
			<section class="bio profileOutput">
				{{ pUser.profile.bio }}
			</section>
			{% if pUser.id == user.id %}
				<textarea class="bio profileInput autosize" name="bio" maxlength="300">{{ pUser.profile.bio }}</textarea>
			{% endif %}

			<section class="whereabout">
				{% if pUser.profile.isStaff %}<i class="icon-check staffCheck" data-toggle="tooltip" title="Staff QI Labs"></i>{% else %}<i class="icon-map-marker"></i>{% endif %}<span class="location profileOutput">{{ pUser.profile.location }}</span><input type="text" class="profileInput" maxlength="35" name="location" value="{{ pUser.profile.location }}"  placeholder="Local de estudo/trabalho"/>&nbsp;<i class="icon-circle"></i>&nbsp;<i class="icon-home"></i><span class="home profileOutput">{{ pUser.profile.home }}</span><input type="text" class="profileInput" maxlength="35" name="home" value="{{ pUser.profile.home }}" placeholder="Cidade de origem" />
			</section>

			<div class="stats">
				<div>
					<a href="#followers">
					<h3>{{ pUser.stats.followers }}</h3>
					seguidores
					</a>
				</div>
				<div>
					<a href="#following">
					<h3>{{ pUser.stats.following }}</h3>
					seguindo
					</a>
				</div>
				<div>
					<h3>{{ pUser.stats.posts }}</h3>
					posts
				</div>
				<div>
					<h3>{{ pUser.stats.votes }}</h3>
					votos
				</div>
			</div>
		</div>
	</div>
	</nav>
{% endblock %}