{% extends '../snpage.html' %}
{% set dataPage="panel" %}
{% set requirejsView="profile" %}

{% import '../macros/tags.html' as tagMacros %}
{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	<script>conf={postsRoot:'/api/users/{{ user.id }}/posts'};
	user_profile={id:'{{user.id}}', name:'{{user.name}}', path:'{{user.path}}', avatarUrl: '{{user.avatarUrl}}'}</script>
	{% parent %}
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400,400i/Crimson:400,600i,700i/Domine:400,700/Clear+Sans:400,500,700/Bitter:400,700/Libre+Baskerville:400,700/Merriweather:400,400i,700",>
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|Lora:400,400italic,700|PT+Serif:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}

{%
set navbarOpts = {
	pageDetailLabel: 'Guias',
	pageDetailIcon: 'icon-compass',
}
%}

{% block globalContainer %}

	<section>
		<section>
			<div class="col-md-8 col-md-offset-2">
				<h3>Oi, {{ user.name }}!</h3>
				<!-- <span class="thumbnail" style="display: table">
					<img alt="seu avatar" class="" src="{{ user.avatarUrl }}">
				</span> -->

				<h4>Esse é o seu painel de controle.</h4>

				<hr>
					<form onSubmit='return false;' data-ajax-post-href='/api/user'>
						Receber notificações pelo Facebook
						<input type="hidden" name="notifiable" value="off" >
						<input type="checkbox" name="notifiable" autocomplete="off" {{ user.notifiable?"checked":"" }} >
						<input type="hidden" name="_csrf" value="{{ token }}" />
						<button data-action="save">Salvar</button>
					</form>
				<hr>
				
				<a href="#delete-account" data-action="delete-account" data-toggle="dialog">
					Excluir minha conta permanentemente.
				</a>
			</div>
		</section>
	</section>

 	<div class="dialog" id="delete-account">
		<div class="box">
			<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
			<div class="content">
				<h3>Certeza que quer excluir a sua conta?</h3>
				<img src="{{ getMediaUrl('images','sad_cat.jpg') }}" width=200>
				<form method="post" action="{{ }}">
					<input type="hidden" name="_csrf" value="{{ token }}" />
					<button data-action="leave">Sim :(</button>
					<button data-action="close-dialog">Cancelar :)</button>
				</form>
			</div>
		</div>
		<div class="box-blackout" data-action="close-dialog"></div>
	</div>

{% endblock %}