{% extends '../snpage.html' %}
{% set dataPage="settings" %}
{% set requirejsView=false %}

{% import '../macros/tags.html' as tagMacros %}
{% import '../macros/metaTags.html' as metaTagMacros %}

{%
set navbarOpts = {
	pageId: 'settings',
}
%}

{% block global-container %}

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Nada aqui por enquanto. :)</h1>
				{#
				<hr>
					<form onSubmit='return false;' data-ajax-post-href='/api/user'>
						Receber notificações pelo Facebook
						<input type="hidden" name="notifiable" value="off" >
						<input type="checkbox" name="notifiable" autocomplete="off" {{ user.notifiable?"checked":"" }} >
						<input type="hidden" name="_csrf" value="{{ token }}" />
						<button data-action="save">Salvar</button>
					</form>
				<hr>
				<a href="#delete-account" data-action="delete-account" data-toggle="dialog">
					Excluir minha conta permanentemente.
				</a>
				#}
			</div>
		</div>
	</div>

{#
	<div class="dialog" id="delete-account">
		<div class="box">
			<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
			<div class="content">
				<h3>Certeza que quer excluir a sua conta?</h3>
				<img src="{{ getMediaUrl('images','sad_cat.jpg') }}" width=200>
				<form method="post" action="{{ }}">
					<input type="hidden" name="_csrf" value="{{ token }}" />
					<button data-action="leave">Sim :(</button>
					<button data-action="close-dialog">Cancelar :)</button>
				</form>
			</div>
		</div>
	</div>
#}
{% endblock %}