{% extends '../stdbody.html' %}
{% set dataPage="complete-singup" %}
{% set requirejsView=false %}

{% block pageTitle %}
Quem é você?
{% endblock %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block head %}
	{% block meta %}
	{{ metaTagMacros.facebook({
		title: "QI Labs.org · 2014",
		description: 'Um abrigo de produtividade na internet. Peça um convite para participar do nosso beta.'
	}) }}
	{{ metaTagMacros.meta({
		title: "QI Labs.org · Inscreva-se para o Beta",
		description: 'Junte-se à lista de espera!'
	}) }}
	{{ metaTagMacros.twitter({
		title: "QI Labs.org",
		description: "Junte-se à lista de espera!",
	}) }}
	{% endblock %}
	<link rel="stylesheet" href="{{ getMediaUrl('css/snpages.min.css') }}" />
{% endblock %}

{% block body %}
<section class="jumbo">
	<i class="icon-bulb2"></i>
	<div class="info">
		<h2>Estamos quase lá...</h2>
		Precisamos confirmar algumas coisas antes
	</div>
	<form>
		<div id="bubble"></div>
		<div class="line valid">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="text" name="nome" placeholder="Nome" value="{{ user.name|split(' ')|index(0) }}" />
			</div>
			<div class="form-item">
				<input type="text" name="sobrenome" placeholder="Sobrenome" value="{{ user.name|split(' ')|index(-1) }}"/>
			</div>
		</div>
		<div class="line valid">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="email" name="email" placeholder="Seu email" value="{{ user.email }}" />
			</div>
		</div>
		<div class="line invalid">
			<div class="icon-status"><i></i></div>
			<div class="form-item">
				<input type="text" name="idade" placeholder="Quantos anos você tem?" />
			</div>
		</div>

		<input type="submit" value="Continuar" disabled />
	</form>
</section>

<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
<script>
$('input[type=text], input[type=email]').on('keyup', function (e) {
	var value = this.value;
	function trim (s) {
		return s.replace(/^\s+|\s+$/g, '');
	}
	if (!this.value) {
		$(this).parent().parent().addClass('invalid').removeClass('valid');
		return;
	}
	var invalid = function () {
		$('input[type=submit]')[0].disabled = true;
		$(this).parent().parent().addClass('invalid').removeClass('valid');
	}.bind(this)
	var valid = function () {
		$('input[type=submit]')[0].disabled = false;
		$(this).parent().parent().addClass('valid').removeClass('invalid');
	}.bind(this)

	switch ($(this).attr('name')) {
		case 'nome':
			this.value = trim(value.split(' '))[0];
			break;
		case 'sobrenome':
			this.value = trim(value.split(' '))[0];
			break;
		case 'email':
			if (!trim(value).match(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/))
				invalid();
			else valid();
			break;
		case 'idade':
			if (trim(value).match(/^\d+$/))
				valid();
			else invalid();
	}
});

$('form').on('submit', function (e) {
	e.preventDefault();
	$.ajax({
		type: 'PUT',
		dataType: 'JSON',
		url: '/signup/finish/1',
		data: {
			nome: $("[name=nome]").val(),
			sobrenome: $("[name=sobrenome]").val(),
			email: $("[name=email]").val(),
			idade: $("[name=idade]").val(),
		}
	}).done(function (response) {
		if (response.error) {
			var value = response.message || "Ops! Erro aconteceu."
			$("#bubble").hide().html(value).slideDown();
		} else {
			window.location.href = '2';
		}
	});
});

$("#bubble").click(function () {
	$(this).fadeOut();
});
</script>

{% endblock %}