{% extends '../wall.html' %}
{% set dataPage="tag" %}

{% import '../macros/user.html' as userMacros %}

{% block head %}
	{% parent %}
	<script>conf={postsRoot:'/api/tags/{{ tag.id }}/discussions',streamRender:'ListView'};</script>
{% endblock %}

{%
set navbarOpts = {
	pageDetailLabel: tag.name,
	pageId: 'tag',
	navMenu: [{ name: tag.name, url: tag.path, icon: 'icon-tag' }],
}
%}

{% block globalHeader %}
<header>
	<div class="container">
		<div class="col-md-1">
			<div class="tag-thumbnail">
				<i class="icon-study"></i>
			</div>
		</div>
		<div class="col-md-8">
			<h1>{{ tag.name }}</h1>
		</div>
		<div class="col-md-3" style="text-align: right">
			{% if tag.guidePath %}
				<a class="btn btn-go-guide" href="{{ guidePath }}">
					Acesse a Guia
				</a>
			{% endif %}
			{% if tag.problemsPath %}
				<a class="btn btn-go-problems" href="{{ problemsPath }}">
					Resolva Problemas!
				</a>
			{% endif %}
		</div>
	</div>
</header>
<nav>
<div class="container">
	<ul>
		<li>
			<button class="active" data-action="see-notes">
				Notas
			</button>
		</li>
		<li>
			<button class="" data-action="see-discussions">
				Discussões
			</button>
		</li>
	</ul>
	<ul class="right">
		<li class="check-btns">
			<i class="icon-unsorted"></i>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary fire-btn active" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Mais Populares Primeiro">
					<input type="radio" name="options" id="option3" checked><i class="icon-fire22"></i>
				</label>
				<label class="btn btn-primary clock-btn" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Mais Recentes Primeiro">
					<input type="radio" name="options" id="option3"><i class="icon-clock3"></i>
				</label>
			</div>
		</li>
		<li class="check-btns">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary user-btn active" data-toggle="tooltip" data-container="body" data-placement="bottom" title="De todos os usuários">
					<input type="radio" name="options" id="option3" checked><i class="icon-user"></i>
				</label>
				<label class="btn btn-primary globe-btn" data-toggle="tooltip" data-container="body" data-placement="bottom" title="De quem você segue">
					<input type="radio" name="options" id="option3"><i class="icon-globe"></i>
				</label>
			</div>
		</li>
	</ul>
</div>
</nav>
{% endblock %}

{% block streamWrapper %}
<div id="qi-stream-wrap" class="wall">
</div>
{% endblock %}