{% extends '../wall.html' %}
{% set requirejsView="tag" %}
{% set dataPage="tag" %}

{% import '../macros/user.html' as userMacros %}

{% block head %}
	{% parent %}
	<script>conf={postsRoot:'/api/tags/{{ tag.id }}/posts'};</script>
{% endblock %}

{%
set navbarOpts = {
	pageDetailLabel: tag.name,
	pageId: 'tag',
	navMenu: [{ name: tag.name, url: tag.path, icon: 'icon-tag' }],
}
%}

{% block globalHeader %}
<div class="container">
	<h2>Resultados encontrados para <div class="tag">APPLICATION</div></h2>
</div>
{% endblock %}