
{% macro _makeMeta(property, value, ifno, safe) %}{% if !ifno %}{% set ifno = "123" %}{% endif %}{% if safe %}<meta property="{{ property }}" content="{{ value|default(123)|safe }}" />{% else %}<meta property="{{ property }}" content="{{ value|default(ifno) }}" />{% endif %}{% endmacro %}

{% macro meta(obj) %}
	{{ _makeMeta("description", obj.description, "") }}
	{{ _makeMeta("keywords", obj.keywords, "") }}
	{{ _makeMeta("author", obj.author, "") }}
	{{ _makeMeta("copyright", obj.copyright, "") }}
	{{ _makeMeta("application-name", obj.appName, "") }}
{% endmacro %}

{% macro og(obj) %}
	{{ _makeMeta("og:title", obj.title, "QI Labs") }}
	{{ _makeMeta("og:type", obj.type, "article") }}
	{{ _makeMeta("og:image", obj.image, urls.logo, true) }}
	{{ _makeMeta("og:description", obj.description) }}
	{{ _makeMeta("og:url", obj.url, "http://www.qilabs.org", true) }}
	{{ _makeMeta("twitter:card", "summary") }}
	{{ _makeMeta("twitter:site", "@qilabsorg") }}
{% endmacro %}