
[data-page=ranking] {

	.qi-rankings {

		display: table;
		margin-top: 40px;
		padding-bottom: 40px;

		.ranking:nth-child(2n+1) {
			margin-right: 20px;
		}
		.ranking {
			width: 500px;
			float: left;
		}

		.ranking > .desc {
			.lead {
				font-size: 20px;
				font-weight: 600;
			}
			p {
				margin-bottom: 10px;
			}
		}

		.ranking > header {

			padding: 30px 0 20px;

		}

		.ranking > ul {

			& > li {
				display: table;
				width: 100%;
				background: white;
				margin-bottom: 2px;
				padding: 0 10px;
				cursor: pointer;

				.main, .right {
					display: inline-block;

					& > div {
						line-height: 47px;
						margin-right: 7px;
						display: inline-block;
					}
				}

				.user-avatar {
					width: 30px;
					height: 30px;
					border-radius: 30px;
				}

				.user-name {
					display: inline-block;
					font-size: 14px;
					color: #555;
				}

				.user-username {
					display: inline-block;
					color: #999;
				}

				.karma {
					font-size: 14px;
					color: #AAA;
				}

				.index {
					color: #888;
					width: 25px;
					font-size: 16px;
					text-align: right;
					padding: 0px 5px;
				}

				.right {
					display: inline-block;
					float: right;
				}

			}
		}

	}


	footer {
		margin: 10px 0 30px;
		text-align: center;

		font-size: 13px;
		color: #555;
		line-height: 18px;
		font-family: museo-sans;

		& > div {
			margin-bottom: 20px;
		}

		span, a{
			vertical-align: middle;
		}

		.red {
			color: mix(@CRED, red);
			margin-bottom: -3px;
			display: inline-block;
		}

		.icon-circle {
			font-size: 4px;
			margin: 0 0 0 2px;
		}
	}
}