{% extends 'stdbody.html' %}
{% import 'macros/tags.html' as tagMacros %}

{% block pageTitle %}{{ pageTitle|"Qi Labs" }}{% endblock %}

{% block head %}
{% parent %}
	{% if user %}
	<script>window.user = {id: '{{user.id}}', name: '{{user.name}}', avatarUrl: '{{user.avatarUrl}}'}</script>
	{% else %}<script>window.user={}</script>{% endif %}
	<script>tagMap = {{ tagMap|json|safe }};</script>
	{{ tagMacros.stylesheet(getMediaUrl('css/snpages.min.css')) }}
{% endblock %}

{% block body %}

	{% block preBody %}{% endblock %}
	{% include 'components/navbar.html' with navbarOpts %}
	{% include 'components/sidebar.html' %}

	<div class="cContainer gcontainer" id="global-container">
		{% block global-container %}
		{% endblock %}
	</div>
	
	{% if user %}
		<!-- User Voice -->
		<script>
		document.body.parentElement.className += ' snpage';
		UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/rfkU8CwAAcETxyAbMQzM7w.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})(); UserVoice.push(['set', {accent_color: '#448dd6',trigger_color: 'white',trigger_background_color: 'rgba(46, 49, 51, 0.6)'}]);
		UserVoice.push(['identify', {
			{# 'email': '{{ user.email }}', #}
			name: '{{ user.name }}',
			id: '{{ user.id }}',
		}]);
		UserVoice.push(['addTrigger', '#sd-feedback-btn', { mode: 'contact', }]);
		// UserVoice.push(['addTrigger',{mode:'contact',trigger_position:'bottom-right' }]);
		</script>
		<!-- End User Voice -->
		<!-- Intercom -->
		<script id="IntercomSettingsScriptTag">
		window.intercomSettings = {
			name: "{{ user.name }}",
			email: "{{ user.email }}",
			created_at: {{ 1*user.firstAccess }},
			app_id: "3le7gbsg"
		};
		</script>
		<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
		</script>
	{% endif %}
{% endblock %}