{% extends 'snpage.html' %}

{% block globalContainer %}

	{% block globalHeader %}
	{% endblock %}

	<div id="cards" class="wall grid">
		<div id="resultsContainer">
		{% spaceless %}
			<div class="timeline">
				<div class="cardView">
					<div class="cardHeader">
						<span class="cardType">AVISO</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart icon-red"></i>&nbsp;
								<span>1.2k</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>43</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Estamos lançando mais uma guia
						para vocês: Modelo Simulação ONU</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Michelle, QI Labs</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/michelle.malher/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1395979570421" data-time-long="true">há 15 horas</time>
					</div>
				</div>

				<div class="cardView" data-tag="intercâmbio">
					<div class="cardHeader">
						<span class="cardType">EXPERIÊNCIA</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>1</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>0</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Anotações da Minha Primeira
						Viagem Internacional: Sudão do Sul</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Felipe Aragão</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(/static/images/avatar.png);">
								</div>
							</div>
						</div>
						<time data-time-count=
						"1395979551719" data-time-long="true">há 15 horas</time>
						<div class="tags-inline">
							<!-- <i class="icon-tags"></i>&nbsp; -->
							<span class="tag" data-tag-bg="vestibular">Intercâmbio</span>
							<span class="tag" data-tag-bg="application">Application</span>
						</div>
					</div>
				</div>

				<div class="cardView" data-tag="olimpiadas-informatica">
					<div class="cardHeader">
						<span class="cardType">Dica</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart icon-red"></i>&nbsp;
								<span>0</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>0</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Apostila para Aprender Cryptografia 101: <a href=
						"https://9d0df72831e4b345bb93-4b37fd03e6af34f2323bb971f72f0c0d.ssl.cf5.rackcdn.com/Crypto101March2014.pdf">
						...0d.ssl.cf5.rackcdn.com/Crypto101March2014.p...</a></span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Felipe Aragão</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(/static/images/avatar.png);">
								</div>
							</div>
						</div><time data-time-count=
						"1395711637945" data-time-long="true">há 3 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="application">
					<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
					<div class="cardHeader">
						<span class="cardType">
							PERGUNTA

							<div style=
							" /* color: #2ecc71; */ display: inline;">
								<span>&nbsp;</span>
							</div>
						</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>1</span>
							</div>

							<div>
								<i class="icon-bulb"></i>
								<span>1</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Existe idade mínima para
						aplicar?</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Garoto Precoce</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/rennan.gaio/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1395703845022" data-time-long="true">há 3 dias</time>
						<div class="tags-inline">
							<span class="tag" data-tag-bg="application">Application</span>
						</div>
	
					</div>
				</div>

				<div class="cardView" data-tag="vestibular">
					<div class="cardHeader">
						<span class="cardType">DICA</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart icon-red"></i>&nbsp;
								<span>28</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>4</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Conheça sites para te ajudar na
						reta final de preparação para o ENEM 2014</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Viviane Lobo</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/vivianeplobo/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1395692324054" data-time-long="true">há 3 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="olimpiadas-matematica">
					<div class="cardCover"><span class="tag" data-tag-bg="olimpiada">Olimpíada de Matemática</span></div>
					<div class="cardHeader">
						<span class="cardType">ACHIEVEMENT</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>2k</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>3</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Conquistei a Medalha de Ouro na
						IMO 2014</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Alguém</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(/static/images/avatar.png);">
								</div>
							</div>
						</div><time data-time-count=
						"1394968329364" data-time-long="true">há 12 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="voluntariado">
					<div class="cardHeader">
						<span class="cardType">OPORTUNIDADE</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>0</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>0</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Abertas vagas para trabalho
						voluntário em ONG da Rocinha</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipe.pires.14224">Felipe Pires</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipe.pires.14224"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/100007778376346/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1394968029654" data-time-long="true">há 12 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="politica">
					<div class="cardHeader">
						<span class="cardType">Opinião</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>5</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>1</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Quando Putin cantou "Beijinho
						no Ombro" para o homem mais poderoso do mundo</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipe.pires.14224">Mariam Tope</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipe.pires.14224"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/mariitope/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1394767890654" data-time-long="true">há 14 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="application">
					<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
					<div class="cardHeader">
						<span class="cardType">EXPERIÊNCIA</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>3.2k</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>210</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>O meu primeiro ano em Harvard</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipe.pires.14224">Aluno de Harvard</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipe.pires.14224"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/renan.f.carneiro.3/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1390969884449" data-time-long="true">há 58 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="olimpiadas-quimica">
					<div class="cardCover"><span class="tag" data-tag-bg="olimpiada">Olimpíada</span><span class="tag" data-tag-bg="olimpiada">Química</span></div>
					<div class="cardHeader">
						<span class="cardType">PERGUNTA</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>1</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>1</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Estou na 7ª série, gosto de
						Química e gostaria de competir. Por onde eu começo?</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Nunca Será</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/rebeca.lyra.3/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1394877379178" data-time-long="true">há 13 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="application">
					<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
					<div class="cardHeader">
						<span class="cardType">OPORTUNIDADE</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>0</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>0</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Harvard, Yale, George Town
						fazem palestra no Rio de Janeiro no sábado. Inscreva-se!</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Nicole Dux</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/nicole.dux/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1394876750795" data-time-long="true">há 13 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="aprendendo-linguas">
					<div class="cardHeader">
						<span class="cardType">Experiência</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>230</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>5</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Meus primeiros passos com
						francês e dicas pra vocês</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Felipe Aragão</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(/static/images/avatar.png);">
								</div>
							</div>
						</div><time data-time-count=
						"1394876684321" data-time-long="true">há 13 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="olimpiadas-matematica">
					<div class="cardCover"><span class="tag" data-tag-bg="olimpiada">Matemática</span></div>
					<div class="cardHeader">
						<span class="cardType">Opinião</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>0</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>0</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Por que eu gosto de
						matemática</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Aluninho da 6ª série</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/gabriel.soldani/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1394876230279" data-time-long="true">há 13 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="application">
					<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
					<div class="cardHeader">
						<span class="cardType">ACHIEVEMENT</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart"></i>&nbsp;
								<span>23</span>
							</div>

							<div>
								<i class="icon-comment-o"></i>&nbsp;
								<span>1</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Do "Mamãe, quero ser
						astronauta" ao Florida Institute of Technology</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Luiz Fernando Leal</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(https://graph.facebook.com/100001334209362/picture);">
								</div>
							</div>
						</div><time data-time-count=
						"1394708997429" data-time-long="true">há 15 dias</time>
					</div>
				</div>

				<div class="cardView" data-tag="">
					<div class="cardHeader">
						<span class="cardType">DISCUSSÃO</span>

						<div class="iconStats">
							<div>
								<i class="icon-heart icon-red"></i>&nbsp;
								<span>4</span>
							</div>

							<div>
								<i class="icon-comments-o"></i>&nbsp;
								<span>20</span>
							</div>
						</div>
					</div>

					<div class="cardBody">
						<span>Funk é música?</span>
					</div>

					<div class="cardFoot">
						<div class="authorship">
							<a class="username" href=
							"/u/felipearagaopires">Felipe Aragão</a>
							<div class="avatarWrapper">
								<a href=
								"/u/felipearagaopires"></a>

								<div class="avatar"
								style=
								"background:url(/static/images/avatar.png);">
								</div>
							</div>
						</div><time data-time-count=
						"1394698469534" data-time-long="true">há 15 dias</time>
					</div>
				</div>
			
			</div>
		{% endspaceless %}
		</div>
	</div>

	<script>
		function addClass (el, className) {
			if (el.classList) { el.classList.add(className); }
			else if (el.className.split(' ').indexOf(className)==-1) {
				el.className += ' ' + className;
			}
		}
		(window.resizeCardsPanel = function () {
			document.getElementById("globalContainer").style.height = (document.body.offsetHeight - document.getElementById("globalContainer").getBoundingClientRect().top)+"px";
			addClass(document.getElementById("globalContainer"), 'scrollable');
		})();
		window.addEventListener('resize', resizeCardsPanel);
	</script>

{% endblock %}