{% extends 'layout.html' %}
{% set dataAbout="faq" %}
{% set pageTitle="Ajuda" %}

{% block aboutHeader %}
<h1>Precisa de Ajuda?</h1>
{% endblock %}

{% block aboutBody %}
<section class="faq">
	<div class="container">
		<h1><strong>Perguntas frequentes</strong></h1>
		<h3>Ou que gente acha que podem acabar fazendo...</h3>
		<ul class="questions">
			<li class="">
				<h3>P: Como posso entrar em contato com vocês?</h3>
				<p>
					Mandando um email para contato[ARROBA]qilabs.org, ou através da <a href="{{ urls.facebook }}">nossa página do facebook</a>.
				</p>
			</li>
		</ul>
	</div>
</section>
{% endblock %}