{% extends 'layout.html' %}
{% set dataAbout="main" %}
{% set pageTitle="Sobre" %}

{% block aboutHeader %}
<h1>Sobre</h1>
<p>
	O QI Labs é uma comunidade online para extra-curriculares.
	{#
	Nós conectamos entre estudantes de todas as origens e contextos sociais. Nossa missão é desenvolver ferramentas para conectar alunos pelo Brasil.
	#}
</p>
{% endblock %}

{% block aboutBody %}
<section class="team">
	<div class="container">
		<label>
			<h2><strong>QI Labs.</strong> A Equipe</h2>
		</label>
		<ul class="display people">
			<li>
				<figure>
					<a href="/@felipearagaopires">
					<img src="{{ nconf.get('picture_me') }}"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Felipe Aragão</span>
					<span class="role">Coordenação &amp; Desenvolvimento</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<a href="/@michelle">
					<img src="https://graph.facebook.com/michelle.malher/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Michelle Malher</span>
					<span class="role">Conteúdo &amp; Operações</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<a href="/@vinicius.cantocosta">
					<img src="https://graph.facebook.com/100002276183719/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Vinícius Canto</span>
					<span class="role">Comunidades</span>
				</figcaption>
			</li>
			{#
			<li>
				<figure>
					<a href="/@luizfernando.gomes.581">
					<img src="https://graph.facebook.com/100001334209362/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Luiz Fernando</span>
					<span class="role">Operações</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<a href="/@mariitope">
					<img src="https://graph.facebook.com/100001115788168/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Mariam</span>
					<span class="role">Crescimento</span>
				</figcaption>
			</li>
			#}
		</ul>
	</div>
</section>

<section class="editores">
	<div class="container">
		<label>
			<h2><strong>Colaboradores.</strong> <a href="https://docs.google.com/forms/d/1JM9UWneaVaStifFFH9spDw_TtzX5DGSb-FUhchOSv5o/viewform">seja você também</a></h2>
		</label>
		<ul class="people">
			<li>
				<figure>
					<a href="/@franco.severo.7">
					<img src="https://graph.facebook.com/franco.severo.7/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Franco Severo</span>
					<span class="role">Matemática</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<a href="/@nicole.dux">
					<img src="https://graph.facebook.com/nicole.dux/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Nicole Dux</span>
					<span class="role">Application</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<a href="/@matheus.carioca.s">
					<img src="https://graph.facebook.com/matheus.carioca.s/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Matheus Carioca</span>
					<span class="role">Matemática</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<a href="/@filipe.peres">
					<img src="https://graph.facebook.com/100001330103507/picture?width=200&height=200"></img>
					</a>
				</figure>
				<figcaption>
					<span class="name">Filipe Peres</span>
					<span class="role">Application</span>
				</figcaption>
			</li>
			<li>
				<figure>
					<img src="/static/images/brain.png"></img>
				</figure>
				<figcaption>
					<span class="name">Você</span>
					<span class="role">&lt;seu interesse&gt;</span>
				</figcaption>
			</li>
		</ul>
	</div>
</section>

<section class="join">
	<div class="container">
		<h1><strong>Gostou da ideia e quer ajudar?</strong></h1>
		<p>Estamos à procura de desenvolvedores, e de pessoas destacadas nos seus campos de extra-curriculares que compartilhem da nossa missão.</p>
		<a class="button" href="mailto:piresafelipe ARROBA gmail.com">Quero fazer parte da equipe!</a>
	</div>
</section>

<section class="partners">
	<div class="container">
		<label>
			<h2><strong>Parceiros</strong> e Apoiadores</h2>
		</label>
		<ul class="display">
			<li>
				<img src="http://i.imgur.com/Iz03xVk.jpg" title="Dux Institute" width="300" />
			</li>
			<li>
				<img src="http://i.imgur.com/3FzueKe.png" title="Núcleo Olímpico de Incentivo ao Conhecimento" width="300" />
			</li>
		</ul>
	</div>
</section>

{% endblock %}