{% extends '../snpage.html' %}
{% set dataPage="lab" %}

{% block title %}
	{{ lab.name }} | QI Labs
{% endblock %}

{% block head %}
{% parent %}
<script>
conf.pageRoot = '{{ pageUrl }}';
conf.postsRoot = '/api/labs/{{ lab.id }}/all';
conf.isListView = true;
</script>
{% endblock %}

{%
set navbarOpts = {
	pageDetailLabel: lab.name,
	pageId: 'lab',
	navMenu: [{ name: lab.name, url: lab.path, icon: 'icon-tag' }],
	pageRoot: 'labs',
}
%}
{%
set sbOpts = {
	pageRoot: 'labs',
}
%}

{% block global-container %}
	<header>
		<div>
			<div class="col-md-9">
			{% if lab.icon %}
				<div class="tag-thumbnail tag-bg" data-tag="{{ lab.id }}">
					<i class="{{ lab.icon }}"></i>
				</div>
			{% endif %}
				<div class="title">
				{{ lab.name }}
				</div>
				<p>{{ lab.description }}</p>
			</div>
			<div class="col-md-3" style="text-align: right">
				{% if lab.guidePath %}
					<a class="btn btn-go-guide" href="{{ lab.guidePath }}">
						Acesse a Guia
					</a>
				{% endif %}
				{% if lab.problemsPath %}
					<a class="btn btn-go-problems" href="{{ lab.problemsPath }}">
						Resolva Problemas!
					</a>
				{% endif %}
			</div>
		</div>
	</header>
	<nav class="stream-nav">
		<ul>
			<li>
				<button class="active" data-src="/api/labs/{{ lab.id }}/all">Mais recentes</button>
			</li>
			<li>
				<button data-src="/api/labs/{{ lab.id }}/hot">Populares</button>
			</li>
			<li>
				<button data-src="/api/labs/{{ lab.id }}/following" title="Posts nesse laboratório das pessoas que você segue">Seguindo</button>
			</li>
		</nav>
		{#
		<ul class="right">
			<li class="check-btns" onClick="$('#srry').fadeIn()">
				<i class="icon-unsorted"></i>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary fire-btn active" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Mais Populares Primeiro">
						<input type="radio" name="options" id="option3" checked><i class="icon-fire22"></i>
					</label>
					<label class="btn btn-primary clock-btn" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Mais Recentes Primeiro">
						<input type="radio" name="options" id="option3"><i class="icon-clock3"></i>
					</label>
				</div>
			</li>
			<li class="check-btns" onClick="$('#srry').fadeIn()">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary user-btn active" data-toggle="tooltip" data-container="body" data-placement="bottom" title="De todos os usuários">
						<input type="radio" name="options" id="option3" checked><i class="icon-user"></i>
					</label>
					<label class="btn btn-primary globe-btn" data-toggle="tooltip" data-container="body" data-placement="bottom" title="De quem você segue">
						<input type="radio" name="options" id="option3"><i class="icon-globe"></i>
					</label>
				</div>
			</li>
		</ul>
		#}
	</nav>
	<div id="qi-stream-wrap" class="wall qi-lab-stream">
	</div>
{% endblock %}