{% extends '../snpage.html' %}
{% set dataPage = 'labs' %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{%
set navbarOpts = {
	pageRoot: 'labs',
}
%}

{% if resource.type && !user %}
	{% block meta %}
		{{ metaTagMacros.meta({
			author: resource.data.author.name,
		}) }}
		{{ metaTagMacros.og({
			title: resource.data.content.title+' · QI Labs',
			image: resource.data.author.avatarUrl,
			url: resource.data.path,
			description: resource.data.content.body|planify|slice(0,400)+'...'
		}) }}
		{% parent %}
	{% endblock %}
{% endif %}

{% if !user %}
	{% block meta %}
	{{ metaTagMacros.meta({
		title: "QI Labs",
		image: "http://qilabs.org/static/images/logoBB.png",
		description: 'Comunidades para extra-curriculares.'
	}) }}
	{% endblock %}
{% endif %}

{% block head %}
{% parent %}
<script>
conf.pageRoot = '{{ pageUrl }}';
conf.postsRoot = '/api/labs/all';
conf.resource = {{ resource|json|safe }};
conf.userInterests = {{ user.preferences.labs|json|safe }};
conf.showTour = {{ showTour|default('false') }};
conf.showIntro = {{ showIntro|default('false') }};
conf.lastAccess = '{{ lastAccess|default('false') }}';
</script>
{% endblock %}

{% block global-container %}
<div class='thin-stream'>
	<header class='qi-header' id='qi-header'></header>
	<div id='qi-stream-wrap' class='qi-stream'></div>
</div>

<div class='qi-labs-sidebar'>
	<li class='labs-list' id='qi-sidebar-interests'></li>
	<li>
		<div class="newsboard">
			Estamos criando um sistema de moderação para os laboratórios. <br /> <a href="https://docs.google.com/forms/d/179O2BGo6SrPa-2Lo1uLJX9Cruhttt4ga9aP0ALE5W2c/viewform">Inscreva-se para participar!</a>
		</div>
	</li>
	<li>
		<a href="{{ urls.facebook }}" class="button goto-facebook">
			<i class="icon-facebook3"></i> QI Labs no Facebook
		</a>
	</li>
</div>
{% endblock %}
