{% extends '../snpage.html' %}
{% set dataPage = 'labs' %}

{% import '../lib/macroMetaTags.html' as metaTagMacros %}

{% set pageTitle = "QI Labs" %}
{% set navbarOpts = { pageRoot: 'labs' } %}

{% block meta %}
{{ metaSnippet.makeMetas(metaResource.toMetaObject()) }}
{% endblock %}

{% block head %}
{% parent %}
<script>
conf.postsRoot = '/api/labs/all';
conf.showIntro = {{ showIntro|default('false') }};
</script>
{% endblock %}

{% block global-container %}
<div class='thin-stream'>
	<header class='qi-header' id='qi-header'></header>
	<div id='qi-stream-wrap' class='qi-stream'></div>
</div>

<div class='qi-labs-sidebar'>
	<li class='labs-list' id='qi-sidebar-interests'></li>
	<li>
		<div class="newsboard">
			Estamos criando um sistema de moderação para os laboratórios. <br /> <a href="https://docs.google.com/forms/d/179O2BGo6SrPa-2Lo1uLJX9Cruhttt4ga9aP0ALE5W2c/viewform">Inscreva-se para participar!</a>
		</div>
	</li>
	<li>
		<a href="{{ urls.facebook }}" class="button goto-facebook">
			<i class="icon-facebook3"></i> QI Labs no Facebook
		</a>
	</li>
</div>
{% endblock %}