{% extends '../snpage.html' %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% if resource.type %}
{% block meta %}
{% if resource %}
{{ metaTagMacros.meta({
	author: resource.data.author.name,
}) }}
{% endif %}
{{ metaTagMacros.og({
	title: resource.data.content.title+" | QI Labs",
	image: resource.data.author.avatarUrl,
	url: resource.data.path,
	description: resource.data.content.body|planify|slice(0,400)+'...'
}) }}
{% parent %}
{% endblock %}
{% endif %}

{% block head %}
{% parent %}
<script>
conf.pageRoot ='{{ pageUrl }}';
conf.postsRoot = '/api/labs/all';
conf.resource = {{ resource|json|safe }};
conf.showInterestsBox = {{ showInterestsBox|default('false') }};
conf.showTour = {{ showTour|default('false') }};
conf.lastAccess = '{{ lastAccess|default('false') }}';
</script>
{% endblock %}

{% block global-container %}
	<div class="qi-header main">
		<nav class="stream-nav">
			<label>Mostrando publicações de:</label>
			<li>
				<button class='active' data-src="/api/labs/all">Global</button>
			</li>
			<li>
				<button data-src="/api/labs/inbox">Seguindo</button>
			</li>
			<li>
				<button data-src="/api/labs/hot">Quentes</button>
			</li>
		</nav>
	</div>

	<div id="qi-stream-wrap" class="qi-stream wall"></div>
{% endblock %}
