{% extends '../stdbody.html' %}
{% set dataPage="open_post" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block title %}
	{{ post.content.title }} · QI Labs
{% endblock %}

{% block head %}
	{# <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,500,700/Bitter:400,700/Merriweather:400,400i,700"> #}
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|PT+Serif:400,400i,700,700i|PT+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}">
{% endblock %}

{% block meta %}
{{ metaTagMacros.meta({
	author: author.name,
}) }}
{{ metaTagMacros.og({
	title: post.content.title+" · QI Labs",
	image: thumbnail,
	type: "article",
	url: 'http://www.qilabs.org'+post.path,
	description: post.content.body|planify|slice(0,400)+'...'
}) }}
{% endblock %}

{% block body %}
	{% include '../components/open_navbar.html' %}

	<div class="gcontainer">
		{% set bg = post.content.cover %}
		{% if ! bg %}
			{% set bg = author.profile.bgUrl %}
		{% endif %}
		<canvas class="elBackground blur" src="{{ bg }}"></canvas>
		<div class="elBlackout"></div>

		<header>
			<a href="{{ author.path }}">
			<div class="user-avatar">
				<div class="avatar" style="background-image: url({{ author.avatarUrl }})"></div>
			</div>
			</a>
		</header>

		<div class="box">
			<div class="flatBtnBox">
				<div class="item labeled like hollow active" disabled title="Votos">
					<i class="icon-heart4"></i>
					<span class="text">{{ post.counts.votes }}</span>
					<span class="label">Votos</span>
				</div>
				<div class="item labeled comments active" disabled title="Comentários">
					<i class="icon-chat-3"></i>
					<span class="text">{{ post.counts.children }}</span>
					<span class="label">Comentários</span>
				</div>
				<div class="item facebook" onClick="window.open('http://www.facebook.com/sharer.php?u={{ encodeURIComponent('http://qilabs.org'+post.path) }}&ref=fbshare&t={{ encodeURIComponent(post.content.title) }}', 'share', 'menubar=1,resizable=1,width=500,height=500')">
					<i class="icon-facebook"></i>
				</div>
				<div class="item twitter" onClick="window.open('http://twitter.com/share?url={{ encodeURIComponent('http://qilabs.org'+post.path) }}&ref=twitbtn&text={{ encodeURIComponent('"'+post.content.title+'"') }}&via=qilabsorg', 'share', 'menubar=1,resizable=1,width=500,height=500')">
					<i class="icon-twitter"></i>
				</div>
			</div>
			<article class="open-post">
				<div class="postHeader">
					<div class="postTitle">
						{{ post.content.title }}
					</div>
					<div class="info">
						<span class="author">
						 por <a href="{{ author.path }}"><span class="name">{{ author.name }}</span></a>
						</span>
					</div>
					<time>{{ post.created_at|date('d F Y')|trnsltDate }}</time>
				</div>
				{% if post.content.link %}
				<div class="linkDisplay">
					<div class="thumbnail" style="background-image: url({{ post.content.link_image }})">
					</div>
					<i class="icon-link"></i>
					<div class="right">
						<div class="title">
							<a href="{{ post.content.link }}">{{ post.content.link_title }}</a>
						</div>
						<div class="description">
							{{ post.content.link_description|slice(0,300) }}
						</div>
						<div class="link">
							<a href="{{ post.content.link }}">{{ post.content.link }}</a>
						</div>
					</div>
				</div>
				{% endif %}

				<div class="postBody">
					{{ post.content.body|safe }}
				</div>
				<div class="postFooter">
					<div class="tagList">
						{% if pageMap[post.lab] %}
							<span class="itag tag-bg" data-tag="{{ post.lab }}"><a href="{{ pageMap[post.lab].path }}">#{{ pageMap[post.lab].name }}</a></span>
							{% set children = pageMap[post.lab].children %}
							{% for tag in post.tags %}
								{% if tag in children %}
									<span class="itag"><a href="{{ pageMap[post.lab].path }}/tags/{{ tag }}">#{{ children[tag].name }}</a></span>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<div class="authorBox">
						<div class="left">
							<div class="user-avatar">
							<a href="{{ author.path }}">
								<div class="avatar" style="background-image: url({{ author.avatarUrl }})"></div>
							</a>
							</div>
						</div>
						<div class="userBio">
							<div class="title">
								<a href="{{author.path}}"><span class="name">{{ author.name }}</span></a>, {{ author.profile.location }}
							</div>
							<p>{{ author.profile.bio }}</p>
						</div>
					</div>
				</div>
			</article>

			<footer>
				<div class="stats">
					{% set word = "comentários" %}
					{% if post.counts.children === 1 %}
						{% set word = "comentário" %}
					{% endif %}
					{{ post.counts.children }} {{ word }}.
				</div>
				<div class="please-login">
					<a href="/login">
						Entre
					</a>
					para participar da discussão.
				</div>
			</footer>
		</div>
		<a href="/" title="QI Labs &reg; 2014" class="xbulb" style="background-image: url('/static/images/xbulb-empty.png')" /></a>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>
	var CI=function(e,t){this.image=t,this.element=e,this.element.width=this.image.width,this.element.height=this.image.height;var n=navigator.userAgent.toLowerCase().indexOf("chrome")>-1,r=navigator.appVersion.indexOf("Mac")>-1;n&&r&&(this.element.width=Math.min(this.element.width,300),this.element.height=Math.min(this.element.height,200)),this.context=this.element.getContext("2d"),this.context.drawImage(this.image,0,0)};CI.prototype={blur:function(e){this.context.globalAlpha=.5;for(var t=-e;e>=t;t+=2)for(var n=-e;e>=n;n+=2)this.context.drawImage(this.element,n,t),n>=0&&t>=0&&this.context.drawImage(this.element,-(n-1),-(t-1));this.context.globalAlpha=1}};$(function(){var e,t,n;$("canvas.blur").each(function(){n=this,e=new Image,e.onload=function(){t=new CI(n,this),t.blur(4)},e.src=$(this).attr("src")})})
	</script>

{% endblock %}