{% extends '../snpage.html' %}
{% set dataPage = 'problems' %}

{% import '../macros/metaTags.html' as metaTagMacros %}


{%
set pageTitle = "Problemas · QI Labs"
%}


{%
set navbarOpts = {
	pageRoot: 'problems',
}
%}

{% if resource.type %}
	{% block meta %}
		{{ metaTagMacros.meta({
			author: resource.data.author.name,
		}) }}
		{{ metaTagMacros.og({
			title: resource.data.content.title+' · QI Labs',
			image: resource.data.author.avatarUrl,
			url: resource.data.path,
			description: resource.data.content.body|planify|slice(0,400)+'...'
		}) }}
		{% parent %}
	{% endblock %}
{% endif %}

{% block head %}
{% parent %}
<script>
conf.pageRoot = '{{ pageUrl }}';
conf.postsRoot = '/api/labs/problems/all';
conf.resource = {{ resource|json|safe }};
conf.userSubjectInterests = {{ user.preferences.subjects|json|safe }};
conf.userInterests = {{ user.preferences.labs|json|safe }};
conf.lastAccess = '{{ lastAccess|default('false') }}';
</script>
{% endblock %}

{% block global-container %}

<div class='thin-stream'>
{% development %}
	<div class='msg-band'>
		<h1><i class="icon-extension"></i> Problemas Olímpicos</h1>
		<h2>Aqui você pode aprender sobre olimpíadas científicas e outras atividades.</h2>

		<p>
			Aqui você pode resolver questões de matemática e física, retiradas de edições anteriores de olimpíadas como OBF, OBM e OBMEP. Navegue pelas coleções, escolha o nível de acordo com o seu e comece a resolver problemas. <a href="">Clique aqui para reportar algum erro.</a>
		</p>

		<h4>Divirta-se! :)</h4>
		<i onClick="$(this.parentElement).slideUp()" class='icon-close'></i>
	</div>
{% enddevelopment %}

	<header class='qi-header' id='qi-header'></header>
	<div id='qi-stream-wrap' class='qi-stream'></div>
</div>

<div class='qi-labs-sidebar'>
	<div class='labs-list' id='qi-sidebar-interests'></div>
</div>


<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=521238787943358&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook -->

{#

{% endblock %}