{% extends '../snpage.html' %}
{% set dataPage = 'problems' %}

{% import '../macros/metaTags.html' as metaTagMacros %}


{%
set pageTitle = "Problemas · QI Labs"
%}


{%
set navbarOpts = {
	pageRoot: 'problems',
}
%}

{% if resource.type %}
	{% block meta %}
		{{ metaTagMacros.meta({
			author: resource.data.author.name,
		}) }}
		{{ metaTagMacros.og({
			title: resource.data.content.title+' · QI Labs',
			image: resource.data.author.avatarUrl,
			url: resource.data.path,
			description: resource.data.content.body|planify|slice(0,400)+'...'
		}) }}
		{% parent %}
	{% endblock %}
{% endif %}

{% block head %}
{% parent %}
<script>
conf.pageRoot = '{{ pageUrl }}';
conf.postsRoot = '/api/labs/problems/all';
conf.resource = {{ resource|json|safe }};
conf.userSubjectInterests = {{ user.preferences.subjects|json|safe }};
conf.userInterests = {{ user.preferences.labs|json|safe }};
conf.lastAccess = '{{ lastAccess|default('false') }}';
</script>
{% endblock %}

{% block global-container %}

<div class='thin-stream'>
	<header class='qi-header' id='qi-header'></header>
	<div id='qi-stream-wrap' class='qi-stream'></div>
</div>

<div class='qi-labs-sidebar'>
	<div class='labs-list' id='qi-sidebar-interests'></div>
</div>

{% endblock %}