{% extends '../snpage.html' %}
{% set dataPage = 'pset' %}

{% block title %}{{ pset.name }}{% endblock %}
{% set navbarOpts = { pageRoot: 'pset' } %}

{% block head %}
{% parent %}
<script>
conf.postsRoot = '/api/psets/{{ pset.id }}/problems';
conf.pset = {{ pset|json|safe }};
</script>
{% endblock %}

{% block meta %}
{% if metaResource %}
{{ metaSnippet.makeMetas(metaResource.toMetaObject()) }}
{% else %}
{{ metaSnippet.makeMetas(defaultMetaObject) }}
{% endif %}
{% endblock %}

{% block global-container %}

<div class='qi-sidebar'>
	<div class='pset-info'>
		<div class="name">
			<strong>{{ pset.name }}</strong>
		</div>
		<p class='description'>
			{{ pset.description }}
		</p>
	</div>
</div>

<div class='qi-stream'>
	<div id='qi-results'></div>
</div>


{% endblock %}