{% extends '../snpage.html' %}
{% set dataPage = 'problems' %}

{% block title %}QI Labs Olimpíadas{% endblock %}
{% set navbarOpts = { pageRoot: 'problems' } %}

{% block head %}
{% parent %}
<script>
conf.postsRoot = '/api/labs/problems/all';
</script>
{% endblock %}

{% block global-container %}

<div class="qi-header">
	<div class="qi-header-band">
		<h2>QI Labs Olimpíadas</h2>

		<p>
			Você pode resolver questões de matemática e física, retiradas de edições anteriores de olimpíadas como OBF, OBM e OBMEP. Navegue pelas coleções, escolha o nível de acordo com o seu e comece a resolver problemas. <a href="https://docs.google.com/forms/d/1cO_uH_q5hv-l7AznaBMC2em7yo_EoVO85Iz47vgUzAg/viewform">Clique aqui para reportar algum erro.</a>
		</p>

		<h4>Bom aprendizado!</h4>

    {% if user.flags.editor %}
    <button class="button red depth" data-trigger="component" data-component="createProblem">
      Criar <strong>Problema</strong>
    </button>
    <button class="button blue depth" data-trigger="component" data-component="createProblemSet">
      Criar <strong>ProblemSet</strong>
    </button>
    {% endif %}
	</div>
</div>

<div id='qi-results' class='qi-results'></div>

{% endblock %}