{% extends '../snpage.html' %}
{% set dataPage="profile" %}

{% set navbarOpts = { pageRoot: 'profile' } %}

{% block title %}
	{{ pUser.name }} | QI Labs
{% endblock %}

{% import '../lib/metaSnippet.html' as metaSnippet %}

{% block meta %}
{{ metaSnippet.makeMetas(pUser.toMetaObject()) }}
{% endblock %}

{% block head %}
{% parent %}
<script>
conf.pageRoot = '{{ pageUrl }}';
conf.postsRoot = '/api/users/{{ pUser.id }}/posts';
user_profile={id:'{{pUser.id}}', name:'{{pUser.name}}', path:'{{pUser.path}}', avatarUrl: '{{pUser.avatarUrl}}',username:'{{pUser.username}}'};
</script>
{% endblock %}

{% block global-container %}

<header id="ProfileHeader" class="backgrounded">
	<div class="background">
		<canvas class="blur" src="{{ pUser.profile.bgUrl }}" data-blur="2"></canvas>
		<div class="blackout"></div>
	</div>

	<div class="user-avatar">
		<div class="avatar" style="background: url({{ pUser.avatarUrl }})"></div>
	</div>

	<div class="userPrimaryBox">

		{% if pUser.id != user.id && user %}
			{% if follows %}
				<button class="btn-follow" data-action="unfollow" data-user="{{ pUser.id }}"></button>
			{% else %}
				<button class="btn-follow" data-action="follow" data-user="{{ pUser.id }}"></button>
			{% endif %}
		{% else %}
			<a class="button edit-profile" href="/settings">Editar</a>
		{% endif %}

		<div class="name">
			<a href="{{ pUser.path }}">
			<span>{{ pUser.name }}</span>
			<span class="username">@{{ pUser.username }}</span>
			</a>
		</div>

		<div class="userDetails">
			<div class="home">{{ pUser.profile.home }}</div>
			<div class="location">{{ pUser.profile.location }}</div>
			<div class="bio">
				{{ pUser.profile.bio }}
			</div>
		</div>

		<div class="userStats">
			<li role="tab" data-tab-type="posts">
				<a href="{{ pUser.path }}">
					<div class="value">{{ pUser.redis.nposts }}</div>
					<div class="label">posts</div>
				</a>
			</li>
			<li role="tab" data-tab-type="followers">
				<a href="{{ pUser.path }}/seguidores">
					<div class="value">{{ pUser.redis.nfollowers }}</div>
					<div class="label">seguidores</div>
				</a>
			</li>
			<li role="tab" data-tab-type="following">
				<a href="{{ pUser.path }}/seguindo">
					<div class="value">{{ pUser.redis.nfollowing }}</div>
					<div class="label">seguindo</div>
				</a>
			</li>
		</div>
	</div>

</header>

<aside id="ProfileSb">

	<section class="userInterests">
		<div class="label">
			Interesses
		</div>
		<ul>
		{% for tag in pUser.preferences.labs %}
			{% set trans = pageMap[tag].name %}
			<li>
				#{{ trans }}
			</li>
		{% endfor %}
		</ul>
	</section>
</aside>

<div id="qi-stream-wrap" class="qi-stream"></div>
{% endblock %}