{% extends '../page.html' %}
{%
set page = {
  title: 'Ranking',
  tag: 'ranking',
  root: 'ranking',
}
%}

{% import '../lib/metaSnippet.html' as metaSnippet %}

{% block meta %}
{{ metaSnippet.makeMetas({
	title: "Ranking QI Labs",
	image: "http://qilabs.org/static/images/ranking-square-330.png",
	description: "Ranking dos usuários do QI Labs, por reputação e número de problemas resolvidos.",
}) }}
{% endblock %}

{% block global-container %}
<div class="qi-header">
{#
	<div class="box">
		<div class="title">
		</div>

		<h1>Bem-vindo às <strong>Guias</strong> <i class="icon-local_library"></i></h1>
		<h2>Aqui você pode aprender sobre olimpíadas científicas e outras atividades.</h2>

		<p>
			As nossas guias são como enciclopédias de extra-curriculares: aqui estão informações gerais sobre as atividades e sobre como começar. O <strong>nosso conteúdo é 100% colaborativo</strong>, então usuário pode enviar sugestões de modificação ou suas próprias páginas para a gente.

			<small><a href="/guias/contribua">Clique aqui para saber como contribuir.</a></small>
		</p>

		<h4>Divirta-se! :)</h4>
		<div class="fb-share-button" data-href="https://qilabs.org/guias" data-layout="button_count"></div>
		<div class="g-plus" data-action="share" data-annotation="bubble"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://qilabs.org/guias" data-via="qilabsorg" data-dnt="true">Tweet</a>
	</div>
#}
</div>

<div class="qi-rankings">

	<div class="ranking">
		<div class="desc">
			<p class="lead">
				Ranking Publicações
			</p>
			<p>
				Esse é o ranking da popularidade. Você ganha pontos aqui escrevendo textos com curtidas.
				<br />
				<strong>1 curtida no seu texto = +10 pontos</strong>
			</p>
		</div>
		<ul>
		{% for item in rankingPosts.list %}
			<li onClick="location.href='{{ item.user.path }}'">
				<div class="main">
					<div class="index">
						{{ loop.index }}
					</div>
					<div class="user-avatar">
						<div class="avatar" style='background-image: url("{{ item.user.avatarUrl }}");'></div>
					</div>
					<div class="user-name">
						{{ item.user.name }}
					</div>
					<div class="karma">
						{{ item.user.points }} pontos
					</div>
				</div>
				<div class="right">
					<div class="user-username">
					<a href="{{ item.user.path }}">
						@{{ item.user.username }}
					</a>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="ranking">
		<div class="desc">
			<p class="lead">
				Ranking Problemas
			</p>
			<p>
				<strong>1 problema resolvido = +1 ponto aqui</strong>
			</p>
		</div>
		<ul>
		{% for item in rankingProblems.list %}
			<li onClick="location.href='{{ item.user.path }}'">
				<div class="main">
					<div class="index">
						{{ loop.index }}
					</div>
					<div class="user-avatar">
						<div class="avatar" style='background-image: url("{{ item.user.avatarUrl }}");'></div>
					</div>
					<div class="user-name">
						{{ item.user.name }}
					</div>
					<div class="karma">
						{{ item.user.points }} pontos
					</div>
				</div>
				<div class="right">
					<div class="user-username">
					<a href="{{ item.user.path }}">
						@{{ item.user.username }}
					</a>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

<footer>
	<div>
	</div>
	<i class="icon-lightbulb xbulb inverse"></i>
</footer>

{% endblock %}