{% set pageTitle = "Ranking · QI Labs" %}
{% extends '../snpage.html' %}
{% set dataPage = 'ranking' %}

{% import '../lib/macroMetaTags.html' as metaTagMacros %}

{% set navbarOpts = { pageRoot: 'ranking' } %}

{% block global-container %}

<div class="qi-rankings">

	<div class="ranking">
		<div class="desc">
			<p class="lead">
				Ranking Publicações
			</p>
			<p>
				Esse é o ranking da popularidade. Você ganha pontos aqui escrevendo textos com curtidas.
				<br />
				<strong>1 curtida no seu texto = +10 pontos</strong>
			</p>
		</div>
		<ul>
		{% for item in rankingPosts.list %}
			<li onClick="location.href='{{ item.user.path }}'">
				<div class="main">
					<div class="index">
						{{ loop.index }}
					</div>
					<div class="user-avatar">
						<div class="avatar" style='background-image: url("{{ item.user.avatarUrl }}");'></div>
					</div>
					<div class="user-name">
						{{ item.user.name }}
					</div>
					<div class="karma">
						{{ item.user.points }} pontos
					</div>
				</div>
				<div class="right">
					<div class="user-username">
					<a href="{{ item.user.path }}">
						@{{ item.user.username }}
					</a>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="ranking">
		<div class="desc">
			<p class="lead">
				Ranking Problemas
			</p>
			<p>
				<strong>1 problema resolvido = +1 ponto aqui</strong>
			</p>
		</div>
		<ul>
		{% for item in rankingProblems.list %}
			<li onClick="location.href='{{ item.user.path }}'">
				<div class="main">
					<div class="index">
						{{ loop.index }}
					</div>
					<div class="user-avatar">
						<div class="avatar" style='background-image: url("{{ item.user.avatarUrl }}");'></div>
					</div>
					<div class="user-name">
						{{ item.user.name }}
					</div>
					<div class="karma">
						{{ item.user.points }} pontos
					</div>
				</div>
				<div class="right">
					<div class="user-username">
					<a href="{{ item.user.path }}">
						@{{ item.user.username }}
					</a>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

<footer>
	<div>
	</div>
	<i class="icon-lightbulb xbulb inverse"></i>
</footer>

{% endblock %}