{% extends '../snpage.html' %}
{% set dataPage="settings" %}

{% set navbarOpts = { pageId: 'settings' } %}

{% block global-container %}

	<div class="thin-stream">
		<p class="bs-callout bs-callout-info">
			Para editar suas informações, clique no cadeado no canto superior direito da <a href='{{ user.path }}'>sua página de perfil</a>.
		</p>
		<section>
			<a href="/#fff" class="button fff">Ver amigos do Facebook usando o QI Labs.</a>
		</section>
		<section>
			<form data-ajax-form='true' data-url='/api/me/settings/fbnotified' data-method='put'>
				Receber notificações pelo Facebook
				{# <input type="hidden" name="notifiable" value="off" > #}
				<input type="checkbox" name="notifiable" autocomplete="off" {% if user.preferences.fbNotifiable %}checked='checked'{% endif %} >
				<input type="hidden" name="_csrf" value="{{ token }}" />
				<br />
				<input value="Salvar" type="submit" data-action="save" />
			</form>
		</section>
				{#
				<a href="#delete-account" data-action="delete-account" data-toggle="dialog">
					Excluir minha conta permanentemente.
				</a>
				#}
	</div>

{#
	<div class="dialog" id="delete-account">
		<div class="box">
			<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
			<div class="content">
				<h3>Certeza que quer excluir a sua conta?</h3>
				<img src="{{ assetUrl('images','sad_cat.jpg') }}" width=200>
				<form method="post" action="{{ }}">
					<input type="hidden" name="_csrf" value="{{ token }}" />
					<button data-action="leave">Sim :(</button>
					<button data-action="close-dialog">Cancelar :)</button>
				</form>
			</div>
		</div>
	</div>
#}
{% endblock %}