{% extends '../page.html' %}
{%
set page = {
  title: 'Configurações',
  tag: 'settings',
  root: '',
}
%}

{% block global-container %}
	<section>
		<aside>
			<div class="settingsNavigation" role="tabpanel">

			  <ul class="nav nav-pills" role="tablist">
			    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Perfil</a></li>
			    <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">Notificações</a></li>
			    <li role="presentation"><a href="#extras" aria-controls="extras" role="tab" data-toggle="tab">Extras</a></li>
			  </ul>

			</div>
		</aside>

		<div class="tab-content main">
			<div role="tabpanel" class="tab-pane active profileSection" id="profile">
				<div class="">
					<form>
<!-- 						<div class="">
					<p class="lead">Tchau</p>
							<div class="user-avatar">
								<div class="avatar" style="background-image: url({{ user.avatarUrl }})"></div>
							</div>
							<div class="username">
								{{ user.username }}
							</div>
						</div>
 -->				<div class="input-group">
							 <label>Seu Nome/Sobrenome</label>
							<input type="text" class="form-control nofill" name="name1" placeholder="Nome" value="{{ user.name|split(' ')|index(0) }}">
							<input type="text" class="form-control nofill" name="name2" placeholder="Sobrenome" value="{{ user.name|split(' ')|index(1) }}">
						</div>
						<div class="input-group">
							 <label>Onde você trabalha/estuda?</label>
							<input type="text" class="form-control profileInput" maxlength="50" name="location" value="{{ user.profile.location }}"  placeholder="Local de estudo/trabalho"/>
						</div>
						<div class="input-group">
						 <label>De onde você é?</label>
							<input type="text" class="form-control profileInput" maxlength="50" name="home" value="{{ user.profile.home }}" placeholder="Cidade de origem" />
						</div>
						<div class="input-group">
							<label>Quem é você? Descreva-se para os outros usuários.</label>
							<textarea class="bio profileInput form-control autosize" name="bio" maxlength="300">{{ user.profile.bio }}</textarea>
						</div>
						<input type="submit" value="Atualizar Perfil" data-action="save-profile" />
					</form>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="notifications">
				<form data-ajax-form='true' data-url='/api/me/settings/fbnotified' data-method='put'>
					Receber notificações pelo Facebook
					{# <input type="hidden" name="notifiable" value="off" > #}
					<input type="checkbox" name="notifiable" autocomplete="off" {% if user.preferences.fbNotifiable %}checked='checked'{% endif %} >
					<input type="hidden" name="_csrf" value="{{ token }}" />
					<br />
					<input value="Salvar" type="submit" data-action="save" />
				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="extras">

				<section>
					<a href="/#fff" class="button fff">Ver amigos do Facebook usando o QI Labs.</a>
				</section>

			</div>
		</div>

	</section>

{% endblock %}