{% extends '../stdbody.html' %}
{% set dataPage="complete-signup" %}

{% block pageTitle %}
Quem é você?
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css/bundle.css') }}" />
{% endblock %}

{% block body %}
<section class="jumbo">
	<i class="icon-happy"></i>
	<div class="info">
		<h2>Bem-vindo ao QI Labs!</h2>
		<p>Só precisamos confirmar umas informações...</p>
	</div>
	<form>
		<div id="bubble"></div>
		<div class="lines">
			<div>
				<div class="icon-status"><i></i></div>
				<div class="form-item">
					<input type="text" name="nome" placeholder="Nome" value="{{ user.name|split(' ')|index(0) }}" />
				</div>
				<div class="form-item">
					<input type="text" name="sobrenome" placeholder="Sobrenome" value="{{ user.name|split(' ')|index(-1) }}"/>
				</div>
			</div>
			<div>
				<div class="icon-status"><i></i></div>
				<div class="form-item">
					<input type="email" name="email" placeholder="Seu email" value="{{ user.email }}" />
				</div>
			</div>
			<div>
				<div class="icon-status"><i></i></div>
				<div class="form-item">
					<select name="school-year">
						<option disabled="disabled" value="" selected="selected">Selecione seu ano na escola/faculdade</option>
						<option value="6-ef">6º ano do Ensino Fundamental</option>
						<option value="7-ef">7ª ano do Ensino Fundamental</option>
						<option value="8-ef">8ª ano do Ensino Fundamental</option>
						<option value="9-ef">9ª ano do Ensino Fundamental</option>
						<option value="1-em">1ª ano do Ensino Médio</option>
						<option value="2-em">2ª ano do Ensino Médio</option>
						<option value="3-em">3ª ano do Ensino Médio</option>
						<option value="faculdade">Faculdade</option>
						<option value="pg">Pós-Graduação</option>
						<option value="esp">Ensino Superior Completo</option>
					</select>
				</div>
			</div>
			<div>
				<div class="icon-status"><i></i></div>
				<div class="form-item">
					<select name="b-day">
						<option disabled="disabled" value="" selected="selected">Dia</option>
						{% set range = _.range(1, 31); %}
						{% for i in range %}
							<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-item">
					<select name="b-month">
						<option disabled="disabled" value="" selected="selected">Mês</option>
						<option value="january">Janeiro</option>
						<option value="february">Fevereiro</option>
						<option value="march">Março</option>
						<option value="april">Abril</option>
						<option value="may">Maio</option>
						<option value="june">Junho</option>
						<option value="july">Julho</option>
						<option value="august">Agosto</option>
						<option value="september">Setembro</option>
						<option value="october">Outubro</option>
						<option value="november">Novembro</option>
						<option value="december">Dezembro</option>
					</select>
				</div>
				<div class="form-item">
					<select name="b-year">
						<option disabled="disabled" value="" selected="selected">Ano</option>
						{% set range = _.range(1950, 2005); %}
						{% for i in range|reverse %}
							<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<input type="submit" value="Continuar" disabled />
	</form>
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" ></script>
<script src="/static/js/vendor/modernizr-3.0.0-beta.min.js"></script>
<script>

(function setCSRFToken () {
	$.ajaxPrefilter(function(options, _, xhr) {
		if (!options.crossDomain) {
			xhr.setRequestHeader('x-csrf-token',
				$("meta[name='csrf-token']").attr('content'));
		}
	});
})();
function validateAll () {
	var els = $('input:not([type=submit]), select');
	var allGood = true;

	function trim (s) {
		return s.replace(/^\s+|\s+$/g, '');
	}
	var invalid = function (el) {
		allGood = false;
		$(el).parent().parent().addClass('invalid').removeClass('valid');
	};
	var valid = function (el) {
		$(el).parent().parent().addClass('valid').removeClass('invalid');
	};
	for (var i=0; i<els.length; i++) {
		var el = els[i];
		if (!el.value) {
			$(el).parent().parent().addClass('invalid').removeClass('valid');
		}

		switch (el.name) {
			case 'nome':
			case 'sobrenome':
				if (trim(el.value).split(' ')[0])
					valid(el);
				else invalid(el);
				break;
			case 'email':
				if (!trim(el.value).match(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/))
					invalid(el);
				else valid(el);
				break;
			case 'school-year':
				if (!el.value)
					invalid(el);
				else valid(el);
				break;
		}
	}
	// Validate b-day
	var lvalid = true;
	var el = $('select[name="b-day"]')[0]
	if (!el.value || !(1 <= el.value && el.value <= 31))
		lvalid = false
	if (!$('select[name="b-month"]')[0].value)
		lvalid = false
	el = $('select[name="b-year"]')[0]
	if (!el.value)
		lvalid = false
	if (lvalid) {
		valid(el)
	} else {
		invalid(el);
	}

	$('input[type=submit]')[0].disabled = !allGood;
}
validateAll();

$('input[type=text], input[type=email], select').on('keyup change', function (e) {
	validateAll();
});

$('form').on('submit', function (e) {
	e.preventDefault();
	$.ajax({
		type: 'PUT',
		dataType: 'JSON',
		url: '/signup/finish/1',
		data: {
			nome: $("[name=nome]").val(),
			sobrenome: $("[name=sobrenome]").val(),
			email: $("[name=email]").val(),
			'school-year': $("[name=school-year]").val(),
			'b-day': $("[name=b-day]").val(),
			'b-month': $("[name=b-month]").val(),
			'b-year': $("[name=b-year]").val(),
		}
	}).done(function (response) {
		if (response.error) {
			var value = response.message || "Ops! Erro aconteceu."
			$("#bubble").hide().html(value).slideDown();
		} else {
			window.location.href = '2';
		}
	});
});
$("#bubble").click(function () {
	$(this).fadeOut();
});
</script>

{% endblock %}