
.adjustHeaders() {
	h1 {
	  font-size: 1.4em;
	  margin-bottom: 1em;
	}
	h2 {
	  margin-top: 1em;
	  font-size: 1.2em;
	}
	h3 {
	  margin-top: 1.5em;
	  font-size: 1.15em;
	}
	h4, h5, h6 {
	  margin-top: 1em;
	  font-size: 1em;
	}
}

.decencia () {
	color: #313131;

	/* No `:visited` state is required by default (browsers will use `a`) */
	a {
	  color: #268bd2;
	  text-decoration: none;
	}
	/* `:focus` is linked to `:hover` for basic accessibility */
	a:hover,
	a:focus {
	  text-decoration: underline;
	}

	h1, h2, h3, h4, h5, h6 {
	  font-family: museo-sans, Helvetica, Arial, sans-serif;
	  font-weight: 400;
	  letter-spacing: -.025em;
	  margin-bottom: .5em;
	  line-height: 1.25;
	  text-rendering: optimizeLegibility;
	}

	h1 {
	  font-size: 1.7em;
	}
	h2 {
	  margin-top: 1em;
	  font-size: 1.25em;
	}
	h3 {
	  margin-top: 1.5em;
	  font-size: 1.1em;
	}
	h4, h5, h6 {
	  margin-top: 1em;
	  font-size: 1em;
	}

	/* Body text */
	p {
	  margin-top: 0;
	  margin-bottom: 1em;
	}

	/* Lists */
	ul, ol, dl {
	  margin-top: 0;
	  margin-bottom: 1em;
	}
	li {
		list-style: disc;
	}
	dt {
	  font-weight: bold;
	}
	dd {
	  margin-bottom: .5rem;
	}

	/* Misc */
	hr {
	  position: relative;
	  margin: 1.5rem 0;
	  border: 0;
	  border-top: 1px solid #eee;
	  border-bottom: 1px solid #fff;
	}

	abbr {
	  font-size: 85%;
	  font-weight: bold;
	  color: #555;
	  text-transform: uppercase;
	}
	abbr[title] {
	  cursor: help;
	  border-bottom: 1px dotted #e5e5e5;
	}

	/* Code */
	code,
	pre {
	  font-family: Menlo, Monaco, "Courier New", monospace;
	}
	code {
	  padding: .25em .5em;
	  font-size: 85%;
	  color: #bf616a;
	  background-color: #f9f9f9;
	  border-radius: 3px;
	}
	pre {
	  display: block;
	  margin-top: 0;
	  margin-bottom: 1rem;
	  padding: 1rem;
	  font-size: .8rem;
	  line-height: 1.4;
	  white-space: pre;
	  white-space: pre-wrap;
	  word-break: break-all;
	  word-wrap: break-word;
	  background-color: #f9f9f9;
	}
	pre code {
	  padding: 0;
	  font-size: 100%;
	  color: inherit;
	  background-color: transparent;
	}

	/* Quotes */
	blockquote {
	  padding: .5rem 1rem;
	  margin: .8rem 0;
	  color: #7a7a7a;
	  border-left: .25rem solid #e5e5e5;
	}
	blockquote p:last-child {
	  margin-bottom: 0;
	}
	@media (min-width: 30rem) {
	  blockquote {
	    padding-right: 5rem;
	    padding-left: 1.25rem;
	  }
	}

	img {
	  display: block;
	  margin: 0 0 1rem;
	  // border-radius: 5px;
	}

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.postBodyFormatting () {

	.decencia;
	// h1 { font-size: 2em; }
	// h2 { font-size: 1.2em; }
	// h1, h2 {
	// 	margin-top: 25px;
	// 	margin-bottom: 10px;
	// }

	h1 {
	  font-size: 1.54em;
	}
	h2 {
	  margin-top: 1em;
	  font-size: 1.25em;
	}
	h3 {
	  margin-top: 1.5em;
	  font-size: 1.1em;
	}
	h4, h5, h6 {
	  margin-top: 1em;
	  font-size: 1em;
	}


	li {
		margin-left: 20px; // Bc of overflow: hidden
	}

	p {
		line-height: 1.5;

		& > img:last-child {
			margin: 30px 0 10px;
		}
		& > img:first-child {
			margin-top: 10px;
		}
	}

	& > img,
	& > iframe {
		margin: 30px 0;
		border: none;
		display: block;

		& + small {
			display: block;
			margin-top: -10px;
			font-size: 13px;
			margin-bottom: 20px;
		}
	}

	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px;
		font-size: 1.2em;
		border-left: 5px solid #BBB;
	}

	& > pre {
		width: 700px;
		margin: 15px -20px;
	}

	h1 + img, .h1 + img, h1 + iframe, .h1 + iframe,
	h2 + img, .h2 + img, h2 + iframe, .h2 + iframe
	{
		margin-top: 0px;
	}

	pre {
		border: 1px solid #EEE;
		background: #FAFAFA;
		border-radius: 0;
	}

	word-wrap: break-word;
	font-size: 15px;

	strong {
		font-weight: 500;
	}


	h1, h2, h3, h4, h5, h6 {
		font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

}

.guideFormatting () {

	.decencia;

	& > img, & > iframe {
		margin: 30px 0;
		border: none;
		display: block;

		& + small {
			display: block;
			margin-top: -10px;
			font-size: 13px;
			margin-bottom: 20px;
		}
	}

	ul {
		margin-left: 20px;
		margin-bottom: 10px;

		li {
			list-style: disc;
		}
	}

	// blockquote {
	// 	padding: 10px 20px;
	// 	margin: 0 0 20px;
	// 	font-size: 1.2em;
	// 	border-left: 5px solid #BBB;
	// }

	& > pre {
		width: 700px;
		margin: 15px -20px;
	}

	pre {
		border: 1px solid #EEE;
		background: #FAFAFA;
		border-radius: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "PT Serif", "Georgia";
	}
	font: 17px/1.6 "PT Serif";

	& > h1:first-child, * > h1:first-child,
	& > h2:first-child, * > h2:first-child,
	& > h3:first-child, * > h3:first-child,
	& > h4:first-child, * > h4:first-child {
		margin-top: 0 !important;
	}

	h1 {
		font-size: 2.3em;
	}
	h2 {
		margin-top: 1em;
		font-size: 1.8em;
	}
	h3 {
		margin-top: 1.5em;
		font-size: 1.4em;
	}

	a {
		color: mix(@CBLUE, #08C);
		.transition;
		&:hover {
			text-decoration: none;
			color: darken(mix(@CBLUE, #08C), 10%);
		}
	}

	blockquote {
		background: #EEE;
		p { margin: 0; }
	}

}