
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?r0mxpx');
	src:url('../fonts/icomoon.eot?#iefixr0mxpx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?r0mxpx') format('woff'),
		url('../fonts/icomoon.ttf?r0mxpx') format('truetype'),
		url('../fonts/icomoon.svg?r0mxpx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
.ico {
	.icon;
}

[class^="icon-"] + span
[class*=" icon-"] + span {
	vertical-align: middle;
}

// .icon-bold {
// 	font-weight: bold;
// }

.icon () {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	&.icon-large {
		font-size: (4em / 3);
		line-height: (3em / 4);
		vertical-align: -15%;
	}
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mixin(@icon){
	@var: "ico-@{icon}";
	&:before { content: @@var; }
}

.icon (@var) {
	.icon;
	.icon-mixin(@var);
}

.ico (@var) {
	.icon;
	&:before { content: @var; }
}

////


.icon-home:before {
	content: "\e627";
}

.icon-arrow-forward:before {
	content: "\e628";
}

.icon-delete:before {
	content: "\e668";
}

.icon-heart:before {
	content: "\e674";
}

.icon-lock-open:before {
	content: "\e675";
}

.icon-lock-closed:before {
	content: "\e676";
}

.icon-group:before {
	content: "\e677";
}

.icon-globe:before {
	content: "\e71a";
}

.icon-eye:before {
	content: "\e678";
}

.icon-pin:before {
	content: "\e679";
}

.icon-info-large:before {
	content: "\e67a";
}

.icon-zoom:before {
	content: "\e67b";
}

.icon-world:before {
	content: "\e67c";
}

.icon-notes:before {
	content: "\e72b";
}

.icon-code:before {
	content: "\e67d";
}

.icon-flag:before {
	content: "\e67e";
}

.icon-social-twitter:before {
	content: "\e67f";
}

.icon-social-facebook:before {
	content: "\e680";
}

.icon-social-github:before {
	content: "\e681";
}

.icon-at:before {
	content: "\e682";
}

.icon-news:before {
	content: "\e683";
}

.icon-home-outline:before {
	content: "\e684";
}

.icon-link-outline:before {
	content: "\e685";
}

.icon-image-outline:before {
	content: "\e686";
}

.icon-heart-outline:before {
	content: "\e687";
}

.icon-lock-open-outline:before {
	content: "\e688";
}

.icon-info-large-outline:before {
	content: "\e689";
}

.icon-zoom-outline:before {
	content: "\e68a";
}

.icon-tag:before {
	content: "\e68b";
}

.icon-directions:before {
	content: "\e68c";
}

.icon-pencil:before {
	content: "\e68d";
}

.icon-thumbs-up:before {
	content: "\e68e";
}

.icon-thumbs-down:before {
	content: "\e68f";
}

.icon-pen:before {
	content: "\e690";
}

.icon-social-github-circular:before {
	content: "\e691";
}

.icon-compass:before {
	content: "\e692";
}

.icon-bell:before {
	content: "\e693";
}

.icon-lightbulb:before {
	content: "\e694";
}

.icon-tags:before {
	content: "\e695";
}

.icon-volume:before {
	content: "\e696";
}

.icon-volume-up:before {
	content: "\e697";
}

.icon-volume-mute:before {
	content: "\e698";
}

.icon-volume-down:before {
	content: "\e699";
}

.icon-social-twitter-circular:before {
	content: "\e69a";
}

.icon-social-facebook-circular:before {
	content: "\e69b";
}

.icon-accessibility:before {
	content: "\e69c";
}

.icon-account-balance:before {
	content: "\e69d";
}

.icon-account-child:before {
	content: "\e710";
}

.icon-account-circle:before {
	content: "\e69e";
}

.icon-assessment:before {
	content: "\e69f";
}

.icon-bug-report:before {
	content: "\e6a0";
}

.icon-dashboard:before {
	content: "\e6a1";
}

.icon-delete2:before {
	content: "\e6a2";
}

.icon-description:before {
	content: "\e6a3";
}

.icon-done:before {
	content: "\e6a4";
}

.icon-exit-to-app:before {
	content: "\e66e";
}

.icon-explore:before {
	content: "\e6a5";
}

.icon-extension:before {
	content: "\e6a6";
}

.icon-favorite:before {
	content: "\e6a7";
}

.icon-favorite-outline:before {
	content: "\e6a8";
}

.icon-get-app:before {
	content: "\e706";
}

.icon-group-work:before {
	content: "\e711";
}

.icon-help:before {
	content: "\e6a9";
}

.icon-home2:before {
	content: "\e6aa";
}

.icon-info:before {
	content: "\e6ab";
}

.icon-language:before {
	content: "\e6ac";
}

.icon-list:before {
	content: "\e6ad";
}

.icon-loyalty:before {
	content: "\e6ae";
}

.icon-perm-identity:before {
	content: "\e6d5";
}

.icon-question-answer:before {
	content: "\e6af";
}

.icon-report-problem:before {
	content: "\e6b0";
}

.icon-search:before {
	content: "\e707";
}

.icon-settings:before {
	content: "\e708";
}

.icon-settings-ethernet:before {
	content: "\e709";
}

.icon-stars:before {
	content: "\e72c";
}

.icon-thumb-down:before {
	content: "\e6b1";
}

.icon-thumb-up:before {
	content: "\e6b2";
}

.icon-turned-in:before {
	content: "\e6b3";
}

.icon-visibility:before {
	content: "\e6b4";
}

.icon-equalizer:before {
	content: "\e6b5";
}

.icon-my-library-books:before {
	content: "\e6b6";
}

.icon-stop:before {
	content: "\e6b7";
}

.icon-volume-down2:before {
	content: "\e6b9";
}

.icon-volume-mute2:before {
	content: "\e6bd";
}

.icon-volume-off:before {
	content: "\e6be";
}

.icon-volume-up2:before {
	content: "\e6bf";
}

.icon-comment:before {
	content: "\e6c0";
}

.icon-forum:before {
	content: "\e70a";
}

.icon-message:before {
	content: "\e6c1";
}

.icon-messenger:before {
	content: "\e6c8";
}

.icon-textsms:before {
	content: "\e6c9";
}

.icon-add:before {
	content: "\e6ca";
}

.icon-block:before {
	content: "\e6cb";
}

.icon-clear:before {
	content: "\e6cc";
}

.icon-flag2:before {
	content: "\e6cd";
}

.icon-inbox:before {
	content: "\e6ce";
}

.icon-link:before {
	content: "\e6cf";
}

.icon-redo:before {
	content: "\e725";
}

.icon-reply:before {
	content: "\e726";
}

.icon-send:before {
	content: "\e6d0";
}

.icon-undo:before {
	content: "\e71b";
}

.icon-brightness-high:before {
	content: "\e72d";
}

.icon-brightness-low:before {
	content: "\e72e";
}

.icon-dvr:before {
	content: "\e6d1";
}

.icon-border-color:before {
	content: "\e716";
}

.icon-border-horizontal:before {
	content: "\e71c";
}

.icon-format-bold:before {
	content: "\e71d";
}

.icon-format-ital:before {
	content: "\e71e";
}

.icon-format-quote:before {
	content: "\e71f";
}

.icon-format-textdirection-l-to-r:before {
	content: "\e720";
}

.icon-functions:before {
	content: "\e721";
}

.icon-insert-comment:before {
	content: "\e6d2";
}

.icon-insert-emoticon:before {
	content: "\e6d3";
}

.icon-insert-photo:before {
	content: "\e6d4";
}

.icon-vertical-align-center:before {
	content: "\e722";
}

.icon-attachment:before {
	content: "\e6d6";
}

.icon-cloud-circle:before {
	content: "\e6d7";
}

.icon-cloud-queue:before {
	content: "\e6df";
}

.icon-folder:before {
	content: "\e6e0";
}

.icon-folder-open:before {
	content: "\e6e1";
}

.icon-folder-shared:before {
	content: "\e6e2";
}

.icon-keyboard-arrow-down:before {
	content: "\e6e3";
}

.icon-keyboard-arrow-left:before {
	content: "\e6e4";
}

.icon-keyboard-arrow-right:before {
	content: "\e723";
}

.icon-keyboard-arrow-up:before {
	content: "\e6e5";
}

.icon-keyboard-control:before {
	content: "\e6e6";
}

.icon-assistant-photo:before {
	content: "\e6e7";
}

.icon-camera:before {
	content: "\e724";
}

.icon-edit:before {
	content: "\e6e8";
}

.icon-lens:before {
	content: "\e714";
}

.icon-looks-3:before {
	content: "\e6e9";
}

.icon-looks-4:before {
	content: "\e6ea";
}

.icon-looks-5:before {
	content: "\e6eb";
}

.icon-looks-6:before {
	content: "\e6ec";
}

.icon-looks-one:before {
	content: "\e6ed";
}

.icon-looks-two:before {
	content: "\e6ee";
}

.icon-panorama-fisheye:before {
	content: "\e715";
}

.icon-remove-red-eye:before {
	content: "\e6ef";
}

.icon-slideshow:before {
	content: "\e6f0";
}

.icon-straighten:before {
	content: "\e6f1";
}

.icon-wb-cloudy:before {
	content: "\e70b";
}

.icon-local-library:before {
	content: "\e70c";
}

.icon-local-offer:before {
	content: "\e70d";
}

.icon-location-history:before {
	content: "\e6f2";
}

.icon-rate-review:before {
	content: "\e712";
}

.icon-apps:before {
	content: "\e6f3";
}

.icon-check:before {
	content: "\e70e";
}

.icon-close:before {
	content: "\e70f";
}

.icon-more-horiz:before {
	content: "\e6f4";
}

.icon-refresh:before {
	content: "\e6f5";
}

.icon-do-not-disturb:before {
	content: "\e6f6";
}

.icon-sms-failed:before {
	content: "\e6f7";
}

.icon-cake:before {
	content: "\e72f";
}

.icon-group2:before {
	content: "\e6f8";
}

.icon-notifications:before {
	content: "\e6f9";
}

.icon-notifications-none:before {
	content: "\e6fa";
}

.icon-notifications-off:before {
	content: "\e6fb";
}

.icon-notifications-on:before {
	content: "\e6fc";
}

.icon-notifications-paused:before {
	content: "\e6fd";
}

.icon-pages:before {
	content: "\e717";
}

.icon-people-outline:before {
	content: "\e713";
}

.icon-person:before {
	content: "\e718";
}

.icon-person-add:before {
	content: "\e6fe";
}

.icon-poll:before {
	content: "\e730";
}

.icon-publ:before {
	content: "\e6ff";
}

.icon-school:before {
	content: "\e700";
}

.icon-share:before {
	content: "\e701";
}

.icon-whatshot:before {
	content: "\e702";
}

.icon-check-box:before {
	content: "\e703";
}

.icon-check-box-outline-blank:before {
	content: "\e704";
}

.icon-radio-button-off:before {
	content: "\e719";
}

.icon-radio-button-on:before {
	content: "\e705";
}

.icon-star:before {
	content: "\e731";
}

.icon-star-half:before {
	content: "\e732";
}

.icon-star-outline:before {
	content: "\e733";
}

.icon-clock:before {
	content: "\e014";
}

.icon-type:before {
	content: "\e75c";
}

.icon-file:before {
	content: "\e75d";
}

.icon-align-left:before {
	content: "\e75e";
}

.icon-align-center:before {
	content: "\e75f";
}

.icon-align-justify:before {
	content: "\e760";
}

.icon-folder22:before {
	content: "\e669";
}

.icon-folder-add:before {
	content: "\e66a";
}

.icon-grid2:before {
	content: "\e756";
}

.icon-refresh2:before {
	content: "\e747";
}

.icon-volume2:before {
	content: "\e748";
}

.icon-volume-increase:before {
	content: "\e749";
}

.icon-volume-decrease:before {
	content: "\e74a";
}

.icon-mute:before {
	content: "\e74b";
}

.icon-checkmark:before {
	content: "\e74c";
}

.icon-paperclip:before {
	content: "\e757";
}

.icon-tag3:before {
	content: "\e74d";
}

.icon-trashcan:before {
	content: "\e66b";
}

.icon-search2:before {
	content: "\e66c";
}

.icon-chat2:before {
	content: "\e666";
}

.icon-chat-1:before {
	content: "\e62b";
}

.icon-chat-2:before {
	content: "\e62f";
}

.icon-chat-3:before {
	content: "\e630";
}

.icon-comment2:before {
	content: "\e66d";
}

.icon-calendar2:before {
	content: "\e631";
}

.icon-bookmark3:before {
	content: "\e74e";
}

.icon-email:before {
	content: "\e74f";
}

.icon-enter:before {
	content: "\e750";
}

.icon-cloud2:before {
	content: "\e758";
}

.icon-book:before {
	content: "\e759";
}

.icon-star2:before {
	content: "\e632";
}

.icon-clock2:before {
	content: "\e6bb";
}

.icon-home3:before {
	content: "\e763";
}

.icon-flag3:before {
	content: "\e761";
}

.icon-forbidden:before {
	content: "\e75a";
}

.icon-lock2:before {
	content: "\e66f";
}

.icon-unlocked:before {
	content: "\e670";
}

.icon-users:before {
	content: "\e6c3";
}

.icon-user2:before {
	content: "\e6c4";
}

.icon-users2:before {
	content: "\e6c5";
}

.icon-user22:before {
	content: "\e6c6";
}

.icon-bullhorn2:before {
	content: "\e60a";
}

.icon-share2:before {
	content: "\e671";
}

.icon-diamond2:before {
	content: "\e751";
}

.icon-vcard:before {
	content: "\e6c7";
}

.icon-sun:before {
	content: "\e762";
}

.icon-coffee:before {
	content: "\e764";
}

.icon-mapmarker:before {
	content: "\e672";
}

.icon-map:before {
	content: "\e75b";
}

.icon-stopwatch:before {
	content: "\e6bc";
}

.icon-atom:before {
	content: "\e604";
}

.icon-syringe:before {
	content: "\e752";
}

.icon-health:before {
	content: "\e753";
}

.icon-bolt:before {
	content: "\e754";
}

.icon-pill:before {
	content: "\e765";
}

.icon-lab2:before {
	content: "\e605";
}

.icon-clipboard:before {
	content: "\e755";
}

.icon-bucket:before {
	content: "\e766";
}

.icon-select:before {
	content: "\e767";
}

.icon-image:before {
	content: "\e673";
}

.icon-cube:before {
	content: "\e62c";
}

.icon-chart:before {
	content: "\e611";
}

.icon-pencil2:before {
	content: "\e606";
}

.icon-measure:before {
	content: "\e612";
}

.icon-heart2:before {
	content: "\e600";
}

.icon-cloud3:before {
	content: "\e601";
}

.icon-trash:before {
	content: "\e602";
}

.icon-search3:before {
	content: "\e603";
}

.icon-settings2:before {
	content: "\e607";
}

.icon-tag2:before {
	content: "\e608";
}

.icon-bulb:before {
	content: "\e609";
}

.icon-pen2:before {
	content: "\e6b8";
}

.icon-diamond:before {
	content: "\e60b";
}

.icon-eye2:before {
	content: "\e60c";
}

.icon-bubble:before {
	content: "\e60d";
}

.icon-mail:before {
	content: "\e610";
}

.icon-like:before {
	content: "\e613";
}

.icon-paperplane:before {
	content: "\e615";
}

.icon-megaphone:before {
	content: "\e621";
}

.icon-study:before {
	content: "\e629";
}

.icon-lab:before {
	content: "\e62d";
}

.icon-fire:before {
	content: "\e62e";
}

.icon-checkmark2:before {
	content: "\e739";
}

.icon-checkmark22:before {
	content: "\e73a";
}

.icon-checkmark3:before {
	content: "\e73b";
}

.icon-heart5:before {
	content: "\e737";
}

.icon-rocket2:before {
	content: "\e735";
}

.icon-trophy:before {
	content: "\e729";
}

.icon-search32:before {
	content: "\f002";
}

.icon-heart4:before {
	content: "\f004";
}

.icon-check2:before {
	content: "\f00c";
}

.icon-times3:before {
	content: "\f00d";
}

.icon-gear:before {
	content: "\f013";
}

.icon-trash-o:before {
	content: "\f014";
}

.icon-lock:before {
	content: "\f023";
}

.icon-tags3:before {
	content: "\f02c";
}

.icon-camera2:before {
	content: "\f030";
}

.icon-font:before {
	content: "\f031";
}

.icon-bold:before {
	content: "\f032";
}

.icon-italic:before {
	content: "\f033";
}

.icon-align-justify2:before {
	content: "\f039";
}

.icon-photo:before {
	content: "\f03e";
}

.icon-thumbs-o-up:before {
	content: "\f087";
}

.icon-thumbs-o-down:before {
	content: "\f088";
}

.icon-heart-o:before {
	content: "\f08a";
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-github:before {
	content: "\f09b";
}

.icon-unlock:before {
	content: "\f09c";
}

.icon-hand-o-right:before {
	content: "\f0a4";
}

.icon-hand-o-left:before {
	content: "\f0a5";
}

.icon-hand-o-up:before {
	content: "\f0a6";
}

.icon-hand-o-down:before {
	content: "\f0a7";
}

.icon-globe2:before {
	content: "\f0ac";
}

.icon-cloud22:before {
	content: "\f0c2";
}

.icon-strikethrough:before {
	content: "\f0cc";
}

.icon-underline:before {
	content: "\f0cd";
}

.icon-google-plus:before {
	content: "\f0d5";
}

.icon-unsorted:before {
	content: "\f0dc";
}

.icon-comment-o:before {
	content: "\f0e5";
}

.icon-comments-o:before {
	content: "\f0e6";
}

.icon-bulb2:before {
	content: "\f0eb";
}

.icon-circle-o:before {
	content: "\f10c";
}

.icon-quote-left:before {
	content: "\f10d";
}

.icon-quote-right:before {
	content: "\f10e";
}

.icon-circle:before {
	content: "\f111";
}

.icon-reply2:before {
	content: "\f112";
}

.icon-terminal:before {
	content: "\f120";
}

.icon-code2:before {
	content: "\f121";
}

.icon-question:before {
	content: "\f128";
}

.icon-exclamation:before {
	content: "\f12a";
}

.icon-puzzle-piece:before {
	content: "\f12e";
}

.icon-calendar-o:before {
	content: "\f133";
}

.icon-rocket:before {
	content: "\f135";
}

.icon-unlock-alt:before {
	content: "\f13e";
}

.icon-ellipsis-h:before {
	content: "\f141";
}

.icon-ellipsis-v:before {
	content: "\f142";
}

.icon-rss-square:before {
	content: "\f143";
}

.icon-play-circle:before {
	content: "\f144";
}

.icon-pencil-square:before {
	content: "\f14b";
}

.icon-compass2:before {
	content: "\f14e";
}

.icon-dollar:before {
	content: "\f155";
}

.icon-file2:before {
	content: "\f15b";
}

.icon-file-text:before {
	content: "\f15c";
}

.icon-thumbs-up3:before {
	content: "\f164";
}

.icon-thumbs-down3:before {
	content: "\f165";
}

.icon-youtube-play:before {
	content: "\f16a";
}

.icon-female:before {
	content: "\f182";
}

.icon-male:before {
	content: "\f183";
}

.icon-archive:before {
	content: "\f187";
}

.icon-google:before {
	content: "\f1a0";
}

.icon-child:before {
	content: "\f1ae";
}

.icon-paper-plane:before {
	content: "\f1d8";
}

.icon-send-o:before {
	content: "\f1d9";
}

.icon-circle-thin:before {
	content: "\f1db";
}

.icon-header:before {
	content: "\f1dc";
}

.icon-paragraph:before {
	content: "\f1dd";
}

.icon-share-alt:before {
	content: "\f1e0";
}

.icon-trophy2:before {
	content: "\e72a";
}

.icon-heart42:before {
	content: "\e6d9";
}

.icon-heart52:before {
	content: "\e6da";
}

.icon-happy:before {
	content: "\e633";
}

.icon-happy2:before {
	content: "\e634";
}

.icon-smiley:before {
	content: "\e60e";
}

.icon-smiley2:before {
	content: "\e635";
}

.icon-tongue:before {
	content: "\e60f";
}

.icon-tongue2:before {
	content: "\e636";
}

.icon-sad:before {
	content: "\e637";
}

.icon-sad2:before {
	content: "\e638";
}

.icon-wink:before {
	content: "\e639";
}

.icon-wink2:before {
	content: "\e63a";
}

.icon-grin:before {
	content: "\e63b";
}

.icon-grin2:before {
	content: "\e63c";
}

.icon-cool:before {
	content: "\e63d";
}

.icon-cool2:before {
	content: "\e63e";
}

.icon-angry:before {
	content: "\e63f";
}

.icon-angry2:before {
	content: "\e640";
}

.icon-shocked:before {
	content: "\e641";
}

.icon-shocked2:before {
	content: "\e642";
}

.icon-confused:before {
	content: "\e643";
}

.icon-confused2:before {
	content: "\e644";
}

.icon-neutral:before {
	content: "\e645";
}

.icon-neutral2:before {
	content: "\e646";
}

.icon-wondering:before {
	content: "\e647";
}

.icon-wondering2:before {
	content: "\e648";
}

.icon-radio-checked:before {
	content: "\e727";
}

.icon-radio-unchecked:before {
	content: "\e728";
}

.icon-in-alt:before {
	content: "\e616";
}

.icon-home22:before {
	content: "\e622";
}

.icon-search322:before {
	content: "\e614";
}

.icon-sound:before {
	content: "\e744";
}

.icon-sound-alt:before {
	content: "\e745";
}

.icon-soundoff:before {
	content: "\e746";
}

.icon-task:before {
	content: "\e623";
}

.icon-inbox2:before {
	content: "\e649";
}

.icon-inbox-alt:before {
	content: "\e617";
}

.icon-envelope2:before {
	content: "\e64a";
}

.icon-compose:before {
	content: "\e624";
}

.icon-trash22:before {
	content: "\e618";
}

.icon-trash-alt:before {
	content: "\e619";
}

.icon-grid:before {
	content: "\e61a";
}

.icon-grid-alt:before {
	content: "\e61b";
}

.icon-menu2:before {
	content: "\e61c";
}

.icon-list2:before {
	content: "\e64b";
}

.icon-clock5:before {
	content: "\e6c2";
}

.icon-heart222:before {
	content: "\e61d";
}

.icon-chat22:before {
	content: "\e61e";
}

.icon-comments2:before {
	content: "\e64c";
}

.icon-facebook2:before {
	content: "\e6ba";
}

.icon-googleplus:before {
	content: "\e625";
}

.icon-globe3:before {
	content: "\e667";
}

.icon-compass32:before {
	content: "\e64d";
}

.icon-share22:before {
	content: "\e64e";
}

.icon-heart62:before {
	content: "\e6db";
}

.icon-heart7:before {
	content: "\e6dc";
}

.icon-thumbsup:before {
	content: "\e6dd";
}

.icon-chat3:before {
	content: "\e64f";
}

.icon-search4:before {
	content: "\e61f";
}

.icon-bell22:before {
	content: "\e620";
}

.icon-megaphone2:before {
	content: "\e62a";
}

.icon-graduation:before {
	content: "\e650";
}

.icon-earth:before {
	content: "\e771";
}

.icon-checkmark4:before {
	content: "\e651";
}

.icon-cross:before {
	content: "\e652";
}

.icon-blocked:before {
	content: "\e772";
}

.icon-info2:before {
	content: "\e773";
}

.icon-help2:before {
	content: "\e774";
}

.icon-cycle:before {
	content: "\e775";
}

.icon-cw:before {
	content: "\e776";
}

.icon-ccw:before {
	content: "\e777";
}

.icon-shuffle:before {
	content: "\e778";
}

.icon-retweet2:before {
	content: "\e6de";
}

.icon-list22:before {
	content: "\e626";
}

.icon-play2:before {
	content: "\e779";
}

.icon-record:before {
	content: "\e77a";
}

.icon-stop2:before {
	content: "\e77b";
}

.icon-arrow-left22:before {
	content: "\e653";
}

.icon-arrow-down22:before {
	content: "\e654";
}

.icon-arrow-up22:before {
	content: "\e655";
}

.icon-arrow-right22:before {
	content: "\e656";
}

.icon-arrow-down32:before {
	content: "\e657";
}

.icon-arrow-up32:before {
	content: "\e658";
}

.icon-arrow-right32:before {
	content: "\e659";
}

.icon-arrow-left32:before {
	content: "\e65a";
}

.icon-arrow-down4:before {
	content: "\e65b";
}

.icon-arrow-up4:before {
	content: "\e65c";
}

.icon-uniE65D:before {
	content: "\e65d";
}

.icon-ellipsis:before {
	content: "\e65e";
}

.icon-dots:before {
	content: "\e65f";
}

.icon-dot:before {
	content: "\e660";
}

.icon-cc:before {
	content: "\e661";
}

.icon-cc-by:before {
	content: "\e662";
}

.icon-cc-nc:before {
	content: "\e663";
}

.icon-cc-nd:before {
	content: "\e664";
}

.icon-cc-pd:before {
	content: "\e665";
}

.icon-github2:before {
	content: "\e77c";
}

.icon-twitter2:before {
	content: "\e77d";
}

.icon-facebook3:before {
	content: "\e77e";
}

.icon-facebook32:before {
	content: "\e6d8";
}

.icon-googleplus2:before {
	content: "\e77f";
}
