
@import (reference) "../../plugins/animate.less";

/*---------------------------*\
	#SIDEBAR #ANIMATION
\*---------------------------*/

.pcontainer {
	.transition-transform(@sidebarWidth linear);
}
.gcontainer {
	.transition-transform(@sidebarAnimationDuration linear);
}

// #sidebar {
// 	.transition-transform(@sidebarAnimationDuration linear);
// }

/**
 * Translation of the whole page when sidebar is open.
 */
// body:not(.sb-open) .navbar-navigation {
// 	.transition-delay(0);
// }


// @fontRound: QuickSans, 'Varela Round';

// .qi-header {
// 	padding: 15px 30px;
// 	width: 100%;
// 	position: relative;
// 	line-height: 40px;
// 	display: table;

// 	.where {
// 		font-family: 'museo-sans';
// 		font-size: 19px;
// 		font-weight: bold;
// 		display: inline-block;

// 		a {
// 			color: inherit;
// 		}

// 		.sub {
// 			font-weight: lighter;
// 			font-size: 15px;
// 			margin-left: 5px;
// 			display: inline-block;
// 			opacity: .8;
// 		}
// 	}

// 	& > ul.right {
// 		line-height: 40px;
// 		float: right;

// 		li {
// 			display: inline-block;

// 			& > a, & > button {
// 				font-family: 'museo-sans';
// 				color: #666;
// 				margin-left: 15px;
// 				font-size: 14px;
// 			}

// 		}

// 		.login {
// 			.xbtn(white, @CBLUE);
// 			padding: 10px 14px;
// 			font-weight: bold;
// 			text-transform: uppercase;
// 			font-family: 'museo-sans';
// 		}

// 	}

// }

body.sb-open {
	// #sidebar { .translate(0); }
	// .gcontainer {
	// 	position: relative;
	// 	width: 100%;
	// 	.translate(@sidebarWidth);
	// }
	// .qi-sb-backdrop {
	// 	display: block;
	// }
}

body.logged .gcontainer {
	// padding-left: @sidebarMinWidth;
}

/*---------------------------*\
	#SIDEBAR
\*---------------------------*/

.qi-sb {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: @sidebarMinWidth;
	z-index: 18;
	// padding-top: 15px;
	// border-right: 1px solid #e2e2e2;
	background: #444850;
	.transition;
	box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.2);

	@pad: 5px;
	@avatarSize: 35px;
	// overflow: hidden;

	.qi-sb-section {

		border-bottom: 1px solid rgba(0,0,0,.1);

		.icon-btn {
			// .xbtn(fadeout(white, 20%), transparent);
			.btn0;
			.transition;
			color: fadeout(white, 40%);
			border-radius: 0;
			&:hover {
				color: white;
			}
			cursor: pointer;

			background: none;
			height: (@sidebarMinWidth - 2*@pad);
			text-align: center;
			// margin: 0 @pad;
			padding: 0;
			width: (@sidebarMinWidth - 2*@pad);
			font-weight: bold;
			border-radius: 4px;
			font-size: 30px;
			// min-width: 50px;

			i {
				line-height: (@sidebarMinWidth - 2*@pad);
				height: (@sidebarMinWidth - 2*@pad);
				vertical-align: top;
			}
		}

		.label-btn {
			.btn0;
			.transition;
			background: transparent;
			border-radius: 0;
			color: fadeout(white, 20%);
			&:hover {
				color: white;
			}
			height: 50px;
			text-align: left;
			padding: 0;
			font-weight: bold;
			font-size: 16px;
		}

		.contract {
			// margin-top: 10px;
			min-width: @sidebarMinWidth;
			padding: @pad;
			.transition(background);

			&:hover {
				& > button {
					color: white;
				}
				// background: fadeout(black, 80%);
			}
		}

		&.active {
			background: @CBLUE;
			.icon-btn {
				color: white;
			}
		}
	}

	// outline: 3px solid rgba(0,0,0,.2);

	.qi-sb-section.notifications {
	}

	.qi-sb-section.user {

		.avatar-btn {
			text-align: center;
			height: @avatarSize;

			.user-avatar {
				width: @avatarSize;
				vertical-align: top;
				height: @avatarSize;
				border-radius: @avatarSize;
			}
		}
	}

	.qi-sb-section.labs {
		.labs-list {
			padding-left: 60px;

			a {
				color: white;
			}
		}
	}

	& > footer {
		position: absolute;
		bottom: 0;
		padding: 15px 0;
		width: 100%;
	}

	.tooltip {
		.tooltip-inner {
			font-size: 16px;
		}
	}
}


body:not(.sb-open) .qi-sb .expand {
	display: none !important;
}
// body.sb-open .qi-sb {
// 	width: @sidebarWidth;
// }

// .qi-sb:not(:hover) .expand {
// 	display: none !important;
// }

// .qi-sb:hover {
// 	width: @sidebarWidth;
// 	.qi-sb-section {
// 		width: @sidebarWidth;
// 	}
// }

/*---------------------------*\
	#SIDEBAR #BACKDROP
\*---------------------------*/

.qi-sb-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 18;
	background: fadeout(black, 50%);
	.transition();
	display: none;

	.animated;
	-webkit-animation-duration: .1s;
	   -moz-animation-duration: .1s;
	     -o-animation-duration: .1s;
	        animation-duration: .1s;
	.fadeIn;
}

/*---------------------------*\
	#SIDEBAR #PLANE
\*---------------------------*/

.qi-sb-plane {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 17;
	width: 250px;
	box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.2);
	background: #EEEEF3; // #202226;
	.transition-transform(.1s ease-out);

	.translate(@sidebarMinWidth);
	&:not(.open) {
		.translate(-250px);
		// display: none;
	}

	@color: #444;

	.item (@h: 50px) {
		height: @h;
		line-height: @h;
		font-weight: bold;
		font-size: 14px;
		border-bottom: 1px solid rgba(0,0,0,.3);
		text-align: left;
		display: block;
		padding: 0;
		vertical-align: middle;
		color: fadeout(@color, 3%);
		border-radius: 0;
		background: transparent;
		padding-left: 15px;
		width: 100%;
		position: relative;
	}

	.title {
		.item;
		color: @color;
		font-size: 17px;
		text-align: center;
		font-weight: normal;

		.edit {
			.xbtn(@color, #888);
			font-size: 10px;
			margin-left: 5px;
			text-transform: uppercase;
			padding: 4px 6px;
		}
	}

	& > ul {
		& > li {
			.button;
			.item;

			&:hover {
				background: fadeout(white, 95%);
				color: white;
			}

			.dot {
				font-size: 10px;
				margin-right: 5px;
			}

			.pin {
				float: right;
				background: none;
				line-height: 50px;
				position: absolute;
				right: 15px;
				top: 0;
				font-size: 15px;
				padding: 0;
				.no-box-shadow;
				color: fadeout(black, 80);
			}
			.pin.active {
				color: @CBLUE;
			}

			.tooltip .tooltip-inner {
				font-size: 12px;
			}
		}
	}
}
