{% extends 'layout.html' %}
{% set dataAbout="faq" %}
{% set pageTitle="Ajuda | QI Labs" %}

{% block aboutHeader %}
<h1>Precisa de Ajuda?</h1>
{% endblock %}

{% block aboutBody %}
<section class="faq">
	<div class="container">
		<h1><strong>Perguntas frequentes</strong></h1>
		<h3>Ou que a gente acha que podem acabar fazendo...</h3>
		<ul class="questions">
			<li class="">
				<h3>P: Como posso entrar em contato com vocês?</h3>
				<p>
					{# Mandando um email para contato<script>document.write('@')</script>qilabs.org, ou #}
					Através da <a href="{{ urls.facebook }}">nossa página do facebook</a>.
				</p>
			</li>
		{#
			<li>
				<h3>P: O que é o QI Labs?</h3>
				<p>O QI Labs é uma plataforma de comunidades online sobre extra-curriculares. </p>
				<p>Aqui você pode discutir e aprender mais sobre olimpíadas científicas, empreendedorismo e outras atividades!</p>
			</li>
			<li>
				<h3>P: Qual é o objetivo?</h3>
				<p>Nosso objetivo é conectar jovens que se interessam por extra-curriculares e permitir a troca de experiências entre eles.</p>
				<p>E para isso, oferecemos ferramentas para que o estudante possa explorar seu potencial:</p>
				<ul>
					<li>
						<p><strong>Laboratórios</strong></p>
						<p>São comunidades que permitem a troca de experiência entre usuários, sobre uma extra-curricular. Nos Laboratórios os usuários podem debater, tirar dúvidas, dar dicas e interagir em torno de um tópico.</p>
						<p>Existem laboratórios de assuntos diversos, e a interface do QI Labs permite que você participe de vários, ou foque apenas em alguns!</p>
					</li>
					<li>
						<p><strong>Guias</strong></p>
						<p>São enciclopédias colaborativas de extracurriculares. Através delas você tem acesso a textos explicando várias atividades, suas formas de participação, e como começar em cada uma delas.</p>
						<p>Queremos criar uma rede de conteúdo o mais completa possível, para ajudar pessoas de todos os níveis de conhecimento. Por isso as guias são colaborativas. Ou seja, qualquer um pode contribuir com o que sabe e participar da edição! </p>
					</li>
					<li>
						<p><strong>Problemas</strong></p>
						<p>A parte de problemas permite que você resolva questões de matemática, física, química e outras matérias, para treinar seus conhecimentos.</p>
						<p>Gostou e quer colaborar? Além de praticar, você também pode compartilhar outros problemas para os usuários responderem.</p>
					</li>
				</ul>
			</li>
		#}
			<li>
				<h3>“O design está quebrado no meu celular / tablet / navegador</h3>
				<p>Ainda estamos trabalhando em um design responsivo para dispositivos móveis. Você pode relatar erros no site <a href="https://docs.google.com/forms/d/1cO_uH_q5hv-l7AznaBMC2em7yo_EoVO85Iz47vgUzAg/viewform">por aqui</a>.</p>
			</li>
		</ul>
	</div>
</section>
{% endblock %}