{% extends '../stdbody.html' %}
{% set dataPage="about" %}

{% block head %}
	<link rel="stylesheet" href="{{ assetUrl('css','bundle.css') }}" />
{% endblock %}

{% block body %}
	<div id="particles"></div>
	<header>
		<div class="blackout"></div>
		<div class="container">
			<nav>
				<div class="brand">
					QI <i class="icon-lightbulb"></i> LABS
				</div>
				<ul>
					<li>
						<a {% if dataAbout === "main" %}class="active"{% endif %} href="{{ urls.about }}">Sobre</a>
					</li>
					<li>
						<a {% if dataAbout === "faq" %}class="active"{% endif %} href="{{ urls.faq }}">FAQ</a>
					</li>
					<li>
						<a href="{{ urls.blog }}">Blog</a>
					</li>
					<li>
						<a class="button" href="/" data-action="login">Entrar</a>
					</li>
				</ul>
			</nav>

			{% block aboutHeader %}
			{% endblock %}
		</div>
	</header>

	{% block aboutBody %}
	{% endblock %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/static/js/vendor/jquery.particleground.min.js"></script>
	<script>
	$(document).ready(function() {
	  $('#particles').particleground({
	    density: '20000',
		particleRadius: '10',
		dotColor: '#BBB', // '#26C281',
		parallaxMultiplier: '3',
	    lineColor: '#BBB', // '#5cbdaa'
	  });
	  $('.intro').css({
	    'margin-top': -($('.intro').height() / 2)
	  });
	});
	</script>
	<script>
	var CI=function(e,t){this.image=t,this.element=e,this.element.width=this.image.width,this.element.height=this.image.height;var n=navigator.userAgent.toLowerCase().indexOf("chrome")>-1,r=navigator.appVersion.indexOf("Mac")>-1;n&&r&&(this.element.width=Math.min(this.element.width,300),this.element.height=Math.min(this.element.height,200)),this.context=this.element.getContext("2d"),this.context.drawImage(this.image,0,0)};CI.prototype={blur:function(e){this.context.globalAlpha=.5;for(var t=-e;e>=t;t+=2)for(var n=-e;e>=n;n+=2)this.context.drawImage(this.element,n,t),n>=0&&t>=0&&this.context.drawImage(this.element,-(n-1),-(t-1));this.context.globalAlpha=1}};$(function(){var e,t,n;$("canvas.blur").each(function(){n=this,e=new Image,e.onload=function(){t=new CI(n,this),t.blur(4)},e.src=$(this).attr("src")})})
	</script>

	<footer>
		<div class="container">
			<div class="qi-copy">
				&reg; <span class="brand">QI Labs</span> 2015
			</div>
			<div class="qi-sn">
				<a href="{{ urls.github }}" title="Github"><i class="icon-github2"></i></a>
				<a href="{{ urls.facebook }}" title="Facebook"><i class="icon-facebook32"></i></a>
			</div>
		</div>
	</footer>
{% endblock %}
