
@import "../common.less";

@navbar-height: 40px;
@navbar-small-height: 50px;

// add transitions for .hasScrolled
#navbar {
	.center {
		.transition(line-height, .2s, linear);
	}
 	.navcontent > ul {
		.newPost {
			.transition(line-height, .2s, linear);
			.transition(width, .2s, linear);
		}
	} 
}

body.DhasScrolled #navbar {

	height: @navbar-small-height;

	.center  {
		line-height: (@navbar-small-height - 1);
		font-size: 20px;
	}

	.navcontent>ul>li .plain-btn i,
	.navcontent>ul>li .icon-btn i {
		font-size: 15px;
	}

	.navcontent > ul {
		.plain-btn,
		.icon-btn {
			height: @navbar-small-height+1;
		}
		.newPost {
			width: @navbar-small-height;
			height: @navbar-small-height+1;
			line-height: @navbar-small-height;
		}
		.navbarDropdown {
			.avatar-btn {
				.avatarDd {
					width: @navbar-small-height+1;
					height: @navbar-small-height+1;
				}
			}
		}
	}
}

nav.bar {
	@compColor: #666;
	@brandColor: #444;
	@brandFontSize: 21px;

	position: relative;
	z-index: 20;
	background: white;
	height: @navbar-height;
	min-width: @minPageWidth;
	&:extend(.clearfix all); // Prevent floats from breaking the navbar

	.navcontent {
		width: 100%;
		& > .right { float: right !important; }
		& > .left { float: left !important; }
	}

	.brand {
		color: @brandColor;
		font-family: @BrandFontFamily;
		text-transform: uppercase;
		font-family: "museo-sans";
		outline: none !important;

		&:focus, &:hover {
			text-decoration: none;
		}
		i {
			margin-top: -4px;
			display: inline-block;
		}
		.icon-bulb2,+3
		.icon-lightbulb2 {
			font-size: 18px;
			margin: -4px -4px 0 -3px;
		}
	}

	.center {
		.unselectable;
		position: absolute;
		right: 50%;
		width: 500px;
		margin-right: -250px;

		text-align: center;
		font-size: @brandFontSize;
		line-height: (@navbar-height - 1);
		vertical-align: middle;
	}

	.navcontent > ul {
		
		float: left;

		&.padding {
			margin: 0 10px;
		}

		& > li {
			display: inline-block;
			vertical-align: top;
			list-style: none;
			line-height: @navbar-height;
			height: @navbar-height;
			
			&.nav-menu-label {
				background: #F4F4F4;
				padding: 0 10px 0;
				border-left: 1px solid #EEE;
				border-right: 1px solid #EEE;
				i {
					margin-right: 4px;
				}

				span {
					text-transform: uppercase;
				}
			}

			.icon-btn,
			.nav-btn {
 				.navbar-vertical-align(@input-height-base);
				vertical-align: top;
				outline: none;
				box-shadow: none;
				.rounded(0);
				background: none;
				border-bottom: 1px solid transparent;
				display: table-cell;
				margin: 0;
				// Defaults reset

				color: @compColor;
				height: @navbar-height+1;
				font-weight: 700;
				padding: 8px 17px;

				.transition(font-size, .2s, linear);
				.transition(border-bottom, .2s, linear);

				&:hover, &:active {
					box-shadow: none;
				}

				i {
					font-size: 17px;
					vertical-align: middle;
				}
			}

			.nav-btn {
				height: @navbar-height;
				background: white;
				padding: 0;
				width: 43px;
				color: #666;
				line-height: (@navbar-height - 1);

				&.active {
					border-bottom: 3px solid #08c;
					height: @navbar-height+2;
				}

				&:hover {
					background: white;
				}
			}

			.icon-btn {
				position: relative;
				width: 44px !important;
				padding: 0;
				margin: 0;
				border-bottom-width: 3px;
				height: @navbar-height+3;

				sup {
					font-size: 13px;
					color: inherit;
					top: -12px;
				}

				i {
					vertical-align: top;
					font-size: 23px;
				}
			}

			.iconBtn (@color) {
				border-color: @color;
				&:hover {
					background: @color;
					color: white !important;
				}
				&.active {
					color: @color;
				}
			}

			.calendar { .iconBtn(@COLOR2); }
			.chat { .iconBtn(#ffcf2c); }
			.pencil { .iconBtn(mix(@COLOR3,@COLOR4)); }
			.bell { .iconBtn(desaturate(@COLOR1, 10%)); }

			&.nav-dropdown {

				.avatar-btn {
					.reset-button;
					cursor: pointer;
					position: relative;
					display: inline-block;
					.avatarDd {
						display: inline-block;
						width: @navbar-height+1;
						height: @navbar-height+3;
						vertical-align: top;
						.background-size(cover);
						position: relative;
						&:after {
							border: 2px solid #F4F4F4;
							border-width: 0 0 3px 0;
							content: '';
							position: absolute;
							top: 0; right: 0; bottom: 0; left: 0;
						}
					}
				}


				.dropdown-menu {
					left: auto;
					right: 2px;
					margin-top: 6px;
					padding: 6px 0px;
					.rounded(3px);
					background: #222;
					min-width: 0;

					&::before {
						content: ' ';
						border: 5px solid transparent;
						border-bottom-color: #222;
						position: absolute;
						top: -11px;
						left: 100px; // Na mão
					}

					li {
						font-family: museo-sans;
						background: transparent;
						a {
							outline: none;
							cursor: pointer;
							color: white;
							.rounded(1px);
							padding: 5px 20px;
							font-size: 12px;
							font-weight: bold;
							font-family: museo-sans;

							.transition(all, .2s, linear);

							&:focus, &:hover, &:active { background: #222; }

							&:hover {
								background: darken(desaturate(@COLOR1,10%),3%);
								color: white;
							}
							&:active {
								.inner-shadow(3px, .3);
							}

							i {
								display: none;
								font-size: 13px;
								width: 12px;
							}
						}
					}
				}
			}

			.tooltip {
				margin-top: -5px;
				.tooltip-inner {
					.rounded(0);
					font-size: 15px;
				}
			}
		}
	}

	// &.detailOnScroll {
	// 	.center {
	// 		.transition(margin-right, none);
	// 		body.hasScrolled & {
	// 			margin-right: -180px;
	// 			.transition(margin-right, .1s, linear);
	// 		}

	// 		.pageDetailLabel {
	// 			opacity: 0;
	// 			body.hasScrolled & {
	// 				top: 0;
	// 				opacity: 1;
	// 			}
	// 		}
	// 	}
	// }

	// &.detailVisible {
	// 	.center {
	// 		.transition(margin-right, none);
	// 		margin-right: -180px;
	// 		.transition(margin-right, .1s, linear);

	// 		.pageDetailLabel {
	// 			top: 0;
	// 			opacity: 1;
	// 		}
	// 	}
	// }

}

.popover {
	background: #222;
	margin-right: 3px;
	.rounded(3px);
	max-width: 30000px;

	margin-top: 5px !important;
	border: none;

	.arrow {
		border: none !important;
 		&:after {
			border-bottom-color: #222 !important;
			border-width: 5px;
			margin-left: 7px !important;
			top: 6px !important;
		}
	}

	.notificationList {
		margin: -10px -15px;
		.rounded(3px);
		overflow: hidden;

		.notificationItem {
			list-style: none;
			display: table;
			width: 280px;
			cursor: pointer;
			color: white;
			min-height: 50px;
			position: relative;
			font-size: 12px;
			font-family: museo-sans;
			.transition(all, .2s, linear);
		
			&:not(:last-child) {
				// border-bottom: 1px solid #1A1A1A;
			}

			&[data-accessed=false]::before {
				content: " ";
				position: absolute;
				left: 50px;
				top: 0;
				bottom: 0;
				width: 3px;
				z-index: 1;
				background: #08C;
			}

			&[data-seen=true] {
				// color: #DDD;
				// background: rgba(255, 255, 255, .1); // #F9FAFF;
			}

			time {
				font-weight: normal;
				font-style: normal;
				float: right;
				font-size: 11px;
				margin-top: 4px;
				opacity: .8;
			}

			.thumbnail {
				.rounded(0px);
				margin-right: 10px;
				width: 50px;
				.background-size(cover);
				
				position: absolute;
				top: 0;
				bottom: 0;
			}
			
			.notificationItemBody {
				padding: 10px;
				margin-left: 50px;
			}
		}
	}

}