{% extends '../snpage.html' %}
{% set dataPage="guide_home" %}

{% set pageTitle = "Guias · QI Labs"; %}

{% set navbarOpts = {
	pageId: 'guide-home',
	pageDetailLabel: 'Guias',
	navMenu: [{name:'Guias',url:'/guias',icon:'icon-books'},],
	pageRoot: 'guides',
} %}

{% if !user %}
{% set navbarOpts.navbarClass = 'public' %}
{% endif %}

{% import '../lib/metaSnippet.html' as metaSnippet %}

{% block meta %}
	{% set smallHtml = guide.html.slice(0,200) %}
	{{ metaSnippet.makeMetas({
		title: "QI Labs Guias",
		path: 'http://qilabs.org/guias',
		image: urls.logo,
		description: 'Enciclopédia para extra-curriculares.'
	}) }}
{% endblock %}


{% block global-container %}
<div class="qi-header">
	<div class="box">
		<div class="title">
		</div>

		<h1>Bem-vindo às <strong>Guias</strong> <i class="icon-local-library"></i></h1>
		<h2>Aqui você pode aprender sobre olimpíadas científicas e outras atividades.</h2>

		<p>
			As nossas guias são como enciclopédias de extra-curriculares: aqui estão informações gerais sobre as atividades e sobre como começar. O <strong>nosso conteúdo é 100% colaborativo</strong>, então usuário pode enviar sugestões de modificação ou suas próprias páginas para a gente.

			<small><a href="/guias/contribua">Clique aqui para saber como contribuir.</a></small>
		</p>

		<h4>Divirta-se! :)</h4>
		<div class="fb-share-button" data-href="https://qilabs.org/guias" data-layout="button_count"></div>
		{#
		<div class="g-plus" data-action="share" data-annotation="bubble"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://qilabs.org/guias" data-via="qilabsorg" data-dnt="true">Tweet</a>
		#}
	</div>
</div>

{%
set bgs = {
	'olimpiadas-matematica': 'http://i.imgur.com/6xfvRcl.jpg',
}
%}

{% macro makeGuideItem(obj) %}
	<div onClick="location.href='{{ obj.path }}'" data-tag="{{ obj.id }}" class="guide-item">
	{% if obj.lab %}
		{% set bg = obj.lab.background %}
	{% else %}
		{% switch obj.id %}
			{% case 'transfer' %}
				{% set bg = 'http://i.imgur.com/zuFpeZc.jpg' %}
		{% endswitch %}
	{% endif %}
		<div class="item-cover">
			<div class="background blur" style="background-image: url({{ bg }})"></div>
			<div class="blackout"></div>
			<i Aclass="icon-directions"></i>
			<label>{{ obj.name }}</label>
		</div>
		<div class="item-bottom">
			<a class="button read" href="{{ obj.path }}">Ler</a>&nbsp;
			{% if obj.lab %}
			<a class="button access-lab" href="{{ obj.lab.path }}">Ir para Laboratório</a>
			{% endif %}
			{% if obj.contributors %}
			<div class="contributors">
				<label>Editores</label>
				{% for c in obj.contributors %}
				<a href="{{ c.path }}">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('{{ c.avatar_url }}')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="{{ c.name }}"></div>
					</div>
				</a>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

<div>
{% for gdata in guides %}
{{ makeGuideItem(gdata) }}
{% endfor %}
	{#
	<div onClick="location.href='/guias/olimpiadas-matematica'" data-tag="matematica" class="guide-item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/6xfvRcl.jpg)"></div>
			<div class="blackout"></div>
			<i class="Aicon-circle-compass"></i>
			<label>Olimpíada de Matemática</label>
		</div>
		<div class="item-bottom">
			<a class="button read" href="/guias/olimpiadas-matematica">Ler</a>&nbsp;<a class="button access-lab" href="/labs/matematica">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@andré.costa">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100004125611160/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="André Costa"></div>
					</div>
				</a>
				<a href="/@franco.severo.7">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002970450567/picture?width=200&amp;height=200')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Franco Severo"></div>
					</div>
				</a>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
				<a href="/@felipe">
				<div class="user-avatar">
					<div class="avatar" style="background-image: url('http://i.imgur.com/nXb8vMd.png')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Felipe Aragão"></div>
				</div>
				</a>
				<a href="/@matheus.carioca.s">
					<div class="user-avatar">
						<div class="avatar" style="background: url(https://graph.facebook.com/100001743444071/picture?width=200&height=200?width=200&height=200)" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Matheus Carioca"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/application"' data-tag="application" class="guide-item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/pDi89os.jpg)"></div>
			<div class="blackout"></div>
			<i Aclass="icon-directions"></i>
			<label>Application</label>
		</div>
		<div class="item-bottom">
			<a class="button read" href="/guias/application">Ler</a>&nbsp;<a class="button access-lab" href="/labs/application">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
				<a href="/@nicole.dux">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100005151577649/picture?width=200&amp;height=200')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Nicole Dux"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/olimpiadas-fisica"' data-tag="fisica" class="guide-item inconstruction">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/rV40WF4.jpg)"></div>
			<div class="blackout"></div>
			<i Aclass="icon-rocket2"></i>
			<label>Olimpíada de Física</label>
		</div>
		<div class="item-bottom">
			<a class="button read" href="/guias/olimpiadas-fisica">Ler</a>&nbsp;<a class="button access-lab" href="/labs/fisica">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
				<a href="/@matheus.carioca.s">
					<div class="user-avatar">
						<div class="avatar" style="background: url(https://graph.facebook.com/100001743444071/picture?width=200&height=200?width=200&height=200)" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Matheus Carioca"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/transfer"' data-tag="transfer" class="guide-item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/zuFpeZc.jpg)"></div>
			<div class="blackout"></div>
			<i Aclass="icon-directions"></i>
			<label>Transfer Application</label>
		</div>
		<div class="item-bottom">
			<a class="button read" href="/guias/transfer">Ler</a>&nbsp;<a class="button access-lab" href="/labs/application">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@filipe.peres">
					<div class="user-avatar">
						<div class="avatar" style="background: url(https://graph.facebook.com/100001330103507/picture?width=200&height=200)" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Filipe Peres"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/vestibular"' data-tag="vestibular" class="guide-item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/RpK0Ngt.jpg)"></div>
			<div class="blackout"></div>
			<i Aclass="icon-study"></i>
			<label>Vestibular</label>
		</div>
		<div class="item-bottom">
			<a class="button read" href="/guias/application">Ler</a>&nbsp;
			<div class="contributors">
				<label>Editores</label>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div data-tag="vestibular-militar" class="guide-item">
		<div class="blackout"></div>
		<div class="item-cover">
			<i class="icon-strategy"></i>
			<label>Vestibular Militar</label>
		</div>
	</div>
	<div data-tag="programming" class="guide-item">
		<div class="blackout"></div>
		<div class="item-cover">
			<i class="icon-terminal"></i>
			<label>Programação</label>
		</div>
	</div>
	<div data-tag="quimica" class="guide-item">
		<div class="blackout"></div>
		<div class="item-cover">
			<i class="icon-lab"></i>
			<label>Olimpíada de Química</label>
		</div>
	</div>
	#}
</div>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=521238787943358&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook -->

{#
<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- End Twitter -->

<!-- G Plus -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- End G Plus -->
#}

<footer>
	<div>
		Um projeto <span class="brand">QILABS</span> <i class="icon-circle"></i> Todos os direitos reservados
	</div>
	<i class="icon-lightbulb xbulb inverse"></i>
</footer>
{% endblock %}