{% import "lib/metaSnippet.html" as metaSnippet %}
<!DOCTYPE html>
<html class="no-js" prefix="og: http://ogp.me/ns#">
<head>
<title>{% block title %}{% if page.title %}{{ page.title }}{% else %}QI Labs{% endif %}{% endblock %}</title>
<meta charset="utf-8">
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="csrf-token" content="{{ token }}">
<meta name="facebookId" content="{{ ids.facebook }}">
<link type="text/plain" rel="author" href="http://www.qilabs.org/humans.txt" />
<meta name="viewport" content="width=device-width">
<meta property="fb:app_id" content="{{ ids.facebook }}" />
{% block meta %}
  {{ metaSnippet.makeMetas(defaultMetaObject) }}
{% endblock %}
{% block head %}{% endblock %}
<link rel="stylesheet" href='{{ assetUrl('css/fonts.css') }}' />
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800|PT+Serif:400,400i,700,700i' />
</head>
<body data-page="{{ page.tag }}" class="{% if user %}logged{% endif %}">
{% block body %}{% endblock %}
{% block bodyEnd %}{% endblock %}
{% production %}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', "{{ ids.ga }}", 'qilabs.org');ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endproduction %}
<body>
<html>