<nav class="bar{{ ' '+navbarClass }}" role="navigation" id="navbar">
<div class="navbar-content">
	<div class="navbar-qi-brand">
		<a class="brand" href="/" tabindex="-1">
			QI<i class="icon-bulb2"></i>Labs<sup class="alpha">&alpha;</sup>
		</a>
	</div>
	<ul class="navbar-navigation">
		{% switch pageId %}
			{% if user %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home-outline"></i>
					</a>
				</li>{#<li class="nav-menu-label streamSetter" data-stream-source="inbox">
				</li><li class="nav-menu-label streamSetter" data-stream-source="problems">
					<button class="nav-btn" data-stream-source="global">
						<span>
							Problemas
						</span>
						<sup class="sup">3</sup>
					</button>
				</li><li>
					<button class="nav-btn" onClick="$('#srry').fadeIn()">
						<i class="icon-search3"></i>
					</button>
				</li>#}
			{% endif %}
			{% case "guide-home" %}
				{% set navRoot = navbarOpts.navMenu|first %}
				{% if user %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home-outline"></i>
					</a>
				</li>{% endif %}<li class="nav-menu-label standout">
					<a href="{{ navRoot.url }}">
						<strong><i class="icon-thumbnail icon-books"></i></strong>
						<span>
							{{ pageDetailLabel }}
						</span>
					</a>
				</li>
			{% case "guide-page" %}
				{% if user %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home-outline"></i>
					</a>
				</li>{% endif %}{% for item in navbarOpts.navMenu %}{% if loop.first %}<li class="nav-menu-label standout">{% else %}{% if loop.last %}<li class="nav-menu-label active">{% else %}<li class="nav-menu-label">{% endif %}{% endif %}
					<a href="{{ item.url }}">
						{% if item.icon %}
						<strong><i class="icon-thumbnail {{ item.icon }}"></i></strong>
						{% endif %}
						<span>
							{{ item.name }}
						</span>
					</a>
				</li>{% endfor %}
			{% case "user-profile" %}
				{% set firstName = pUser.name|split(' ')|first %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home-outline"></i>
					</a>
				</li><li class="nav-menu-label standout">
					<i class="icon-thumbnail icon-child"></i>
					<span class="pageLabel">
						{{ pageDetailLabel }}
					</span>
				</li>{#<li>
					<button class="streamSetter nav-btn" data-stream-source="inbox" data-toggle="tooltip" data-title="Todos de {{ firstName }}" data-placement="right">
						<i class="icon-user2"></i>
					</button>
				</li><li>
					<button class="streamSetter nav-btn" data-stream-source="popular" data-toggle="tooltip" data-title="Populares de {{ firstName }}" data-placement="right">
						<i class="icon-lightbulb2"></i>
					</button>
				</li><li>
				</li><li>
					<button class="streamSetter nav-btn" data-stream-source="popular" data-toggle="tooltip" data-title="Likes de {{ firstName }}" data-placement="right">
						<i class="icon-heart2"></i>
					</button>
				</li><li>
					<button class="nav-btn">
						<i class="icon-search3"></i>
					</button>
				</li>#}
			{% case "tag" %}
				<li>
					<a class="button nav-btn" href="/">
						<i class="icon-home-outline"></i>
					</a>
				</li><li class="nav-menu-label standout">
					<i class="icon-thumbnail icon-tag"></i>
					<span class="pageLabel">
						{{ pageDetailLabel }}
					</span>
				</li>
		{% endswitch %}
	</ul>
	{% if user %}
	<ul class="right">{#
		<li>
			<button onClick="$('#srry').fadeIn()" class="icon-btn calendar" data-toggle="tooltip" title="Agenda" data-placement="bottom">
				<i class="icon-calendar2"></i><sup class="count"></sup>
			</button>
		</li>#}
		<li id="tour-karma">
			<button class="karma icon-btn" id="nav-karma" data-action="show-karma">
				<span ref="nCount" class="count" data-info="user-karma">{{ user.stats.karma }}</span><i class="icon-bolt"></i>
			</button>
		</li><li id="tour-nav-bell">
			<button id="nav-bell" class="icon-btn bell" data-action="show-notifications">
				<i class="icon-volume"></i><sup class="count" data-info="unseen-notifs">0</sup>
			</button>
		</li><li>
			<button class="icon-btn pencil" data-trigger="component" data-component="createPost" data-href="/novo">
				<i class="icon-pencil2"></i>
			</button>
		</li><li class="nav-dropdown">
		 	<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle">
				<div class="avatarDd" style="background-image: url('{{ user.avatarUrl }}')">
				</div>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="{{ user.path }}">
						<i class="icon-user"></i> Meu Perfil
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem"  tabindex="-1" href="{{ urls.settings }}">
						<i class="icon-gear"></i> Configurações
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.feedbackForm }}">
						<i class="icon-question"></i> Relatar Problema
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-2" href="{{ urls.about }}">
						<i class="icon-question"></i> Sobre o Site
					</a>
				</li>
				{#<li role="presentation" class="divider"></li>#}
				<li role="presentation">
					<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ urls.logout }}" data-redirect-href="/">
						<i class="icon-sign-out"></i> Sair
					</a>
				</li>
			</ul>
		</li>
	</ul>
	{% else %}
	<ul class="right">
		{% switch pageId %}
			<li>
				<a href="/sobre" class="button text-button">
					Sobre o QI Labs
				</a>
			</li>
			<li>
				<a href="/" class="button text-button">
					Entrar
				</a>
			</li>
		{% endswitch %}
	</ul>
	{% endif %}
</div>
</nav>