<nav class="bar {% if pageDetailLabel %}
{% if detailOnScroll %}
detailOnScroll
{% else %}
detailVisible
{% endif %}
{% endif %}" role="navigation" id="navbar">
<div class="navcontent">
	<span class="center">
		<a class="brand" href="/" tabindex="-1">QI <i class="icon-lightbulb2"></i> Labs</a>
		{% if pageDetailLabel %}
		<div style="
			display: inline-block;
			top: -1px;
			position: absolute;
			width: 0;
			">
			<span class="pageDetailLabel">
				<i class="iconThumbnail iconThumbnailSmall iconShadowed {{ pageDetailIcon }}"></i>
				<span class="pageLabel">
					{{ pageDetailLabel }}
				</span>
			</span>
		</div>
		{% endif %}
	</span>
	{% if user %}
		<ul>
		{% spaceless %}
			<li>
				<button class="nav-btn active">
					<i class="icon-inbox-alt"></i>
				</button>
				<button class="nav-btn">
					<i class="icon-fire22"></i>
				</button>
				<button class="nav-btn">
					<i class="icon-globe"></i>
				</button>
				<button class="nav-btn">
					<i class="icon-search3"></i>
				</button>
			</li>
		{% endspaceless %}
		</ul>
		<ul class="right">{#<li>
				<button class="icon-btn" id="give-feedback">
					<i class="icon-megaphone2"></i>
				</button>
			</li>#}<li>
				<button class="icon-btn calendar">
					<i class="icon-calendar2"></i><sup class="count">3</sup>
				</button>
			</li><li>
				<button class="icon-btn chat" data-toggle="tooltip" title="Chat">
					<i class="icon-chat-3"></i><sup class="count">0</sup>
				</button>
			</li><li id="nav-bell">
				<button class="icon-btn bell" data-action="show-notifications">
					<i class="icon-bell2"></i><sup class="count">5</sup>
				</button>
			</li><li>
				<button class="icon-btn pencil" onClick="showPostForm()" data-action="show-postform" title="Criar Publicação">
					<i class="icon-pencil2"></i>
				</a>
			</li><li class="nav-dropdown">
			 	<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle">
					<div class="avatarDd" style="background-image: url('{{ user.avatarUrl }}')">
					</div>
				</div>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="{{ user.path }}">
							<i class="icon-user"></i> Meu Perfil
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem"  tabindex="-1" href="{{ getPageUrl('settings') }}">
							<i class="icon-gear"></i> Configurações
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="{{ getPageUrl('about') }}">
							<i class="icon-question"></i> Ajuda e FAQ
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ getPageUrl('logout') }}" data-redirect-href="/">
							<i class="icon-sign-out"></i> Log Out
						</a>
					</li>
				</ul>
			</li>
		</ul>
	{% else %}
	<ul class="right">
		<li>
			<a href="/" class="button xbtn">
				Logar-se
			</a>
		</li>
	</ul>
	{% endif %}
</div>
</nav>