<div id="sidebar-backdrop" class="qi-sb-backdrop"></div>

<div id="sidebar" class="qi-sb">

	<div class="qi-sb-section active">
		<div class="contract home">
			<button class="icon-btn"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Início">
				<i class="icon-lightbulb"></i>
			</button>
		</div>
		<div class="expand">
		</div>
	</div>

	<div class="qi-sb-section labs" onClick="$(this).toggleClass('openPlane')">
		<div class="contract">
			<button class="icon-btn"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Laboratórios">
				<i class="icon-lab"></i>
				<!-- <i class="icon-group-work"></i> -->
			</button>
			<button class="label-btn expand">
				Laboratórios
			</button>
		</div>
		<div class="qi-sb-plane">
			<div class="title">Laboratórios <button class="edit">editar</button></div>
			<ul>
			{% for lab in pageMap %}
				<li data-lab="{{ loop.key }}">
					{% if user.preferences.interests.indexOf(loop.key) != -1 %}
					{% endif %}
					<button>
						<i class="dot icon-circle tag-color" data-tag="{{ loop.key }}"></i> <span class="name">{{ lab.name }}</span>
					</button>
				</li>
			{% endfor %}
			</ul>
		</div>
		{#
		<ul class="expand labs-list">
			{% for lab in pageMap %}
					<li data-lab="{{ loop.key }}">
						<a href="{{ lab.path }}">
							<i class="dot icon-circle"></i> <span class="name">{{ lab.name }}</span>
						</a>
					</li>
				{% if user.preferences.interests.indexOf(loop.key) != -1 %}
				{% endif %}
			{% endfor %}
			<button data-trigger="component" data-component="selectInterests">editar</button>
		#}
		</ul>
	</div>

	<div class="qi-sb-section">
		<div class="contract guides" onClick="location.href='/guias">
			<button class="icon-btn"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Guias">
				<i class="icon-compass" style="font-size: 1.12em"></i>
				<!-- <i class="icon-local-library"></i> -->
				<!-- <i class="icon-explore"></i> -->
			</button>
			<button class="label-btn expand">
				Guias
			</button>
		</div>
		<div class="expand">
		</div>
	</div>

	<div class="qi-sb-section">
		<div class="contract problems">
			<button class="icon-btn"
			data-toggle="tooltip" data-placement="right"
			data-container="#sidebar" title="Problemas">
				<i class="icon-pencil" style="font-size: .90em"></i>
				<!-- <i class="icon-extension"></i> -->
				<!-- <i class="icon-school"></i> -->
				<!-- <i class="icon-question-answer"></i> -->
			</button>
			<button class="label-btn expand">
				Problemas
			</button>
		</div>
		<div class="expand">
		</div>
	</div>

	<footer>
		<div class="qi-sb-section notifications">
			<div class="contract">
				<button class="icon-btn">
					<i class="icon-notifications-none"></i>
				</button>
				<button class="label-btn expand">
					<span class="count">4</span> Notificações
				</button>
			</div>
			<div class="expand">
			</div>
		</div>
		<div class="qi-sb-section user">
			<div class="contract">
				<button class="icon-btn avatar-btn">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('{{ user.avatarUrl }}')"></div>
					</div>
				</button>
			</div>
			<div class="expand">
			</div>
		</div>
	</footer>
</div>