{% if user %}


<div class="sd-blackout"></div>

<button id="openSidebar">
	<i class="icon-lightbulb2"></i>
</button>

<div id="sidebarPanel">
	<section>
		<li class="me">
			<a href="{{ user.path }}">
				<div class="user-avatar">
					<div class="avatar" style="background-image: url('{{ user.avatarUrl }}')"></div>
				</div>
				<span>Perfil de {{ user.name|split(' ')|index(0) }}</span>
			</a>
			<a class="cog" href="{{ urls.settings }}">
				<i class="icon-gear"></i>
			</a>
		</li>
	</section>
	{#
	<section>
		<li>
			<a data-trigger="component" data-component="notifications">
				<em data-info="unseen-notifs">0</em>
				<span>Notificações</span>
			</a>
		</li>
		<li>
			<a href="#" data-trigger="component" data-component="createPost">
				<i class="icon-pencil"></i>
				Criar Publicação
			</a>
		</li>
		#}
		{#
		<li>
			<a href="{{ user.path }}">
				<i class="icon-folder2"></i>
				Minhas Publicações
			</a>
		</li>
		<li>
			<a href="#mine">
				<i class="icon-tags"></i>
				Editar Interesses
			</a>
		</li>
	</section>
	#}
	<section>
		<label>Páginas de interesse: {#<button data-trigger="component" data-component="edit-interests">editar</button>#}</label>
		<ul class="interest-list">
			<li data-lab="mathematics">
				<a href="/matematica">
					<i class="dot icon-circle"></i> <span class="name">Matemática</span><span class="count">novo</span>
				</a>
			</li>
			<li data-lab="application">
				<a href="/application">
					<i class="dot icon-circle"></i> <span class="name">Application</span>
				</a>
			</li>
			<li data-lab="physics">
				<a href="/fisica">
					<i class="dot icon-circle"></i> <span class="name">Física</span><span class="count">novo</span>
				</a>
			</li>
			<li data-lab="programming">
				<a href="/programacao">
					<i class="dot icon-circle"></i> <span class="name">Programação</span><span class="count">novo</span>
				</a>
			</li>
			<li data-lab="chemistry">
				<a href="/quimica">
					<i class="dot icon-circle"></i> <span class="name">Química</span><span class="count">novo</span>
				</a>
			</li>
			<li data-lab="meta">
				<a href="/meta">
					<i class="dot icon-circle"></i> <span class="name">QI Labs Meta</span>
				</a>
			</li>
		</ul>
	</section>

	<section class="sidebarBottom">
		<li>
			<button onClick="location.href='/guias'" data-action="explore">
				<span>Explore as Guias</span>
			</button>
			<button onClick="" data-action="show-uv" id="sd-feedback-btn">
				<span>Fale Com a Gente</span>
			</button>
		</li>
		QI LABS 2014 ·
		<a href="{{ urls.faq }}">AJUDA</a> ·
		<a href="#" data-action="logout" data-ajax-post-href="{{ urls.logout }}" data-redirect-href="/">LOGOUT</a>
	</section>
</div>
{% endif %}
