{% if user %}

<div class="sidebar-blackout"></div>

<button id="openSidebar">
	<i class="icon-grid-alt"></i>
</button>

<div id="sidebar">
	<section>
	{#
		<li class="me">
			<a href="{{ user.path }}">
				<div class="user-avatar">
					<div class="avatar" style="background-image: url('{{ user.avatarUrl }}')"></div>
				</div>
				<span>Perfil de {{ user.name|split(' ')|index(0) }}</span>
			</a>
			<a class="cog" href="{{ urls.settings }}">
				<i class="icon-gear"></i>
			</a>
		</li>
		#}
		<li class="link">
			<a href="/problemas">
				<i class="icon-measure"></i>
				Problemas
			</a>
		</li>
	</section>
	<section>
		<label>
			Seus Laboratórios: <button data-trigger="component" data-component="selectInterests">editar</button>
		</label>
		<ul class="interest-list">
			{% for lab in pageMap %}
				{% if user.preferences.interests.indexOf(loop.key) != -1 %}
					<li data-lab="{{ loop.key }}">
						<a href="{{ lab.path }}">
							<i class="dot icon-circle"></i> <span class="name">{{ lab.name }}</span>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section>
		<li>
			<button onClick="location.href='/guias'" data-action="explore">
				<span>Explore as Guias</span>
			</button>
		</li>
	</section>
	<section class="sidebar-bottom">
		QI LABS 2014 ·
		<a href="{{ urls.faq }}">AJUDA</a> ·
		<a href="#" data-action="logout" data-ajax-post-href="{{ urls.logout }}" data-redirect-href="/">LOGOUT</a>
	</section>
</div>
{% endif %}