{% extends '../snpage.html' %}
{% set dataPage="guide_contribute" %}
{% set pageTitle = "Contribua · QiLabs" %}
{%
set navbarOpts = {
	pageId: 'guide-home',
	pageDetailLabel: 'Guias',
	navMenu: [{name:'Guias',url:'/guias','icon':'icon-books'},{name:'Contribua',url:'/guias/contribua'}]
}
%}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% block pageTitle %}
Guias · QiLabs
{% endblock %}

{% block head %}
	<script>conf={postsRoot:'/api/users/{{ user.id }}/posts'};
	user_profile={id:'{{user.id}}', name:'{{user.name}}', path:'{{user.path}}', avatarUrl: '{{user.avatarUrl}}'}</script>
	{% parent %}
	{% block meta %}
		{% set smallHtml = guide.html.slice(0,200) %}
		{{ metaTagMacros.og({
			title: "Guia "+guide.name+" · QiLabs",
			url: 'http://qilabs.org'+guide.path,
			description: smallHtml.replace(RegExp('(<([^>]+)>)','ig'),"")+"...",
		}) }}
	{% endblock %}
{% endblock %}

{% block global-container %}
<div class="container pWrapper">
	<div class="row paper">
	{% markdown %}
		{% include '../../static/guias/contribuicao.md' %}
	{% endmarkdown %}
	</div>
</div>
{% endblock %}