{% extends '../snpage.html' %}
{% set dataPage="guide_home" %}

{% import '../macros/tags.html' as tagMacros %}
{% import '../macros/metaTags.html' as metaTagMacros %}

{%
set navbarOpts = {
	pageId: 'guide-home',
	pageDetailLabel: 'Guias',
	navMenu: [{name:'Guias',url:'/guias','icon':'icon-books'}]
}
%}

{%
set pageTitle = "Guias · QI Labs";
%}
{% block pageTitle %}
Guias · QiLabs
{% endblock %}

{% block head %}
	{% parent %}
	{% block meta %}
		{% set smallHtml = guide.html.slice(0,200) %}
		{{ metaTagMacros.facebook({
			title: "Guia "+guide.name+" · QI Labs",
			url: 'http://qilabs.org'+guide.path,
			description: smallHtml.replace(RegExp('(<([^>]+)>)','ig'),"")+"...",
		}) }}
		{{ metaTagMacros.twitter({
			title: "Guia "+guide.name+" · QI Labs",
		}) }}
	{% endblock %}
{% endblock %}

{% block global-container %}
<div class="container pWrapper">
	<div class="header">
		<a href="/guias/contribua" class="btn contribute-btn">
			Contribua <i class="icon-pencil3"></i>
		</a>
		<div class="title">
			QI<i class="icon-compass3"></i>Guias
		</div>
		<div class="sub">
			A Enciclopédia para os futuros gênios.
		</div>
		<input class="" type="text" />
	</div>

	<div class="display">
		<a href="/guias/olimpiadas-matematica" data-tag="matematica" class="item ready">
			<div class="background blur" style="background-image: url(/static/images/u/math.jpg)"></div>
			<div class="blackout"></div>
			<div class="item-cover">
				<i class="icon-circle-compass"></i>
				<label>Olimpíada de Matemática</label>
			</div>
			<summary></summary>
		</a>
		<a href="/guias/application" data-tag="application" class="item">
			<div class="background blur" style="background-image: url(/static/images/u/mit.jpg)"></div>
			<div class="blackout"></div>
			<div class="item-cover">
				<i class="icon-directions"></i>
				<label>Application</label>
			</div>
		</a>
		<a href="/guias/vestibular" data-tag="vestibular" class="item ready">
			<div class="background blur" style="background-image: url(/static/images/u/vest.jpg)"></div>
			<div class="blackout"></div>
			<div class="item-cover">
				<i class="icon-study"></i>
				<label>Vestibular</label>
			</div>
		</a>
		<div data-tag="vestibular-militar" class="item">
			<div class="blackout"></div>
			<div class="item-cover">
				<i class="icon-strategy"></i>
				<label>Vestibular Militar</label>
			</div>
		</div>
		<div data-tag="fisica" class="item">
			<div class="blackout"></div>
			<div class="item-cover">
				<i class="icon-genius"></i>
				<label>Olimpíada de Física</label>
			</div>
		</div>
		<div data-tag="quimica" class="item">
			<div class="blackout"></div>
			<div class="item-cover">
				<i class="icon-lab"></i>
				<label>Olimpíada de Química</label>
			</div>
		</div>
	</div>

	<section class="editores">
		<label>
			<h2><strong>Editores das Guias</strong></h2>
		</label>
		<ul class="people">
			<li>
				<a href="/@michelle.malher">
				<figure>
					<img src="https://graph.facebook.com/michelle.malher/picture?width=200&height=200"></img>
				</figure>
				<figcaption>
					<span class="name">Michelle Malher</span>
				</figcaption>
				</a>
			</li>
			<li>
				<a href="/@matheus.carioca.s">
				<figure>
					<img src="https://graph.facebook.com/matheus.carioca.s/picture?width=200&height=200"></img>
				</figure>
				<figcaption>
					<span class="name">Matheus Carioca</span>
				</figcaption>
				</a>
			</li>
			<li>
				<a href="/@nicole.dux">
				<figure>
					<img src="https://graph.facebook.com/nicole.dux/picture?width=200&height=200"></img>
				</figure>
				<figcaption>
					<span class="name">Dux Institute</span>
				</figcaption>
				</a>
			</li>
			<li>
				<a href="/@franco.severo.7">
				<figure>
					<img src="https://graph.facebook.com/franco.severo.7/picture?width=200&height=200"></img>
				</figure>
				<figcaption>
					<span class="name">Franco Severo</span>
				</figcaption>
				</a>
			</li>
		</ul>
	</section>

	<footer>
		<div>
			Um projeto <span class="brand">QILABS</span> <i class="icon-circle"></i> <a href="/guias/contribua">Contribua</a>
		</div>
		<i class="icon-bulb2 xbulb inverse"></i>
	</footer>
</div>
{% endblock %}