{% extends '../snpage.html' %}
{% set dataPage="guide_home" %}

{% import '../macros/metaTags.html' as metaTagMacros %}

{% set navbarOpts = {
	pageId: 'guide-home',
	pageDetailLabel: 'Guias',
	navMenu: [{name:'Guias',url:'/guias',icon:'icon-books'},],
	pageRoot: 'guides',
} %}
{%
set sbOpts = {
	pageRoot: 'guides',
}
%}

{% if !user %}
{% set navbarOpts.navbarClass = 'public' %}
{% endif %}

{%
set pageTitle = "Guias | QI Labs";
%}
{% block pageTitle %}
Guias · QiLabs
{% endblock %}

{% block meta %}
{{ metaTagMacros.meta({
	description: 'A Enciclopédia para os futuros gênios.'
}) }}
{{ metaTagMacros.og({
	title: "QI Labs Guias",
	image: "http://qilabs.org/static/images/logoBB.png",
	url: 'http://www.qilabs.org/guias',
	description: 'A Enciclopédia para os futuros gênios.'
}) }}
{% endblock %}

{% block global-container %}
<div class="qi-header">
	<div class="box">
		<div class="title">
		</div>

		<h1>Bem-vindo às <strong>Guias</strong> <i class="icon-local-library"></i></h1>
		<h2>Aqui você pode aprender sobre olimpíadas científicas e outras atividades.</h2>

		<p>
			As nossas guias são como enciclopédias de extra-curriculares: aqui estão informações gerais sobre as atividades e sobre como começar. O <strong>nosso conteúdo é 100% colaborativo</strong>, então usuário pode enviar sugestões de modificação ou suas próprias páginas para a gente.

			<small><a href="/guias/contribua">Clique aqui para saber como contribuir.</a></small>
		</p>

		<h4>Divirta-se! :)</h4>
	</div>
</div>

<div>
	<div onClick="location.href='/guias/olimpiadas-matematica'" data-tag="matematica" class="item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/6xfvRcl.jpg)"></div>
			<div class="blackout"></div>
			<i class="icon-circle-compass"></i>
			<label>Olimpíada de Matemática</label>
		</div>
		<div class="item-bottom">
			<a class="button access-lab" href="/labs/matematica">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@andré.costa">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100004125611160/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="André Costa"></div>
					</div>
				</a>
				<a href="/@franco.severo.7">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002970450567/picture?width=200&amp;height=200')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Franco Severo"></div>
					</div>
				</a>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
				<a href="/@felipe">
				<div class="user-avatar">
					<div class="avatar" style="background-image: url('http://i.imgur.com/nXb8vMd.png')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Felipe Aragão"></div>
				</div>
				</a>
				<a href="/@matheus.carioca.s">
					<div class="user-avatar">
						<div class="avatar" style="background: url(https://graph.facebook.com/100001743444071/picture?width=200&height=200?width=200&height=200)" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Matheus Carioca"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/application"' data-tag="application" class="item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/pDi89os.jpg)"></div>
			<div class="blackout"></div>
			<i class="icon-directions"></i>
			<label>Application</label>
		</div>
		<div class="item-bottom">
			<a class="button access-lab" href="/labs/application">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
				<a href="/@nicole.dux">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100005151577649/picture?width=200&amp;height=200')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Nicole Dux"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/olimpiadas-fisica"' data-tag="fisica" class="item inconstruction">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/rV40WF4.jpg)"></div>
			<div class="blackout"></div>
			<i class="icon-rocket2"></i>
			<label>Olimpíada de Física</label>
		</div>
		<div class="item-bottom">
			<a class="button access-lab" href="/labs/fisica">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
				<a href="/@matheus.carioca.s">
					<div class="user-avatar">
						<div class="avatar" style="background: url(https://graph.facebook.com/100001743444071/picture?width=200&height=200?width=200&height=200)" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Matheus Carioca"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/transfer"' data-tag="transfer" class="item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/zuFpeZc.jpg)"></div>
			<div class="blackout"></div>
			<i class="icon-directions"></i>
			<label>Transfer Application</label>
		</div>
		<div class="item-bottom">
			<a class="button access-lab" href="/labs/application">Ir para Laboratório</a>
			<div class="contributors">
				<label>Editores</label>
				<a href="/@filipe.peres">
					<div class="user-avatar">
						<div class="avatar" style="background: url(https://graph.facebook.com/100001330103507/picture?width=200&height=200)" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Filipe Peres"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div onClick='location.href="/guias/vestibular"' data-tag="vestibular" class="item">
		<div class="item-cover">
			<div class="background blur" style="background-image: url(http://i.imgur.com/RpK0Ngt.jpg)"></div>
			<div class="blackout"></div>
			<i class="icon-study"></i>
			<label>Vestibular</label>
		</div>
		<div class="item-bottom">
			<div class="contributors">
				<label>Editores</label>
				<a href="/@michelle">
					<div class="user-avatar">
						<div class="avatar" style="background-image: url('https://graph.facebook.com/100002234680040/picture')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Michelle Malher"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	{#
	<div data-tag="vestibular-militar" class="item">
		<div class="blackout"></div>
		<div class="item-cover">
			<i class="icon-strategy"></i>
			<label>Vestibular Militar</label>
		</div>
	</div>
	<div data-tag="programming" class="item">
		<div class="blackout"></div>
		<div class="item-cover">
			<i class="icon-terminal"></i>
			<label>Programação</label>
		</div>
	</div>
	<div data-tag="quimica" class="item">
		<div class="blackout"></div>
		<div class="item-cover">
			<i class="icon-lab"></i>
			<label>Olimpíada de Química</label>
		</div>
	</div>
	#}
</div>

<footer>
	<div>
		Um projeto <span class="brand">QILABS</span> <i class="icon-circle"></i> <a href="/guias/contribua">Contribua</a>
	</div>
	<i class="icon-lightbulb xbulb inverse"></i>
</footer>
{% endblock %}