{% extends '../snpage.html' %}
{% set dataPage="guide" %}

{% import '../macros/tags.html' as tagMacros %}
{% import '../macros/metaTags.html' as metaTagMacros %}

{%
set navbarOpts = {
	pageId: 'guide-page',
	navMenu: [
		{name:'Guias',url:'/guias',icon:'icon-books'},
		{name: root.name, url: root.url, sicon: root.icon},
	]
} %}

{% block head %}
	{% parent %}
	{% block meta %}
		{% set smallHtml = guide.html.slice(0,200) %}
		{{ metaTagMacros.facebook({
			title: "Guia "+guide.name+" · QI Labs.org",
			url: 'http://qilabs.org'+guide.path,
			description: smallHtml.replace(RegExp('(<([^>]+)>)','ig'),"")+"...",
		}) }}
		{{ metaTagMacros.twitter({
			title: "Guia "+guide.name+" · QI Labs.org",
		}) }}
	{% endblock %}
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400,400i/Crimson:400,600i,700i/Domine:400,700/Clear+Sans:400,500,700/Bitter:400,700/Libre+Baskerville:400,700/Merriweather:400,400i,700",>
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|Lora:400,400italic,700|PT+Serif:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}

{% block global-container %}

	<div class="guide">
		<header>
			<div class="cover" style="background-image: url({{ guideNode.background }})"></div>
			<div class="blackout"></div>
			{% if root.icon %}
				<div class="thumbnail">
					<i class="{{ root.icon }}"></i>
				</div>
			{% endif %}
			<div class="info">
				<a href="#" class="btn contribute-btn">
					Seja um Contribuidor
				</a>
				<h1>
					<a href="{{ root.path }}">{{ root.name }}</a>
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="info-authors">
					{% if root.contributors %}
					<label>Últimas Contribuições</label>
					{% for person in root.contributors|slice(4) %}
						<a href="{{ person.path }}">
							<div class="user-avatar">
								<div class="avatar" style="background-image: url('{{ person.avatarUrl }}')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{ person.name }}"></div>
							</div>
						</a>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</header>

		<div class="sidebar">
 			<div class="sb-input-wrapper">
 			<form onSubmit="$('#srry').fadeIn(); return false;">
 				<i class="icon-search"></i>
				<input type="text" placeholder="Pesquisar..." />
			</form>
			</div>
			<div class="topicsList">
			{% for g in tree %}
				<li class="
				{% if g.hasChildren %}
					hasChildren
				{% endif %}
				{% if g.isOpen %}
					open parent
				{% endif %}
				{% if guideNode.id === g.id %}
					active open
				{% endif %}
				">
					<a href="{{ g.path }}">{{ g.name }}</a>
					{% if g.isOpen %}
						<i class="arrow" onClick="$(this.parentElement).toggleClass('open')"></i>
					{% else %}
						{% if g.hasChildren %}
							<i class="arrow" onClick="$(this.parentElement).toggleClass('open')"></i>
						{% endif %}
					{% endif %}
				</li>
				{% if g.children %}
					<ul>
					{% for g2 in g.children %}
						<li {% if guideNode.id === g2.id %} class="active" {% endif %}>
							<a href="{{ g2.path }}">{{ g2.name }}</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</div>
			<footer>
				<button class="feedback-btn" id="guide-feedback-btn">
					Sabe como melhorar essa página?
				</button>
			</footer>
		</div>

		<div class="contentCol">
			<section class="content">
			{{ guideNode.html|safe }}
			</section>
		</div>
	</div>

{% endblock %}
{% block bodyEnd %}
<script>
UserVoice.push(['addTrigger', '#guide-feedback-btn', { mode: 'contact', }]);
</script>
{% endblock %}