{% extends '../snpage.html' %}
{% set dataPage="guide" %}

{% import '../macros/tags.html' as tagMacros %}
{% import '../macros/metaTags.html' as metaTagMacros %}

{%
set pageTitle = guideNode.name+" · QiLabs"
%}

{%
set navbarOpts = {
	pageId: 'guide-page',
	navMenu: [
		{name:'Guias',url:'/guias',icon:'icon-books'},
		{name: root.name, url: root.url, sicon: root.icon},
	]
} %}

{% block head %}
	{% parent %}
	{# <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,500,700/Bitter:400,700/Merriweather:400,400i,700"> #}
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700|PT+Serif:400,400i,700,700i'>
	{% block meta %}
		{% set smallHtml = guide.html.slice(0,200) %}
		{{ metaTagMacros.facebook({
			title: "Guia "+guide.name+" · QiLabs",
			url: 'http://qilabs.org'+guide.path,
			description: smallHtml.replace(RegExp('(<([^>]+)>)','ig'),"")+"...",
		}) }}
		{{ metaTagMacros.twitter({
			title: "Guia "+guide.name+" · QiLabs",
		}) }}
	{% endblock %}
{% endblock %}

{% block global-container %}

	<div class="guide">
		<header>
			<div class="cover" style="background-image: url({{ guideNode.background }})"></div>
			<div class="blackout"></div>
			{% if root.icon %}
				<div class="thumbnail">
					<i class="{{ root.icon }}"></i>
				</div>
			{% endif %}
			<div class="info">
				<a href="/guias/contribua" class="btn contribute-btn">
					Contribua <i class="icon-pencil3"></i>
				</a>
				<h1>
					<a href="{{ root.path }}">{{ root.name }}</a>
				</h1>
				<p>
					{{ root.bio }}
				</p>
				<div class="info-authors">
					{% if root.contributors.length %}
					<label>Últimas Edições</label>
					{% for person in root.contributors|slice(4) %}
						<a href="{{ person.path }}">
							<div class="user-avatar">
								<div class="avatar" style="background-image: url('{{ person.avatar_url }}')" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{ person.name }}"></div>
							</div>
						</a>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</header>

		<div class="sidebar">
 			<div class="sb-input-wrapper">
 			<form onSubmit="$('#srry').fadeIn(); return false;">
 				<i class="icon-search"></i>
				<input type="text" onFocus="$('#srry').fadeIn(); return false;" placeholder="Pesquisar..." />
			</form>
			</div>
			<div class="topicsList">
			{% for g in tree %}
				<li class="
				{% if g.hasChildren %}
					hasChildren
				{% endif %}
				{% if g.isOpen %}
					open parent
				{% endif %}
				{% if guideNode.id === g.id %}
					active open
				{% endif %}
				"
				{% if !g.path %}
				onClick="toggleArrow(this)"
				{% endif %}
				>
				<a
				{% if g.path %}
				href="{{ g.path }}"
				{% endif %}
				>{{ g.name }}</a>
					{% if g.isOpen %}
						<i class="arrow" onClick="toggleArrow(this.parentElement)"></i>
					{% else %}
						{% if g.hasChildren %}
							<i class="arrow" onClick="toggleArrow(this.parentElement)"></i>
						{% endif %}
					{% endif %}
				</li>
				{% if g.children %}
					<ul>
					{% for g2 in g.children %}
						<li {% if guideNode.id === g2.id %} class="active" {% endif %}>
							<a href="{{ g2.path }}">{{ g2.name }}</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</div>
			<footer>
				<button class="feedback-btn" id="guide-feedback-btn">
					Sabe como melhorar essa página?
				</button>
			</footer>
		</div>
		<script>
			function toggleArrow (node) {
				if ($(node).hasClass('open')) {
					$('.topicsList').find('li.isOpen, li.hasChildren').removeClass('open');
					$(node).removeClass('open');
				} else {
					$('.topicsList').find('li.isOpen, li.hasChildren').removeClass('open');
					$(node).addClass('open');					
				}
			}
		</script>

		<div class="contentCol">
			<section class="content">
			{{ guideNode.html|safe }}
			</section>
			{% if guideNode.notes %}
			<section class="notes">
			{{ guideNode.notes|safe }}
			</section>
			{% endif %}
		</div>
	</div>

{% endblock %}
{% block bodyEnd %}
<script>
UserVoice && UserVoice.push(['addTrigger', '#guide-feedback-btn', { mode: 'contact', }]);
</script>
{% endblock %}